Repository HHS/OPRE-OPS: changes, and which pre-commit hooks are due for each by the changed paths.
All: nox-lint, eslint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: detect-aws-credentials
      - id: detect-private-key
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-json
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict

  ## Used to find secrets throughout the repository.
  -   repo: https://github.com/ibm/detect-secrets
      rev: 0.13.1+ibm.54.dss # https://github.com/Yelp/detect-secrets/releases
      hooks:
      -   id: detect-secrets
          args: ['--baseline', '.secrets.baseline']
          exclude: Pipfile.lock
  - repo: https://github.com/hadolint/hadolint
    rev: v2.10.0
    hooks:
      - id: hadolint
  # We're running black, but doing it via nox session instead - see below
  # - repo: https://github.com/psf/black
  #   rev: 22.6.0
  #   hooks:
  #   -   id: black
  - repo: https://github.com/pre-commit/mirrors-isort
    rev: v5.10.1
    hooks:
      - id: isort
  - repo: local
    hooks:
      - id: nox-lint
        name: nox-lint
        entry: bash -c 'cd ./backend_flask/ops_api && pipenv run nox -s lint'
        language: system
        types:
         - python
        pass_filenames: false
      - id: eslint
        name: eslint
        entry: bash -c 'cd ./frontend/ && yarn lint'
        language: system
        types_or:
          - javascript
          - jsx
          - css
          - html
        pass_filenames: false

add marshmallow-enum dep needed by desert
  backend/ops_api/Pipfile
  backend/ops_api/Pipfile.lock
Due: none

add status query param
  backend/ops_api/Pipfile.lock
  backend/ops_api/ops/resources/budget_line_items.py
  backend/ops_api/tests/ops/can/test_budget_line_item.py
Due: nox-lint

refactor:convert str to enum
  backend/ops_api/ops/resources/budget_line_items.py
Due: nox-lint

adds delete msg success
  frontend/src/pages/budgetLines/CreateBudgetLine.jsx
  frontend/src/pages/budgetLines/PreviewTable.jsx
  frontend/src/pages/budgetLines/createBudgetLineSlice.js
Due: eslint

use desert schema for response JSON
  backend/ops_api/ops/resources/budget_line_items.py
Due: nox-lint

add query params to OpenAPI spec for BLI
  .secrets.baseline
  openapi.yml
Due: none

adds reusable function to be more DRY
  frontend/src/pages/budgetLines/CreateBudgetLine.jsx
Due: eslint

use desert serialization for BLI item API
  backend/ops_api/ops/resources/budget_line_items.py
Due: nox-lint

adds GoBack modal
  frontend/src/components/UI/Modal/Modal.jsx
  frontend/src/pages/budgetLines/CreateBudgetLine.jsx
Due: eslint

cleanup
  frontend/src/pages/budgetLines/CreateBudgetLine.jsx
Due: eslint

adds delete bli modal
  frontend/src/pages/budgetLines/CreateBudgetLine.jsx
  frontend/src/pages/budgetLines/createBudgetLineSlice.js
Due: eslint

Task 751 (#843)
  frontend/src/components/UI/Alert/Alert.jsx
  frontend/src/components/UI/Modal/Modal.jsx
  frontend/src/pages/budgetLines/CreateBudgetLine.jsx
  frontend/src/pages/budgetLines/PreviewTable.jsx
  frontend/src/pages/budgetLines/createBudgetLineSlice.js
Due: eslint

adds keyboard trap
  frontend/src/components/UI/Modal/Modal.jsx
Due: eslint

refactored StepIndicator to a dynamic component
  frontend/src/components/UI/StepIndicator/StepIndicator.jsx
Due: eslint

added unit tests
  frontend/src/components/UI/StepIndicator/StepIndicator.test.js
Due: eslint

Updated to add the `complete` style
  frontend/src/components/UI/StepIndicator/StepIndicator.jsx
  frontend/src/components/UI/StepIndicator/StepIndicator.test.js
Due: eslint

refactor to use new `StepIndicator`
  frontend/src/components/UI/StepIndicator/StepIndicatorOne.jsx
  frontend/src/components/UI/StepIndicator/StepIndicatorThree.jsx
  frontend/src/components/UI/StepIndicator/StepIndicatorTwo.jsx
  frontend/src/pages/budgetLines/CreateBudgetLine.jsx
Due: eslint

Alert feedback
  frontend/src/components/UI/Alert/Alert.jsx
  frontend/src/pages/budgetLines/CreateBudgetLine.jsx
Due: eslint

wired up agreements
  frontend/src/api/getAgreements.js
  frontend/src/pages/budgetLines/AgreementSelect.jsx
  frontend/src/pages/budgetLines/CreateBudgetLine.jsx
  frontend/src/pages/budgetLines/ProjectSelect.jsx
Due: eslint

wired up agreements (#850)
  frontend/src/api/getAgreements.js
  frontend/src/pages/budgetLines/AgreementSelect.jsx
  frontend/src/pages/budgetLines/CreateBudgetLine.jsx
  frontend/src/pages/budgetLines/ProjectSelect.jsx
Due: eslint

accounts for null in `created_on` for budget_lines
  frontend/src/pages/budgetLines/PreviewTable.jsx
Due: eslint

adds some date needed to budget lines
  backend/data_tools/data/agreements_and_blin_data.json5
  frontend/src/pages/budgetLines/PreviewTable.jsx
Due: eslint

accounts for status `IN_EXECUTION`
  frontend/src/pages/budgetLines/PreviewTable.jsx
Due: eslint

reverse not needed?
  frontend/src/pages/budgetLines/PreviewTable.jsx
Due: eslint

fixes dropdown 0 bug
  frontend/src/pages/budgetLines/AgreementSelect.jsx
  frontend/src/pages/budgetLines/CreateBudgetLine.jsx
Due: eslint

remove Portfolio from ResearchProject and fix unit tests
  backend/models/portfolios.py
  backend/models/research_projects.py
  backend/ops_api/ops/resources/research_projects.py
  backend/ops_api/ops/utils/research_project_helper.py
  backend/ops_api/tests/ops/funding_summary/test_research_project_funding_summary.py
  backend/ops_api/tests/ops/research_project/test_research_project.py
Due: nox-lint

disables Agreement if no Project is selected
  frontend/src/pages/budgetLines/AgreementSelect.jsx
Due: eslint

adds dates and fees
  backend/data_tools/data/agreements_and_blin_data.json5
Due: none

remove Portfolio from ResearchProject on frontend and fix tests
  frontend/cypress/e2e/researchProjectDetail.cy.js
  frontend/cypress/fixtures/initial-state.json
  frontend/src/pages/researchProjects/detail/ResearchProjectDetail.jsx
  frontend/src/pages/researchProjects/detail/researchProjectSlice.js
Due: eslint

remove random number - use CAN id for uniqueness
  frontend/src/components/CANs/CanCard/CanCard.jsx
Due: eslint

updated agreement and proc_shop models
  backend/models/cans.py
  backend/models/procurement_shops.py
Due: nox-lint

resets selected agreement on back
  frontend/src/pages/budgetLines/CreateBudgetLine.jsx
Due: eslint

updated sample data
  backend/data_tools/data/agreements_and_blin_data.json5
Due: none

Can updates from new can states
  frontend/src/pages/budgetLines/CanSelect.jsx
  frontend/src/pages/budgetLines/CreateBudgetLine.jsx
  frontend/src/pages/budgetLines/PreviewTable.jsx
  frontend/src/pages/budgetLines/createBudgetLineSlice.js
Due: eslint

fixes state issues with CanSelect
  frontend/src/pages/budgetLines/CanSelect.jsx
Due: eslint

add CREATE_NEW_RESEARCH_PROJECT ops event
  backend/models/events.py
Due: nox-lint

add initial POST /research-projects
  backend/ops_api/ops/resources/research_projects.py
  backend/ops_api/tests/ops/research_project/test_research_project.py
Due: nox-lint

bug:User.full_name not working with f string
  backend/models/users.py
  backend/ops_api/tests/ops/research_project/test_research_project.py
Due: nox-lint

properly sets can on create new bli
  frontend/src/pages/budgetLines/CreateBudgetLine.jsx
Due: eslint
