Repository HHS/OPRE-OPS: changes, and which pre-commit hooks are due for each by the changed paths.
All: nox-lint, eslint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: detect-aws-credentials
      - id: detect-private-key
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-json
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict

  - repo: https://github.com/hadolint/hadolint
    rev: v2.10.0
    hooks:
      - id: hadolint
  # We're running black, but doing it via nox session instead - see below
  # - repo: https://github.com/psf/black
  #   rev: 22.6.0
  #   hooks:
  #   -   id: black
  - repo: https://github.com/pre-commit/mirrors-isort
    rev: v5.10.1
    hooks:
      - id: isort
        args: ["--profile", "black", "--filter-files"]
  - repo: https://github.com/antonbabenko/pre-commit-terraform
    rev: v1.76.0
    hooks:
      - id: terraform_fmt
      - id: terraform_tflint
  - repo: local
    hooks:
      - id: nox-lint
        name: nox-lint
        entry: bash -c 'cd ./backend/ops_api && pipenv run nox -s lint'
        language: system
        types:
          - python
        pass_filenames: false
      - id: eslint
        name: eslint
        entry: bash -c 'cd ./frontend/ && bun lint'
        language: system
        types_or:
          - javascript
          - jsx
          - css
          - html
        pass_filenames: false

refactor:
  frontend/src/components/BudgetLineItems/BLIReviewTable/BLIReviewRow.js
  frontend/src/components/BudgetLineItems/BLIReviewTable/BLIReviewTable.js
Due: eslint

refactor: :recycle: Refactor agreement review workflow and add Services Component
  frontend/cypress/e2e/reviewAgreement.cy.js
  frontend/src/components/UI/WizardSteps/StepCreateBLIsAndSCs/StepCreateBLIsAndSCs.jsx
  frontend/src/components/UI/WizardSteps/StepCreateBLIsAndSCs/useCreateBLIsAndSCs.hooks.js
Due: eslint

refactor: :memo: Add PropTypes and JSDocs to useCreateBLIsAndSCs hook
  frontend/src/components/UI/WizardSteps/StepCreateBLIsAndSCs/useCreateBLIsAndSCs.hooks.js
Due: eslint

fix: :bug: Fix services component display name bug
  frontend/src/components/BudgetLineItems/BLIReviewTable/BLIReviewRow.js
  frontend/src/components/BudgetLineItems/BudgetLinesTable/BLIRow.js
  frontend/src/components/UI/WizardSteps/StepCreateBLIsAndSCs/useCreateBLIsAndSCs.hooks.js
  frontend/src/pages/servicesComponents/Select/Select.jsx
Due: eslint

fix: :bug: Update budgetLines prop in BudgetLinesTable.test.js
  frontend/src/components/BudgetLineItems/BudgetLinesTable/BudgetLinesTable.test.js
Due: eslint

cleanup
  frontend/cypress/e2e/reviewAgreement.cy.js
Due: eslint

fix: :bug: adds a check to ensure changes are made prior to PATCH
  frontend/cypress/e2e/editAgreement.cy.js
  frontend/src/components/Agreements/AgreementEditor/AgreementEditForm.jsx
Due: eslint

refactor: :recycle: Add useHasStateChanged hook to AgreementEditForm
  frontend/src/components/Agreements/AgreementEditor/AgreementEditForm.jsx
  frontend/src/hooks/useHasStateChanged.hooks.js
  frontend/src/hooks/useHasStateChanged.test.js
Due: eslint

fix: :bug: adds a check to ensure changes are made prior to PATCH (#2003)
  frontend/cypress/e2e/editAgreement.cy.js
  frontend/src/components/Agreements/AgreementEditor/AgreementEditForm.jsx
Due: eslint

use date instead of datetime for actual_date and target_date
  backend/models/workflows.py
  backend/ops_api/ops/schemas/procurement_steps.py
  backend/ops_api/tests/ops/workflows/test_procurement_steps.py
Due: nox-lint

docs: :memo: Fix typos and update comments in budget line item tests and forms
  backend/ops_api/tests/ops/can/test_budget_line_item.py
  frontend/src/components/UI/Form/CreateBudgetLinesForm/CreateBudgetLinesForm.jsx
  frontend/src/components/UI/Form/CreateBudgetLinesForm/suite.js
Due: nox-lint, eslint

cleanup
  backend/ops_api/tests/ops/can/test_budget_line_item.py
Due: nox-lint

Fix formatting issue in test_budget_line_item.py
  backend/ops_api/tests/ops/can/test_budget_line_item.py
Due: nox-lint

updates BLI form for Services Component (#1999)
  backend/ops_api/ops/resources/budget_line_item_schemas.py
  backend/ops_api/tests/ops/can/test_budget_line_item.py
  frontend/cypress/e2e/budgetLineItemsList.cy.js
  frontend/cypress/e2e/cancelBudgetLine.cy.js
  frontend/cypress/e2e/createAgreement.cy.js
  frontend/cypress/e2e/createBudgetLine.cy.js
  frontend/cypress/e2e/reviewAgreement.cy.js
  frontend/src/components/BudgetLineItems/BLIReviewTable/BLIReviewRow.js
  frontend/src/components/BudgetLineItems/BLIReviewTable/BLIReviewTable.js
  frontend/src/components/BudgetLineItems/BudgetLinesTable/BLIRow.js
  frontend/src/components/BudgetLineItems/BudgetLinesTable/BudgetLinesTable.constants.js
  frontend/src/components/BudgetLineItems/BudgetLinesTable/BudgetLinesTable.jsx
  frontend/src/components/BudgetLineItems/BudgetLinesTable/BudgetLinesTable.test.js
  frontend/src/components/BudgetLineItems/TotalSummaryCard/TotalSummaryCard.jsx
  frontend/src/components/BudgetLineItems/TotalSummaryCard/TotalSummaryCard.test.js
  frontend/src/components/BudgetLineItems/TotalSummaryCard/index.js
  frontend/src/components/UI/Form/CreateBudgetLinesForm/CreateBudgetLinesForm.jsx
  frontend/src/components/UI/Form/CreateBudgetLinesForm/suite.js
  frontend/src/components/UI/Header/Menu.jsx
  frontend/src/components/UI/WizardSteps/StepCreateBLIsAndSCs/StepCreateBLIsAndSCs.jsx
  frontend/src/components/UI/WizardSteps/StepCreateBLIsAndSCs/context.js
  frontend/src/components/UI/WizardSteps/StepCreateBLIsAndSCs/suite.js
  frontend/src/components/UI/WizardSteps/StepCreateBLIsAndSCs/useCreateBLIsAndSCs.hooks.js
  frontend/src/hooks/useServicesComponents.hooks.js
  frontend/src/index.jsx
  frontend/src/pages/agreements/approve/ApproveAgreement.js
  frontend/src/pages/agreements/details/AgreementBudgetLines.js
  frontend/src/pages/agreements/review/ReviewAgreement.jsx
  frontend/src/pages/agreements/review/suite.js
  frontend/src/pages/servicesComponents/AllServicesComponentSelect/AllServicesComponentSelect.jsx
  frontend/src/pages/servicesComponents/AllServicesComponentSelect/index.js
  frontend/src/pages/servicesComponents/PoPEndDate/PoPEndDate.jsx
  frontend/src/pages/servicesComponents/Select/Select.jsx
  frontend/src/pages/servicesComponents/ServicesComponentForm/ServicesComponentForm.jsx
  frontend/src/pages/servicesComponents/ServicesComponents.jsx
  frontend/src/pages/servicesComponents/ServicesComponentsList/ServicesComponentsList.jsx
Due: nox-lint, eslint

refactor to DRYer remove POST add endpoints for PreSolicitation
  backend/ops_api/ops/resources/procurement_steps.py
  backend/ops_api/ops/schemas/procurement_steps.py
  backend/ops_api/ops/urls.py
  backend/ops_api/ops/views.py
  backend/ops_api/tests/ops/workflows/test_procurement_steps.py
Due: nox-lint

minor reorg
  backend/ops_api/ops/resources/procurement_steps.py
Due: nox-lint

basic test for get list
  backend/ops_api/tests/ops/workflows/test_procurement_steps.py
Due: nox-lint

chore: testing build
  .github/workflows/dev_fe_build_and_deploy.yml
  frontend/index.js
Due: eslint

Solicitation endpoints with GETs and Patch
  backend/ops_api/ops/resources/procurement_steps.py
  backend/ops_api/ops/schemas/procurement_steps.py
  backend/ops_api/ops/urls.py
  backend/ops_api/ops/views.py
  backend/ops_api/tests/ops/workflows/test_procurement_steps.py
Due: nox-lint

feat: :bug: checks to make sure Agreement has changed before promting change modal
  frontend/src/components/Agreements/AgreementEditor/AgreementEditForm.jsx
  frontend/src/components/Agreements/DetailsTabs/DetailsTabs.jsx
  frontend/src/pages/agreements/details/Agreement.jsx
  frontend/src/pages/agreements/details/AgreementDetails.jsx
  frontend/src/pages/agreements/details/AgreementDetailsEdit.jsx
Due: eslint

docs: Add setHasAgreementChanged prop to AgreementEditForm
  frontend/src/components/Agreements/AgreementEditor/AgreementEditForm.jsx
Due: eslint

starts e2e test
  frontend/cypress/e2e/agreementDetails.cy.js
  frontend/src/pages/servicesComponents/DebugCode/DebugCode.js
  frontend/src/pages/servicesComponents/DebugCode/DebugCode.jsx
Due: eslint

manually updating GHA download-artifact since renovatebot is all caddywompus about it
  .github/workflows/dev_fe_build_and_deploy.yml
Due: none

test: :test_tube: Fix agreement details tab behavior
  frontend/cypress/e2e/agreementDetails.cy.js
  frontend/src/components/Agreements/DetailsTabs/DetailsTabs.jsx
Due: eslint

chore: trying a new logic
  frontend/index.js
Due: eslint

fix: typo
  frontend/index.js
Due: eslint

fix: path
  frontend/index.js
Due: eslint

Evaluation endpoints with GETs and Patch
  backend/ops_api/ops/resources/procurement_steps.py
  backend/ops_api/ops/schemas/procurement_steps.py
  backend/ops_api/ops/urls.py
  backend/ops_api/ops/views.py
  backend/ops_api/tests/ops/workflows/test_procurement_steps.py
Due: nox-lint

chore: troubleshooting
  frontend/index.js
Due: eslint

PreAward endpoints with GETs and Patch
  backend/ops_api/ops/resources/procurement_steps.py
  backend/ops_api/ops/schemas/procurement_steps.py
  backend/ops_api/ops/urls.py
  backend/ops_api/ops/views.py
  backend/ops_api/tests/ops/workflows/test_procurement_steps.py
Due: nox-lint

Award endpoints with GETs and Patch
  backend/models/workflows.py
  backend/ops_api/ops/resources/procurement_steps.py
  backend/ops_api/ops/schemas/procurement_steps.py
  backend/ops_api/ops/urls.py
  backend/ops_api/ops/views.py
  backend/ops_api/tests/ops/workflows/test_procurement_steps.py
Due: nox-lint

cleanup
  backend/ops_api/ops/resources/procurement_steps.py
  backend/ops_api/tests/ops/workflows/test_procurement_steps.py
Due: nox-lint
