Repository HHS/OPRE-OPS: changes, and which pre-commit hooks are due for each by the changed paths.
All: nox-lint, eslint

nox-lint:
  name: nox-lint
  entry: bash -c 'cd ./backend/ops_api && pipenv run nox -s lint'
  language: system
  pass_filenames: false

eslint:
  name: eslint
  entry: bash -c 'cd ./frontend/ && bun lint'
  language: system
  pass_filenames: false

test: add e2e test
  frontend/cypress/e2e/canList.cy.js
  frontend/src/components/UI/Cards/Card/Card.jsx
  frontend/src/components/UI/Cards/CurrencyCard/CurrencyCard.jsx
  frontend/src/components/UI/Cards/LineGraphWithLegendCard/LineGraphWithLegendCard.jsx
Due: eslint

Created method that checks if the user is assoiciated with the agreement
  backend/data_tools/data/user_data.json5
  backend/ops_api/ops/resources/budget_line_items.py
  backend/ops_api/tests/ops/can/test_budget_line_item.py
Due: nox-lint

Update ir-05.md
  docs/Security-Compliance/Security-Controls/ir/ir-05.md
Due: none

Update ir-06.md
  docs/Security-Compliance/Security-Controls/ir/ir-06.md
Due: none

Update index.md
  docs/Security-Compliance/Security-Controls/ra/index.md
Due: none

Update ra-02.md
  docs/Security-Compliance/Security-Controls/ra/ra-02.md
Due: none

Update ra-05.md
  docs/Security-Compliance/Security-Controls/ra/ra-05.md
Due: none

Update sc-08.md
  docs/Security-Compliance/Security-Controls/sc/sc-08.md
Due: none

Update sc-13.md
  docs/Security-Compliance/Security-Controls/sc/sc-13.md
Due: none

Update sc-28.md
  docs/Security-Compliance/Security-Controls/sc/sc-28.md
Due: none

Update cm-09.md
  docs/Security-Compliance/Security-Controls/cm/cm-09.md
Due: none

Update cm-08.md
  docs/Security-Compliance/Security-Controls/cm/cm-08.md
Due: none

Update cm-08-1.md
  docs/Security-Compliance/Security-Controls/cm/cm-08-1.md
Due: none

Update cm-08-3.md
  docs/Security-Compliance/Security-Controls/cm/cm-08-3.md
Due: none

Update cm-03.md
  docs/Security-Compliance/Security-Controls/cm/cm-03.md
Due: none

Update cm-03-4.md
  docs/Security-Compliance/Security-Controls/cm/cm-03-4.md
Due: none

Update cm-02.md
  docs/Security-Compliance/Security-Controls/cm/cm-02.md
Due: none

Update ca-07.md
  docs/Security-Compliance/Security-Controls/ca/ca-07.md
Due: none

updating ca-07 with link to relevant backlog item
  docs/Security-Compliance/Security-Controls/ca/ca-07.md
Due: none

rev gunicorn and update lock file
  backend/ops_api/Pipfile
  backend/ops_api/Pipfile.lock
Due: none

chore: remove pseudo folder
  frontend/src/components/UI/DataViz/LineChart/readme.md
Due: none

Update ac-12.md
  docs/Security-Compliance/Security-Controls/ac/ac-12.md
Due: none

Update ac-14.md
  docs/Security-Compliance/Security-Controls/ac/ac-14.md
Due: none

Update ac-17.md
  docs/Security-Compliance/Security-Controls/ac/ac-17.md
Due: none

feat: adds changeRequest filter for user
  frontend/src/components/Agreements/AgreementDetailsCards/BLIsByFYSummaryCard/BLIsByFYSummaryCard.jsx
  frontend/src/components/Agreements/AgreementTypes.d.ts
  frontend/src/components/BudgetLineItems/BLIDiffTable/BLIDiffRow.helpers.js
  frontend/src/components/ChangeRequests/ChangeRequestsList/ChangeRequestsList.jsx
  frontend/src/components/UI/RoundedBox/RoundedBox.jsx
  frontend/src/components/UI/RoundedBox/styles.module.css
  frontend/src/helpers/changeRequests.helpers.js
  frontend/src/pages/agreements/approve/ApproveAgreement.hooks.js
  frontend/src/pages/agreements/approve/ApproveAgreement.jsx
  frontend/src/pages/agreements/list/AgreementsList.jsx
Due: eslint

fix: exports
  frontend/src/index.jsx
  frontend/src/pages/budgetLines/list/BudgetLineItemList.jsx
Due: eslint

style: fix icon layout
  frontend/src/components/UI/Alert/Alert.jsx
  frontend/src/components/UI/Alert/SimpleAlert.jsx
  frontend/src/pages/budgetLines/list/BudgetLineItemList.jsx
Due: eslint

refactor: passes correct prop
  frontend/src/pages/agreements/approve/ApproveAgreement.jsx
Due: eslint

style: fix breaking changes from uswds
  frontend/src/components/UI/Alert/Alert.jsx
  frontend/src/components/UI/Alert/SimpleAlert.jsx
Due: eslint

refactor: better name
  frontend/src/pages/agreements/approve/ApproveAgreement.hooks.js
Due: eslint

test: updates unit-tests
  frontend/src/components/UI/Alert/SimpleAlert.jsx
  frontend/src/components/UI/Alert/SimpleAlert.test.jsx
Due: eslint

chore: fix types
  frontend/src/components/BudgetLineItems/BLIDiffTable/BLIDiffRow.jsx
  frontend/src/components/BudgetLineItems/BudgetLineTypes.d.ts
  frontend/src/helpers/utils.js
Due: eslint

fix: sends correct BLIs
  frontend/src/components/BudgetLineItems/BLIDiffTable/BLIDiffRow.jsx
  frontend/src/components/BudgetLineItems/BudgetLineTypes.d.ts
  frontend/src/helpers/changeRequests.helpers.js
  frontend/src/pages/agreements/approve/ApproveAgreement.hooks.js
Due: eslint

another round of updates on critical controls and others
  docs/Security-Compliance/Security-Controls/ac/ac-02-13.md
  docs/Security-Compliance/Security-Controls/ac/ac-17-01.md
  docs/Security-Compliance/Security-Controls/ac/ac-17-02.md
  docs/Security-Compliance/Security-Controls/ac/ac-17-04.md
  docs/Security-Compliance/Security-Controls/ac/ac-20-1.md
  docs/Security-Compliance/Security-Controls/ac/ac-20.md
  docs/Security-Compliance/Security-Controls/ac/index.md
  docs/Security-Compliance/Security-Controls/au/au-03.md
  docs/Security-Compliance/Security-Controls/au/au-06.md
  docs/Security-Compliance/Security-Controls/sc/index.md
  docs/Security-Compliance/Security-Controls/sc/sc-13.md
  docs/Security-Compliance/Security-Controls/sc/sc-20.md
  docs/Security-Compliance/Security-Controls/sc/sc-28-1.md
  docs/Security-Compliance/Security-Controls/sc/sc-28.md
Due: none

Update au-02.md
  docs/Security-Compliance/Security-Controls/au/au-02.md
Due: none

Update au-03-1.md
  docs/Security-Compliance/Security-Controls/au/au-03-1.md
Due: none

Update au-11.md
  docs/Security-Compliance/Security-Controls/au/au-11.md
Due: none

Path conditions:
  nox-lint: any of: \.py$
  eslint: any of: \.(js|mjs|cjs)$, \.jsx$, \.css$, \.(html|htm|xhtml)$
