Repository HHS/OPRE-OPS: changes, and which pre-commit hooks are due for each by the changed paths.
All: nox-lint, eslint

nox-lint:
  name: nox-lint
  entry: bash -c 'cd ./backend/ops_api && pipenv run nox -s lint'
  language: system
  pass_filenames: false

eslint:
  name: eslint
  entry: bash -c 'cd ./frontend/ && bun lint'
  language: system
  pass_filenames: false

feat: Include updated budget lines in AgreementBLIAccordion
  frontend/src/components/Agreements/AgreementBLIAccordion/AgreementBLIAccordion.jsx
  frontend/src/pages/agreements/approve/ApproveAgreement.hooks.js
  frontend/src/pages/agreements/approve/ApproveAgreement.jsx
Due: eslint

refactor: Update useChangeRequests.hooks.js to improve change request handling
  frontend/src/hooks/useChangeRequests.hooks.js
Due: eslint

refactor: Improve change request handling in useChangeRequests.hooks.js
  frontend/src/pages/agreements/approve/ApproveAgreement.hooks.js
Due: eslint

revert: fixes test
  frontend/src/helpers/utils.js
Due: eslint

feat: Improve change request handling in useChangeRequests.hooks.js
  frontend/src/pages/agreements/approve/ApproveAgreement.hooks.js
Due: eslint

add /user-admin route and page
  frontend/src/components/UI/Header/Menu.jsx
  frontend/src/index.jsx
  frontend/src/pages/users/admin/UserAdmin.jsx
Due: eslint

refactor: Update useApproveAgreement.hooks.js to improve checkbox text handling
  frontend/src/pages/agreements/approve/ApproveAgreement.hooks.js
Due: eslint

wip: add UserEmailComboBox.jsx and update User Details component
  frontend/src/api/opsAPI.js
  frontend/src/components/Users/UserEmailComboBox/UserEmailComboBox.jsx
  frontend/src/components/Users/UserEmailComboBox/index.js
  frontend/src/components/Users/UserInfo/UserInfo.jsx
  frontend/src/components/Users/UserInfo/UserInfo.module.css
  frontend/src/pages/users/admin/UserAdmin.jsx
Due: eslint

test: adds test data for BLI with budget change
  frontend/src/tests/data.js
Due: eslint

test: adds more robust tests
  frontend/src/components/Agreements/AgreementBLIAccordion/AgreementBLIAccordion.test.jsx
  frontend/src/components/BudgetLineItems/BLIDiffTable/BLIDiffRow.test.jsx
  frontend/src/components/BudgetLineItems/BLIDiffTable/BLIDiffTable.test.js
Due: eslint

refactor: moves logic to helpers files
  frontend/src/components/BudgetLineItems/BLIDiffTable/BLIDiffRow.helpers.js
  frontend/src/components/BudgetLineItems/BLIDiffTable/BLIDiffRow.jsx
Due: eslint

docs: add notes for future work
  frontend/src/components/Agreements/AgreementBLIAccordion/AgreementBLIAccordion.jsx
Due: eslint

chore: organize imports
  frontend/src/components/Agreements/AgreementCANReviewAccordion/AgreementCANReviewAccordion.jsx
Due: eslint

feat: Add error handling for missing budget line
  frontend/src/components/BudgetLineItems/BLIDiffTable/BLIDiffRow.jsx
Due: eslint

refactor: Highlight changed fields in BLIDiffRow component
  frontend/src/components/BudgetLineItems/BLIDiffTable/BLIDiffRow.test.jsx
  frontend/src/tests/data.js
Due: eslint

test: Highlight changed fields in BLIDiffRow component
  frontend/cypress/e2e/approveChangeRequestsAtAgreementLevel.cy.js
Due: eslint

refactor: Fix formatting issue in date display
  frontend/cypress/e2e/approveChangeRequestsAtAgreementLevel.cy.js
  frontend/src/hooks/useChangeRequests.hooks.js
Due: eslint

feat: ✨ (4) 2349: Approve Agreement toggle action (#2585)
  frontend/cypress/e2e/approveChangeRequestsAtAgreementLevel.cy.js
  frontend/src/api/opsAPI.js
  frontend/src/components/Agreements/AgreementBLIAccordion/AgreementBLIAccordion.jsx
  frontend/src/components/Agreements/AgreementBLIAccordion/AgreementBLIAccordion.test.jsx
  frontend/src/components/Agreements/AgreementCANReviewAccordion/AgreementCANReviewAccordion.jsx
  frontend/src/components/Agreements/Documents/DocumentCollectionView.jsx
  frontend/src/components/Agreements/Documents/styles.module.css
  frontend/src/components/BudgetLineItems/BLIDiffTable/BLIDiffRow.helpers.js
  frontend/src/components/BudgetLineItems/BLIDiffTable/BLIDiffRow.jsx
  frontend/src/components/BudgetLineItems/BLIDiffTable/BLIDiffRow.test.jsx
  frontend/src/components/BudgetLineItems/BLIDiffTable/BLIDiffTable.constants.js
  frontend/src/components/BudgetLineItems/BLIDiffTable/BLIDiffTable.jsx
  frontend/src/components/BudgetLineItems/BLIDiffTable/BLIDiffTable.scss
  frontend/src/components/BudgetLineItems/BLIDiffTable/BLIDiffTable.test.js
  frontend/src/components/BudgetLineItems/BLIDiffTable/index.js
  frontend/src/components/ChangeRequests/ChangeRequests.constants.js
  frontend/src/components/ChangeRequests/ReviewChangeRequestAccordion/ReviewChangeRequestAccordion.jsx
  frontend/src/helpers/changeRequests.helpers.js
  frontend/src/helpers/utils.js
  frontend/src/hooks/useChangeRequests.hooks.js
  frontend/src/pages/agreements/approve/ApproveAgreement.hooks.js
  frontend/src/pages/agreements/approve/ApproveAgreement.jsx
  frontend/src/pages/agreements/list/AgreementTabs.module.css
  frontend/src/tests/data.js
Due: eslint

add Budget Team Member user with User Admin role
  backend/data_tools/data/user_data.json5
  backend/data_tools/initial_data/003-role.sql
  backend/data_tools/initial_data/004-role_version.sql
  backend/data_tools/initial_data/015-ops_user.sql
  backend/data_tools/initial_data/016-ops_user_version.sql
  backend/data_tools/initial_data/017-user_role.sql
  backend/data_tools/initial_data/018-user_role_version.sql
  backend/ops_api/ops/auth/authentication_provider/fake_auth_provider.py
  frontend/src/components/Auth/MultiAuthSection.jsx
Due: nox-lint, eslint

WIP removing ProcurementTracker dependency on old workflows with new ProcurementTracker class
  backend/alembic/versions/2024_07_29_1719-bca30c6d60b5_add_procurmenttracker_and_remove_.py
  backend/models/cans.py
  backend/models/procurement_tracker.py
  backend/models/workflows.py
  backend/ops_api/ops/resources/procurement_steps.py
  backend/ops_api/ops/utils/procurement_workflow_helper.py
  backend/ops_api/ops/views.py
  backend/ops_api/tests/ops/utils/test_procurement_workflow_helper.py
  backend/ops_api/tests/ops/workflows/test_procurement_steps.py
Due: nox-lint

WIP removing old workflows
  backend/models/__init__.py
  backend/models/cans.py
  backend/models/change_requests.py
  backend/models/workflows.py
  backend/ops_api/ops/resources/change_requests.py
  backend/ops_api/ops/resources/package.py
  backend/ops_api/ops/resources/package_snapshot.py
  backend/ops_api/ops/resources/workflow_instance.py
  backend/ops_api/ops/resources/workflow_step_instance.py
  backend/ops_api/ops/resources/workflow_step_template.py
  backend/ops_api/ops/resources/workflow_template.py
  backend/ops_api/ops/schemas/agreements.py
  backend/ops_api/ops/schemas/procurement_steps.py
  backend/ops_api/ops/urls.py
  backend/ops_api/ops/utils/procurement_tracker_helper.py
  backend/ops_api/ops/utils/procurement_workflow_helper.py
  backend/ops_api/ops/views.py
  backend/ops_api/tests/ops/utils/test_procurement_workflow_helper.py
  backend/ops_api/tests/ops/workflows/test_change_requests.py
  backend/ops_api/tests/ops/workflows/test_procurement_tracker.py
  backend/ops_api/tests/ops/workflows/test_workflow_procurement.py
  backend/ops_api/tests_manual/ops/test_change_requests.py
Due: nox-lint

remove old workflows test data
  backend/data_tools/data/workflow_data.json5
  backend/data_tools/scripts/import_test_data.sh
Due: none

test: starts unit-tests for related components
  frontend/src/components/Agreements/AgreementCANReviewAccordion/AgreementCANReviewAccordion.test.jsx
  frontend/src/components/CANs/CANFundingCard/CanFundingCard.test.jsx
  frontend/src/pages/agreements/approve/ApproveAgreement.jsx
Due: eslint

Add new profile to load db with demo data
  backend/data_tools/demo_data/demo-script.sql
  backend/data_tools/scripts/demo_data.sh
  docker-compose.yml
Due: none

Update README with cmd to run app using demo data
  README.md
Due: none

redo alembic for ProcurementTracker to include removal of old workflows
  backend/alembic/versions/2024_07_29_1719-bca30c6d60b5_add_procurmenttracker_and_remove_.py
  backend/alembic/versions/2024_07_29_2149-fef3614083d9_remove_workflows_and_add_procurement_.py
Due: nox-lint

cleanup - remove invalid Package usage
  backend/ops_api/ops/urls.py
Due: nox-lint

fix: remove workflow_data.json5 from unit test docker-compose
  backend/ops_api/tests/docker-compose.yml
Due: none

remove procurement_tracker_workflow_id and fix tests
  backend/models/cans.py
  backend/openapi.yml
  backend/ops_api/tests/ops/agreement/test_agreement.py
  backend/ops_api/tests/ops/utils/test_procurement_workflow_helper.py
  backend/ops_api/tests/ops/workflows/test_change_requests.py
  backend/ops_api/tests/ops/workflows/test_procurement_steps.py
  frontend/src/tests/data.js
Due: nox-lint, eslint

test procurement tracker creation/deletion (by helper) other cleanup
  backend/ops_api/ops/utils/procurement_tracker_helper.py
  backend/ops_api/tests/ops/utils/test_procurement_tracker_helper.py
  backend/ops_api/tests/ops/utils/test_procurement_workflow_helper.py
  backend/ops_api/tests/ops/workflows/test_packages.py
  backend/ops_api/tests/ops/workflows/test_procurement_tracker.py
Due: nox-lint

cleanup - remove setting created_by (let this get set by event handlers)
  backend/ops_api/ops/utils/procurement_tracker_helper.py
Due: nox-lint

Update demo data script
  backend/data_tools/demo_data/demo-script.sql
Due: none

feat: Update AgreementCANReviewAccordion to handle change requests
  frontend/src/components/Agreements/AgreementCANReviewAccordion/AgreementCANReviewAccordion.jsx
  frontend/src/components/Agreements/AgreementCANReviewAccordion/AgreementCANReviewAccordion.test.jsx
Due: eslint

feat: Update AgreementCANReviewAccordion to handle change requests
  frontend/src/components/Agreements/AgreementCANReviewAccordion/AgreementCANReviewAccordion.jsx
  frontend/src/components/Agreements/AgreementCANReviewAccordion/AgreementCANReviewAccordion.test.jsx
  frontend/src/pages/agreements/approve/ApproveAgreement.jsx
Due: eslint

Updating alembic script so two alembic scripts dont' revise the same version.
  backend/alembic/versions/2024_07_24_2000-4d898e1383a4_rename_procurement_shop_id_to_awarding_.py
Due: nox-lint

feat: Update AgreementCANReviewAccordion to handle change requests
  frontend/src/components/Agreements/AgreementCANReviewAccordion/AgreementCANReviewAccordion.jsx
Due: eslint

change Role.permissions to use a List of str
  backend/alembic/versions/2024_06_13_2035-b0087bd3a00a_initial.py
  backend/models/base.py
  backend/models/users.py
  backend/ops_api/ops/auth/authorization_providers.py
Due: nox-lint

add /roles endpoint
  backend/ops_api/ops/auth/api.py
  backend/ops_api/ops/auth/schema.py
  backend/ops_api/ops/auth/service.py
  backend/ops_api/tests/auth/test_roles.py
Due: nox-lint

add RTKQ API for Auth; add Roles combobox
  frontend/src/api/opsAuthAPI.js
  frontend/src/components/Users/UserInfo/UserInfo.jsx
  frontend/src/store.js
Due: eslint

revert procurement_tracker_id after merge
  frontend/src/tests/data.js
Due: eslint

Path conditions:
  nox-lint: any of: \.py$
  eslint: any of: \.(js|mjs|cjs)$, \.jsx$, \.css$, \.(html|htm|xhtml)$
