Repository HHS/OPRE-OPS: changes, and which pre-commit hooks are due for each by the changed paths.
All: nox-lint, eslint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: detect-aws-credentials
      - id: detect-private-key
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-json
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict

  - repo: https://github.com/hadolint/hadolint
    rev: v2.10.0
    hooks:
      - id: hadolint
  # We're running black, but doing it via nox session instead - see below
  # - repo: https://github.com/psf/black
  #   rev: 22.6.0
  #   hooks:
  #   -   id: black
  - repo: https://github.com/pre-commit/mirrors-isort
    rev: v5.10.1
    hooks:
      - id: isort
        args: ["--profile", "black", "--filter-files"]
  - repo: https://github.com/antonbabenko/pre-commit-terraform
    rev: v1.76.0
    hooks:
      - id: terraform_fmt
      - id: terraform_tflint
  - repo: local
    hooks:
      - id: nox-lint
        name: nox-lint
        entry: bash -c 'cd ./backend/ops_api && pipenv run nox -s lint'
        language: system
        types:
          - python
        pass_filenames: false
      - id: eslint
        name: eslint
        entry: bash -c 'cd ./frontend/ && bun lint'
        language: system
        types_or:
          - javascript
          - jsx
          - css
          - html
        pass_filenames: false

test with app_ctx.config
  backend/ops_api/tests/auth/test_hhs_ams_provider.py
Due: nox-lint

mock untested function
  backend/ops_api/ops/auth/utils.py
  backend/ops_api/tests/auth/test_hhs_ams_provider.py
Due: nox-lint

update fake_auth_provider.py test data
  backend/ops_api/ops/auth/authentication_provider/fake_auth_provider.py
Due: nox-lint

wip: Add change request messages to BLIRow component
  frontend/src/components/BudgetLineItems/BudgetLinesTable/BLIRow.jsx
Due: eslint

add initial UserSession handling
  backend/alembic/versions/2024_05_06_2050-e7b663b96bb1_added_usersession_model.py
  backend/models/__init__.py
  backend/models/auth.py
  backend/models/users.py
  backend/ops_api/ops/auth/service.py
  backend/ops_api/tests/auth/test_login.py
  backend/ops_api/tests/auth/test_oidc_controller.py
  frontend/src/components/Auth/AuthSection.jsx
Due: nox-lint, eslint

add test_login_with_no_active_session
  backend/models/auth.py
  backend/ops_api/tests/auth/test_login.py
Due: nox-lint

add column for extra info about the request
  backend/models/workflows.py
  backend/ops_api/ops/resources/budget_line_items.py
Due: nox-lint

add column for extra info about the request (alembic)
  backend/alembic/versions/2024_05_06_2124-1fa3d063b893_add_requested_change_info_to_change_.py
Due: nox-lint

add tests_manual folder for pytest that can be run outside unit testing with different conftest that doesn't start/stop docker like unit test
  backend/ops_api/tests/__init__.py
  backend/ops_api/tests_manual/__init__.py
  backend/ops_api/tests_manual/conftest.py
  backend/ops_api/tests_manual/ops/test_change_requests.py
Due: nox-lint

fix: add missing __init__.py for tests_manual import from tests
  backend/ops_api/__init__.py
Due: nox-lint

add _get_or_create_user_session
  backend/ops_api/ops/auth/service.py
  backend/ops_api/tests/auth/test_login.py
Due: nox-lint

set all other sessions to inactive before creating a new one
  backend/ops_api/ops/auth/service.py
Due: nox-lint

fix: don't query for notifications if OIDC is null
  frontend/src/api/opsAPI.js
Due: eslint

wip: Update USWDS styles and configuration
  frontend/sass/uswds/styles.scss
  frontend/src/index.jsx
  frontend/vite.config.mjs
Due: eslint

chore: Update CurrencyInput import path in BudgetLinesForm.jsx
  frontend/src/components/BudgetLineItems/BudgetLinesForm/BudgetLinesForm.jsx
  frontend/src/components/UI/CurrencyInput/CurrencyInput.jsx
  frontend/src/components/UI/CurrencyInput/index.js
Due: eslint

wip: Refactor BLIRow component to display budget line labels based on permanence status
  frontend/src/components/BudgetLineItems/BudgetLinesTable/BLIRow.jsx
  frontend/src/components/BudgetLineItems/CreateBLIsAndSCs/CreateBLIsAndSCs.hooks.js
  frontend/src/components/BudgetLineItems/CreateBLIsAndSCs/CreateBLIsAndSCs.jsx
Due: eslint

do not log response when url is the root url (reduce noise)
  backend/ops_api/ops/__init__.py
Due: nox-lint

add UserSession to /refresh
  backend/ops_api/ops/auth/service.py
  backend/ops_api/ops/auth/utils.py
  backend/ops_api/tests/auth/test_refresh.py
Due: nox-lint

add UserSession to /logout
  backend/ops_api/ops/auth/service.py
  backend/ops_api/tests/auth/test_logout.py
Due: nox-lint

add UserSession to /logout
  backend/ops_api/ops/auth/service.py
Due: nox-lint

add LogoutResponseSchema
  backend/ops_api/ops/auth/api.py
  backend/ops_api/ops/auth/schema.py
  backend/ops_api/ops/auth/service.py
  backend/ops_api/tests/auth/test_logout.py
Due: nox-lint

WIP: saving some WIP to move most of the agreement history code to the backend
  backend/ops_api/ops/resources/agreement_history.py
  backend/ops_api/ops/utils/api_helpers.py
  backend/ops_api/tests_manual/ops/test_change_requests.py
  frontend/src/components/Agreements/AgreementDetails/AgreementHistoryList.jsx
Due: nox-lint, eslint

add re-login to test
  backend/ops_api/tests/auth/test_logout.py
Due: nox-lint

add RefreshResponseSchema
  backend/ops_api/ops/auth/api.py
  backend/ops_api/ops/auth/schema.py
  backend/ops_api/ops/auth/service.py
Due: nox-lint

wip: Refactor BLIRow component to display budget line labels based on permanence status
  frontend/src/components/BudgetLineItems/BudgetLinesTable/BLIRow.jsx
  frontend/src/components/BudgetLineItems/CreateBLIsAndSCs/CreateBLIsAndSCs.hooks.js
  frontend/src/helpers/budgetLines.helpers.js
Due: eslint

wip: Refactor CreateBLIsAndSCs hooks to use tempBudgetLines consistently
  frontend/src/components/BudgetLineItems/CreateBLIsAndSCs/CreateBLIsAndSCs.hooks.js
  frontend/src/components/BudgetLineItems/CreateBLIsAndSCs/CreateBLIsAndSCs.jsx
Due: eslint

set created/updated_by in UserSession
  backend/ops_api/ops/auth/service.py
Due: nox-lint

wip: handle update edits in temp_land
  frontend/src/components/BudgetLineItems/CreateBLIsAndSCs/CreateBLIsAndSCs.hooks.js
Due: eslint

add get_latest_user_session
  backend/ops_api/ops/auth/service.py
  backend/ops_api/ops/auth/utils.py
  backend/ops_api/tests/auth/test_login.py
Due: nox-lint

fix bugs in logout handling js
  frontend/src/components/Auth/AuthSection.jsx
  frontend/src/components/Auth/MultiAuthSection.jsx
  frontend/src/components/Auth/auth.js
  frontend/src/components/Auth/authSlice.js
Due: eslint

WIP: reworking agreement history response to include log items as needed by the FE but without formatting/conversion for displau
  backend/ops_api/ops/resources/agreement_history.py
  backend/ops_api/ops/utils/api_helpers.py
  backend/ops_api/tests_manual/ops/test_change_requests.py
  frontend/src/components/Agreements/AgreementDetails/AgreementHistoryList.jsx
Due: nox-lint, eslint

refactor: Update payload in useCreateBLIsAndSCs hook
  frontend/src/components/BudgetLineItems/CreateBLIsAndSCs/CreateBLIsAndSCs.hooks.js
Due: eslint

refactor: Update navigation path after creating budget lines and service codes
  frontend/src/components/BudgetLineItems/CreateBLIsAndSCs/CreateBLIsAndSCs.hooks.js
Due: eslint

fix: redirectURL properly set
  frontend/src/components/BudgetLineItems/AllBudgetLinesTable/AllBudgetLinesTable.hooks.js
  frontend/src/components/ServicesComponents/ServicesComponents.hooks.js
  frontend/src/hooks/use-alert.hooks.js
  frontend/src/pages/agreements/details/AgreementBudgetLines.jsx
Due: eslint

docs: :wastebasket: deprecate module in favor of RTK Query
  frontend/src/api/postBudgetLineItems.js
Due: eslint

feat: ✨ adds handleSave function in CreateBLIsAndSCs
  frontend/src/components/BudgetLineItems/CreateBLIsAndSCs/CreateBLIsAndSCs.hooks.js
  frontend/src/components/BudgetLineItems/CreateBLIsAndSCs/CreateBLIsAndSCs.jsx
Due: eslint

latest versions of cypress and bun
  frontend/Dockerfile
  frontend/package.json
Due: none

updating lockfile too
  frontend/bun.lockb
Due: none

keep up with renovate
  frontend/bun.lockb
  frontend/package.json
Due: none
