Repository HHS/OPRE-OPS: changes, and which pre-commit hooks are due for each by the changed paths.
All: nox-lint, eslint

nox-lint:
  name: nox-lint
  entry: bash -c 'cd ./backend_flask/ops_api && pipenv run nox -s lint'
  language: system
  pass_filenames: false

eslint:
  name: eslint
  entry: bash -c 'cd ./frontend/ && yarn lint'
  language: system
  pass_filenames: false

Update index.md
  docs/Security-Compliance/Security-Controls/sc-28/index.md
Due: none

Update index.md
  docs/Security-Compliance/Security-Controls/sc-4/index.md
Due: none

Update index.md
  docs/Security-Compliance/Security-Controls/sc-8/index.md
Due: none

Update index.md
  docs/Security-Compliance/Security-Controls/si-12/index.md
Due: none

updating AC-8
  docs/Security-Compliance/Security-Controls/README.md
  docs/Security-Compliance/Security-Controls/ac-8/index.md
Due: none

updating ac-12
  docs/Security-Compliance/Security-Controls/README.md
  docs/Security-Compliance/Security-Controls/ac-12/index.md
  docs/Security-Compliance/Security-Controls/ac-2-5/index.md
Due: none

ac-11
  docs/Security-Compliance/Security-Controls/README.md
  docs/Security-Compliance/Security-Controls/ac-10/index.md
Due: none

ac-17 updates
  docs/Security-Compliance/Security-Controls/README.md
  docs/Security-Compliance/Security-Controls/ac-11/index.md
  docs/Security-Compliance/Security-Controls/ac-14/index.md
  docs/Security-Compliance/Security-Controls/ac-17/index.md
Due: none

Update tests, introduce auth requirement on all endpoints
  backend/ops_api/Pipfile
  backend/ops_api/Pipfile.lock
  backend/ops_api/locustfile.py
  backend/ops_api/ops/base_views.py
  backend/ops_api/ops/environment/default_settings.py
  backend/ops_api/ops/home_page/views.py
  backend/ops_api/ops/resources/users.py
  backend/ops_api/ops/utils/auth.py
  backend/ops_api/pytest.ini
  backend/ops_api/tests/ops/auth/test_oidc_controller.py
  backend/ops_api/tests/ops/auth/test_utils.py
  backend/ops_api/tests/ops/can/test_budget_line_item.py
  backend/ops_api/tests/ops/can/test_can.py
  backend/ops_api/tests/ops/conftest.py
  backend/ops_api/tests/ops/portfolio/test_division.py
  backend/ops_api/tests/ops/portfolio/test_portfolio.py
  backend/ops_api/tests/ops/portfolio/test_portfolio_status.py
  backend/ops_api/tests/ops/users/test_users.py
Due: nox-lint

Create public.pem
  backend/ops_api/ops/static/public.pem
Due: none

graphs are working
  frontend/src/components/CANs/CanCard/CanCard.jsx
Due: eslint

better styles
  frontend/src/components/CANs/CanCard/CanCard.jsx
  frontend/src/components/CANs/CanCard/styles.module.css
Due: eslint

AC-10 text
  docs/Security-Compliance/Security-Controls/ac-10/index.md
Due: none

minor updates and reference correction
  docs/Security-Compliance/Security-Controls/README.md
  docs/Security-Compliance/Security-Controls/ac-10/index.md
  docs/Security-Compliance/Security-Controls/ac-2-5/index.md
Due: none

link correction
  docs/Security-Compliance/Security-Controls/ac-2-5/index.md
Due: none

another link improvement
  docs/Security-Compliance/Security-Controls/ac-2-5/index.md
Due: none

more linkage
  docs/Security-Compliance/Security-Controls/ac-10/index.md
  docs/Security-Compliance/Security-Controls/ac-12/index.md
  docs/Security-Compliance/Security-Controls/ac-14/index.md
  docs/Security-Compliance/Security-Controls/ac-2-5/index.md
Due: none

adding leading zeroes
  docs/Security-Compliance/Security-Controls/README.md
  docs/Security-Compliance/Security-Controls/ac-02-01/index.md
  docs/Security-Compliance/Security-Controls/ac-02-02/index.md
  docs/Security-Compliance/Security-Controls/ac-02-03/index.md
  docs/Security-Compliance/Security-Controls/ac-02-05/index.md
  docs/Security-Compliance/Security-Controls/ac-02-07/index.md
  docs/Security-Compliance/Security-Controls/ac-02-09/index.md
  docs/Security-Compliance/Security-Controls/ac-02-10/index.md
  docs/Security-Compliance/Security-Controls/ac-02/index.md
  docs/Security-Compliance/Security-Controls/ac-05/index.md
  docs/Security-Compliance/Security-Controls/ac-06/index.md
  docs/Security-Compliance/Security-Controls/ac-07/index.md
  docs/Security-Compliance/Security-Controls/ac-08/index.md
  docs/Security-Compliance/Security-Controls/ac-10/index.md
Due: none

AC-02-2 update
  docs/Security-Compliance/Security-Controls/ac-02-02/index.md
Due: none

updates based on John's comments
  backend/ops_api/Pipfile
  backend/ops_api/Pipfile.lock
  backend/ops_api/ops/environment/default_settings.py
  backend/ops_api/ops/utils/auth.py
  backend/ops_api/ops/utils/auth_views.py
Due: nox-lint

delete unknown file
  backend/ops_api/1
Due: none

add state for hover
  frontend/src/components/CANs/CanCard/CanCard.jsx
  frontend/src/components/UI/ResponsiveDonutWithInnerPercent/ResponsiveDonutWithInnerPercent.jsx
Due: eslint

initial BDD setup for ELT pipeline
  backend/data_tools/features/etl_data_from_excel.feature
  backend/data_tools/features/steps/create_research_projects.py
  backend/data_tools/src/etl_data_from_excel/etl_business_rules.py
  backend/data_tools/tests/etl_data_from_excel/__init__.py
  backend/models/__init__.py
Due: nox-lint

initial ELT pipeline
  backend/data_tools/Pipfile
  backend/data_tools/Pipfile.lock
  backend/data_tools/src/etl_data_from_excel/README.md
  backend/data_tools/src/etl_data_from_excel/extract_excel_load_table.py
  backend/data_tools/src/etl_data_from_excel/load_research_projects.py
  backend/data_tools/src/etl_data_from_excel/load_research_projects_business_rules.py
  backend/models/etl.py
  backend/models/research_projects.py
Due: nox-lint

adds active styles
  frontend/src/components/UI/Tag/Tag.jsx
Due: eslint

adds reasonable defaults
  frontend/src/components/UI/ResponsiveDonutWithInnerPercent/ResponsiveDonutWithInnerPercent.jsx
Due: eslint

hover states and debug class
  frontend/src/components/CANs/CanCard/CanCard.jsx
Due: eslint

fix logging bug and time bug
  backend/ops_api/ops/utils/auth.py
  backend/ops_api/ops/utils/auth_views.py
  backend/ops_api/ops/utils/user.py
Due: nox-lint

allow space for dates to not wrap
  frontend/src/components/CANs/CanCard/styles.module.css
Due: eslint

better name
  frontend/src/components/CANs/CanCard/CanCard.jsx
Due: eslint

updated README.md with context of POC
  backend/data_tools/src/etl_data_from_excel/README.md
Due: none

initial utils.py
  backend/data_tools/src/etl_data_from_excel/utils.py
  backend/data_tools/tests/etl_data_from_excel/test_utils.py
Due: nox-lint

added section in README.md about BDD
  backend/data_tools/src/pipeline_data_from_excel/README.md
Due: none

starts left side of the CANCard
  frontend/src/components/CANs/CANFundingBar/styles.module.css
  frontend/src/components/CANs/CANFundingYTD/CANFundingYTD.jsx
  frontend/src/components/CANs/CanCard/CanCard.jsx
Due: eslint

adds FY
  frontend/src/components/CANs/CANFundingYTD/CANFundingYTD.jsx
  frontend/src/components/CANs/CanCard/CanCard.jsx
Due: eslint

adds hover state
  frontend/src/components/CANs/CANFundingBar/CANFundingBar.jsx
  frontend/src/components/CANs/CANFundingBar/styles.module.scss
Due: eslint

refactor package name; add logging and status tracking
  backend/data_tools/src/etl_data_from_excel/__init__.py
  backend/data_tools/src/pipeline_data_from_excel/__init__.py
  backend/data_tools/src/pipeline_data_from_excel/etl_business_rules.py
  backend/data_tools/src/pipeline_data_from_excel/extract_excel_load_table.py
  backend/data_tools/src/pipeline_data_from_excel/load_research_projects_business_rules.py
Due: nox-lint

add OpsTask parent class
  backend/data_tools/src/pipeline_data_from_excel/ops_task.py
Due: nox-lint

add meta and status to ETLTaskStatus
  backend/models/etl.py
Due: nox-lint

refactor package name; add logging and status tracking
  backend/data_tools/src/etl_data_from_excel/load_research_projects.py
  backend/data_tools/src/pipeline_data_from_excel/load_research_projects.py
Due: nox-lint

Path conditions:
  nox-lint: any of: \.py$
  eslint: any of: \.(js|mjs|cjs)$, \.jsx$, \.css$, \.(html|htm|xhtml)$
