Repository HHS/OPRE-OPS: changes, and which pre-commit hooks are due for each by the changed paths.
All: nox-lint, eslint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: detect-aws-credentials
      - id: detect-private-key
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-json
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict

  - repo: https://github.com/hadolint/hadolint
    rev: v2.10.0
    hooks:
      - id: hadolint
  # We're running black, but doing it via nox session instead - see below
  # - repo: https://github.com/psf/black
  #   rev: 22.6.0
  #   hooks:
  #   -   id: black
  - repo: https://github.com/pre-commit/mirrors-isort
    rev: v5.10.1
    hooks:
      - id: isort
        args: ["--profile", "black", "--filter-files"]
  - repo: https://github.com/antonbabenko/pre-commit-terraform
    rev: v1.76.0
    hooks:
      - id: terraform_fmt
      - id: terraform_tflint
  - repo: local
    hooks:
      - id: nox-lint
        name: nox-lint
        entry: bash -c 'cd ./backend/ops_api && pipenv run nox -s lint'
        language: system
        types:
          - python
        pass_filenames: false
      - id: eslint
        name: eslint
        entry: bash -c 'cd ./frontend/ && bun lint'
        language: system
        types_or:
          - javascript
          - jsx
          - css
          - html
        pass_filenames: false

🧪
  frontend/src/components/BudgetLineItems/CreateBLIsAndSCs/createBLIsAndSCs.hooks.js
Due: eslint

🧪: re-adds hooks
  frontend/src/components/BudgetLineItems/CreateBLIsAndSCs/CreateBLIsAndSCs.hooks.js
Due: eslint

Refactor display_name property in BudgetLineItem class to use shorter format
  backend/models/cans.py
  frontend/src/components/Agreements/AgreementDetails/AgreementHistoryList.jsx
Due: nox-lint, eslint

tests: Update display name in budget line item tests
  backend/ops_api/tests/ops/can/test_budget_line_item.py
Due: nox-lint

Starts BL_ID Front End (#2138)
  backend/models/cans.py
  backend/ops_api/tests/ops/can/test_budget_line_item.py
  frontend/cypress/e2e/agreementDelete.cy.js
  frontend/src/components/Agreements/AgreementDetails/AgreementHistoryList.jsx
  frontend/src/components/Agreements/AgreementsTable/AgreementTableRow.jsx
  frontend/src/components/Agreements/AgreementsTable/agreements-table.hooks.js
  frontend/src/components/BudgetLineItems/AllBudgetLinesTable/AllBLIRow.jsx
  frontend/src/components/BudgetLineItems/AllBudgetLinesTable/AllBudgetLinesTable.constants.js
  frontend/src/components/BudgetLineItems/AllBudgetLinesTable/AllBudgetLinesTable.hooks.js
  frontend/src/components/BudgetLineItems/AllBudgetLinesTable/AllBudgetLinesTable.jsx
  frontend/src/components/BudgetLineItems/BLIReviewTable/BLIReviewRow.jsx
  frontend/src/components/BudgetLineItems/BLIReviewTable/BLIReviewTable.jsx
  frontend/src/components/BudgetLineItems/BudgetLinesTable/BLIRow.jsx
  frontend/src/components/BudgetLineItems/BudgetLinesTable/BudgetLinesTable.constants.js
  frontend/src/components/BudgetLineItems/BudgetLinesTable/BudgetLinesTable.jsx
  frontend/src/components/BudgetLineItems/BudgetLinesTable/BudgetLinesTable.test.js
  frontend/src/components/BudgetLineItems/ChangeIcons/ChangeIcons.jsx
  frontend/src/components/BudgetLineItems/CreateBLIsAndSCs/CreateBLIsAndSCs.hooks.js
  frontend/src/components/BudgetLineItems/CreateBLIsAndSCs/CreateBLIsAndSCs.jsx
  frontend/src/components/UI/Form/IsRequiredHelper/IsRequiredHelper.jsx
  frontend/src/components/UI/Text/TextClip.js
  frontend/src/helpers/agreement.helpers.js
  frontend/src/helpers/agreement.helpers.test.js
  frontend/src/pages/budgetLines/list/BudgetLineItemList.jsx
Due: nox-lint, eslint

refactor: :recycle: fixes delete BLI id bug
  frontend/src/components/Agreements/AgreementDetails/AgreementHistoryList.jsx
  frontend/src/components/UI/LogItem/LogItem.jsx
Due: eslint

wip: starts DatePicker
  frontend/src/components/BudgetLineItems/BudgetLinesForm/BudgetLinesForm.jsx
  frontend/src/components/UI/USWDS/DatePicker/DatePicker.js
  frontend/src/components/UI/USWDS/DatePicker/index.js
Due: eslint

testing bun 1.1
  frontend/Dockerfile
Due: none

updates deps
  frontend/bun.lockb
Due: none

fix: Update import statements in opsAPI.test.js and mocks.js to use http instead of rest
  frontend/src/api/opsAPI.test.js
  frontend/src/helpers/mocks.js
Due: eslint

refactor: :recycle: fixes delete BLI id bug (#2146)
  frontend/src/components/Agreements/AgreementDetails/AgreementHistoryList.jsx
  frontend/src/components/UI/LogItem/LogItem.jsx
Due: eslint

remakes bun lock
  frontend/bun.lockb
Due: none

Update import statement for setupListeners in test-utils.js
  frontend/src/test-utils.js
Due: eslint

wip: attempt with comet-uswds
  frontend/bun.lockb
  frontend/package.json
  frontend/src/components/BudgetLineItems/BudgetLinesForm/BudgetLinesForm.jsx
  frontend/src/index.jsx
Due: eslint

changing to use the correct named export
  frontend/src/components/Agreements/AgreementEditor/AgreementEditForm.jsx
  frontend/src/components/Auth/auth.js
  frontend/src/components/BudgetLineItems/CreateBLIsAndSCs/CreateBLIsAndSCs.hooks.js
  frontend/src/components/ServicesComponents/ServicesComponentListItem/ServicesComponentListItem.jsx
Due: eslint

updating some more imports
  frontend/src/components/UI/Header/User.jsx
  frontend/src/components/UI/NotificationCenter/NotificationCenter.jsx
Due: eslint

feat: :sparkles: adds Trussworks Date Picker
  frontend/bun.lockb
  frontend/package.json
  frontend/sass/uswds/styles.scss
  frontend/src/index.jsx
  frontend/src/pages/DatePickerPage.jsx
  frontend/src/uswds/css/styles.css
  frontend/src/uswds/css/styles.css.map
Due: eslint

fix: :bug: use Trussworks Date Picker component instead of Comet
  frontend/src/components/BudgetLineItems/BudgetLinesForm/BudgetLinesForm.jsx
  frontend/src/components/CANs/CanSelect/CanSelect.jsx
  frontend/src/index.jsx
Due: eslint

Refactor date picker component and fix re-render issues
  frontend/src/components/BudgetLineItems/BudgetLinesForm/BudgetLinesForm.jsx
  frontend/src/components/BudgetLineItems/BudgetLinesForm/budgetLinesForm.constants.js
  frontend/src/components/BudgetLineItems/BudgetLinesForm/budgetLinesForm.helpers.js
  frontend/src/components/BudgetLineItems/BudgetLinesForm/budgetLinesForm.hook.js
  frontend/src/components/BudgetLineItems/CreateBLIsAndSCs/CreateBLIsAndSCs.hooks.js
  frontend/src/components/BudgetLineItems/CreateBLIsAndSCs/CreateBLIsAndSCs.jsx
  frontend/src/components/UI/USWDS/DatePicker/DatePicker.js
  frontend/src/pages/DatePickerPage.css
  frontend/src/pages/DatePickerPage.jsx
Due: eslint

wip: setting date_needed
  frontend/src/components/BudgetLineItems/CreateBLIsAndSCs/CreateBLIsAndSCs.hooks.js
Due: eslint

some newer updates to AC
  docs/Security-Compliance/Security-Controls/ac/ac-02-01.md
  docs/Security-Compliance/Security-Controls/ac/ac-02-02.md
  docs/Security-Compliance/Security-Controls/ac/ac-02-03.md
  docs/Security-Compliance/Security-Controls/ac/ac-02-04.md
  docs/Security-Compliance/Security-Controls/ac/ac-02-05.md
  docs/Security-Compliance/Security-Controls/ac/ac-02-10.md
  docs/Security-Compliance/Security-Controls/ac/ac-02-13.md
  docs/Security-Compliance/Security-Controls/ac/ac-02.md
  docs/Security-Compliance/Security-Controls/ac/ac-03.md
  docs/Security-Compliance/Security-Controls/ac/ac-04.md
  docs/Security-Compliance/Security-Controls/ac/ac-05.md
Due: none

replacing payee with DirectReceivingPartner
  backend/models/cans.py
Due: nox-lint

updating name in even more places
  backend/data_tools/data/agreements_and_blin_data.json5
  backend/ops_api/tests/ops/features/test_delete_agreement.py
Due: nox-lint

update alembic
  backend/alembic/versions/2024_04_08_0449-99b44a4926e8_renaming_column_for_direct_obligations_.py
Due: nox-lint

WIP just saving some comments for now
  backend/ops_api/ops/utils/api_helpers.py
Due: nox-lint

manually fixing multiple heads
  backend/alembic/versions/2024_03_28_1956-5201c6cfc223_change_request_entity_experimental.py
Due: nox-lint

fix test for BLI count/IDs changing
  backend/ops_api/tests/ops/can/test_budget_line_item.py
Due: nox-lint

wip: TS edit BLI
  frontend/src/components/BudgetLineItems/CreateBLIsAndSCs/CreateBLIsAndSCs.hooks.js
Due: eslint

wip: BudgetLinesForm component to use needByDate prop instead of separate date fields
  frontend/src/components/BudgetLineItems/BudgetLinesForm/BudgetLinesForm.jsx
  frontend/src/components/BudgetLineItems/CreateBLIsAndSCs/CreateBLIsAndSCs.hooks.js
Due: eslint

updating language in ac-2-3
  docs/Security-Compliance/Security-Controls/ac/ac-02-03.md
Due: none

revert: import statements to use `jwt_decode` instead of `jwtDecode` in multiple files
  frontend/bun.lockb
  frontend/package.json
  frontend/src/components/Agreements/AgreementEditor/AgreementEditForm.jsx
  frontend/src/components/Auth/auth.js
  frontend/src/components/BudgetLineItems/CreateBLIsAndSCs/CreateBLIsAndSCs.hooks.js
  frontend/src/components/ServicesComponents/ServicesComponentListItem/ServicesComponentListItem.jsx
  frontend/src/components/UI/Header/User.jsx
  frontend/src/components/UI/NotificationCenter/NotificationCenter.jsx
Due: eslint

wip: back to rolling our own?
  frontend/src/components/BudgetLineItems/BudgetLinesForm/BudgetLinesForm.jsx
  frontend/src/components/UI/USWDS/DatePicker/DatePicker.js
  frontend/src/components/UI/USWDS/DatePicker/DatePicker.jsx
Due: eslint

Fix: date picker bug in BudgetLinesForm component
  frontend/src/components/BudgetLineItems/BudgetLinesForm/BudgetLinesForm.jsx
  frontend/src/components/UI/USWDS/DatePicker/DatePicker.jsx
Due: eslint

fix: date picker value not updating in DatePicker component
  frontend/src/components/UI/USWDS/DatePicker/DatePicker.jsx
Due: eslint

Fix: date picker label and hint in BudgetLinesForm and DatePicker components
  frontend/src/components/BudgetLineItems/BudgetLinesForm/BudgetLinesForm.jsx
  frontend/src/components/UI/USWDS/DatePicker/DatePicker.jsx
Due: eslint

fix: date picker attributes not being passed in DatePicker component
  frontend/src/components/UI/USWDS/DatePicker/DatePicker.jsx
Due: eslint

refactor: date handling in CreateBLIsAndSCs.hooks.js
  frontend/src/components/BudgetLineItems/CreateBLIsAndSCs/CreateBLIsAndSCs.hooks.js
Due: eslint

refactor: date picker attributes and handling in DatePickerPage.jsx
  frontend/src/index.jsx
  frontend/src/pages/DatePickerPage.jsx
Due: eslint

WIP: including a possible way to avoid re-encoding dates (and enums, etc)
  backend/ops_api/ops/resources/budget_line_items.py
  backend/ops_api/ops/resources/change_requests.py
  backend/ops_api/ops/utils/api_helpers.py
  backend/ops_api/tests/ops/workflows/test_workflows_experimental.py
Due: nox-lint

Fix: Update className in Input component to use empty string instead of null for error styling
  frontend/src/components/UI/Form/Input/Input.jsx
Due: eslint
