Repository HHS/OPRE-OPS: changes, and which pre-commit hooks are due for each by the changed paths.
All: nox-lint, eslint

nox-lint:
  name: nox-lint
  entry: bash -c 'cd ./backend/ops_api && pipenv run nox -s lint'
  language: system
  pass_filenames: false

eslint:
  name: eslint
  entry: bash -c 'cd ./frontend/ && bun lint'
  language: system
  pass_filenames: false

fix: adds plus icon to Add Budget Line button
  frontend/src/components/UI/Form/CreateBudgetLinesForm/CreateBudgetLinesForm.jsx
Due: eslint

fix: adds styles and text for no items
  frontend/src/components/UI/WizardSteps/StepCreateBLIsAndSCs/StepCreateBLIsAndSCs.jsx
  frontend/src/pages/servicesComponents/ServicesComponentsList/ServicesComponentsList.jsx
Due: eslint

fix: adds logic to disable optional input
  frontend/src/pages/servicesComponents/ServicesComponentForm/ServicesComponentForm.jsx
Due: eslint

update lock files
  backend/data_tools/Pipfile.lock
  backend/ops_api/Pipfile.lock
Due: none

add support for Postgresql enum in alembic; add user.status to test data
  backend/alembic/env.py
  backend/alembic/versions/2024_03_04_1553-ad5ac1c78e64_add_user_status.py
  backend/data_tools/Pipfile
  backend/data_tools/Pipfile.lock
  backend/data_tools/data/user_data.json5
  backend/ops_api/Pipfile
  backend/ops_api/Pipfile.lock
Due: nox-lint

fix: linter issues
  frontend/src/components/UI/Form/AgreementTypeSelect.jsx
Due: eslint

styles: moves form under summary cards
  frontend/src/components/UI/WizardSteps/StepCreateBLIsAndSCs/StepCreateBLIsAndSCs.jsx
Due: eslint

WIP creating a procurement workflow with workflow steps and procurement steps
  backend/ops_api/ops/utils/procurement_workflow_helper.py
  backend/ops_api/tests/ops/utils/test_procurement_workflow_helper.py
Due: nox-lint

use server_default for the enum
  backend/models/users.py
Due: nox-lint

add user.status to the User detail page
  frontend/src/components/Users/UserInfo/UserInfo.jsx
Due: eslint

consolidate migration files
  backend/alembic/versions/2024_03_04_1553-ad5ac1c78e64_add_user_status.py
  backend/alembic/versions/2024_03_04_2013-2622c803ce1f_initial.py
Due: nox-lint

add unit test for user.status
  backend/ops_api/tests/ops/users/test_users.py
Due: nox-lint

cascade delete services components (redo after merge of alembic)
  backend/alembic/versions/2024_03_04_2251-8999cd8548cd_cascade_delete_services_components.py
  backend/models/cans.py
Due: nox-lint

fix: force numbers for validation
  frontend/src/pages/servicesComponents/ServicesComponentForm/ServicesComponentForm.jsx
Due: eslint

Refactor servicesComponents.hooks.js and Select.jsx
  frontend/src/pages/servicesComponents/Select/Select.jsx
  frontend/src/pages/servicesComponents/ServicesComponentForm/ServicesComponentForm.jsx
  frontend/src/pages/servicesComponents/ServicesComponentSelect/ServicesComponentSelect.jsx
  frontend/src/pages/servicesComponents/ServicesComponents.jsx
  frontend/src/pages/servicesComponents/servicesComponents.constants.js
  frontend/src/pages/servicesComponents/servicesComponents.hooks.js
Due: eslint

adding DoD item for new debt documentation
  .github/ISSUE_TEMPLATE/feature_work_template.md
Due: none

chore: update default deploy to unstable
  terraform/eastus/ops/dev/stacks/backend/variables.tf
  terraform/eastus/ops/dev/stacks/data-tools/variables.tf
  terraform/eastus/ops/dev/stacks/frontend/variables.tf
Due: none

add indexing for steps in a workflow instance and use ordering for steps in template and instance and packages into the creation of the workflow and other WIP
  backend/models/workflows.py
  backend/ops_api/ops/utils/procurement_workflow_helper.py
  backend/ops_api/tests/ops/utils/test_procurement_workflow_helper.py
Due: nox-lint

adding parenthetical qualifier
  .github/ISSUE_TEMPLATE/feature_work_template.md
Due: none

more testing for what all is created for the procurement workflow
  backend/ops_api/ops/utils/procurement_workflow_helper.py
  backend/ops_api/tests/ops/utils/test_procurement_workflow_helper.py
Due: nox-lint

changes for merging in alembic changes including adding a migration adding the index to workflow_step_instance
  backend/alembic/versions/2024_03_05_2119-2f078ae6d0fb_procurement_workflow_changes.py
  backend/models/workflows.py
Due: nox-lint

feat: Adds Vest validation for future use
  frontend/src/pages/servicesComponents/ServicesComponentForm/suite.js
Due: eslint

feat: adds isRequired prop
  frontend/src/pages/servicesComponents/Select/Select.jsx
  frontend/src/pages/servicesComponents/ServicesComponentForm/ServicesComponentForm.jsx
  frontend/src/pages/servicesComponents/ServicesComponentSelect/ServicesComponentSelect.jsx
Due: eslint

fix: Date logix improvements
  frontend/src/pages/servicesComponents/ServicesComponentListItem/ServicesComponentListItem.jsx
  frontend/src/pages/servicesComponents/servicesComponents.hooks.js
Due: eslint

fix test - cleanup test workflow
  backend/ops_api/tests/ops/utils/test_procurement_workflow_helper.py
Due: nox-lint

fix: handle null dates in services components and procurement steps and make a little DRYer
  backend/ops_api/ops/resources/budget_line_items.py
  backend/ops_api/ops/resources/procurement_steps.py
  backend/ops_api/ops/resources/services_component.py
  backend/ops_api/ops/utils/api_helpers.py
  backend/ops_api/tests/ops/can/test_services_component.py
Due: nox-lint

test: add test for workflow
  frontend/cypress/e2e/createAgreement.cy.js
Due: eslint

improves isort config by group our modules separate from third parties
  .isort.cfg
Due: none

fix: fixes default value for contract_type
  frontend/src/components/Agreements/AgreementEditor/AgreementEditorContext.js
Due: eslint

feat: :sparkles: adds Form Validation to Services Components (#2035)
  frontend/cypress/e2e/createAgreement.cy.js
  frontend/src/components/Agreements/AgreementEditor/AgreementEditForm.jsx
  frontend/src/components/Agreements/AgreementEditor/AgreementEditFormSuite.js
  frontend/src/components/Agreements/AgreementEditor/AgreementEditorContext.js
  frontend/src/components/UI/Form/AgreementTypeSelect.jsx
  frontend/src/components/UI/Form/CreateBudgetLinesForm/CreateBudgetLinesForm.jsx
  frontend/src/components/UI/Form/Input/Input.jsx
  frontend/src/components/UI/Form/IsRequiredHelper/IsRequiredHelper.jsx
  frontend/src/components/UI/Form/IsRequiredHelper/index.js
  frontend/src/components/UI/WizardSteps/StepCreateBLIsAndSCs/StepCreateBLIsAndSCs.jsx
  frontend/src/pages/servicesComponents/ContractTypeSelect/ContractTypeSelect.jsx
  frontend/src/pages/servicesComponents/Select/Select.jsx
  frontend/src/pages/servicesComponents/ServiceReqTypeSelect/ServiceReqTypeSelect.jsx
  frontend/src/pages/servicesComponents/ServicesComponentForm/ServicesComponentForm.jsx
  frontend/src/pages/servicesComponents/ServicesComponentForm/suite.js
  frontend/src/pages/servicesComponents/ServicesComponentListItem/ServicesComponentListItem.jsx
  frontend/src/pages/servicesComponents/ServicesComponentSelect/ServicesComponentSelect.jsx
  frontend/src/pages/servicesComponents/ServicesComponents.jsx
  frontend/src/pages/servicesComponents/ServicesComponentsList/ServicesComponentsList.jsx
  frontend/src/pages/servicesComponents/servicesComponents.constants.js
  frontend/src/pages/servicesComponents/servicesComponents.hooks.js
Due: eslint

adds validation for budget-line-items to prevent use of services component from a different agreement
  backend/ops_api/ops/schemas/budget_line_item.py
  backend/ops_api/tests/ops/can/test_budget_line_item.py
Due: nox-lint

fix: busts cache when agreement is patched
  frontend/src/api/opsAPI.js
Due: eslint

scroll to top of next
  frontend/src/pages/agreements/CreateAgreementFlow.jsx
Due: eslint

wip: remove modal when going back to step 2
  frontend/src/components/UI/WizardSteps/StepCreateBLIsAndSCs/useCreateBLIsAndSCs.hooks.js
  frontend/src/pages/servicesComponents/ServicesComponentsList/ServicesComponentsList.jsx
Due: eslint

fix: handle POST for BLI validation of SCs
  backend/ops_api/ops/schemas/budget_line_item.py
Due: nox-lint

wip: adds debug code
  frontend/src/components/UI/WizardSteps/StepCreateBLIsAndSCs/StepCreateBLIsAndSCs.jsx
  frontend/src/pages/servicesComponents/ServicesComponentsList/ServicesComponentsList.jsx
Due: eslint

remove requirement for line_description on BLI
  backend/ops_api/ops/schemas/budget_line_item.py
  backend/ops_api/tests/ops/features/test_validate_draft_budget_lines.py
  backend/ops_api/tests/ops/features/test_validate_draft_budget_lines_in_workflow.py
  backend/ops_api/tests/ops/features/validate_draft_budget_lines.feature
Due: nox-lint

remove use of line_description="." now that it can be null
  frontend/src/components/UI/WizardSteps/StepCreateBLIsAndSCs/useCreateBLIsAndSCs.hooks.js
Due: eslint

refactor: read BLIs
  frontend/src/components/UI/WizardSteps/StepCreateBLIsAndSCs/StepCreateBLIsAndSCs.jsx
  frontend/src/components/UI/WizardSteps/StepCreateBLIsAndSCs/index.js
  frontend/src/components/UI/WizardSteps/StepCreateBLIsAndSCs/useCreateBLIsAndSCs.hooks.js
  frontend/src/pages/agreements/CreateEditAgreement.jsx
  frontend/src/pages/agreements/EditAgreement.js
Due: eslint

fix: frontend/package.json to reduce vulnerabilities
  frontend/package.json
Due: none

Path conditions:
  nox-lint: any of: \.py$
  eslint: any of: \.(js|mjs|cjs)$, \.jsx$, \.css$, \.(html|htm|xhtml)$
