Repository HHS/OPRE-OPS: changes, and which pre-commit hooks are due for each by the changed paths.
All: nox-lint, eslint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: detect-aws-credentials
      - id: detect-private-key
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-json
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict

  - repo: https://github.com/hadolint/hadolint
    rev: v2.10.0
    hooks:
      - id: hadolint
  # We're running black, but doing it via nox session instead - see below
  # - repo: https://github.com/psf/black
  #   rev: 22.6.0
  #   hooks:
  #   -   id: black
  - repo: https://github.com/pre-commit/mirrors-isort
    rev: v5.10.1
    hooks:
      - id: isort
        args: ["--profile", "black", "--filter-files"]
  - repo: https://github.com/antonbabenko/pre-commit-terraform
    rev: v1.76.0
    hooks:
      - id: terraform_fmt
      - id: terraform_tflint
  - repo: local
    hooks:
      - id: nox-lint
        name: nox-lint
        entry: bash -c 'cd ./backend/ops_api && pipenv run nox -s lint'
        language: system
        types:
          - python
        pass_filenames: false
      - id: eslint
        name: eslint
        entry: bash -c 'cd ./frontend/ && bun lint'
        language: system
        types_or:
          - javascript
          - jsx
          - css
          - html
        pass_filenames: false

refactor: better scroll to top
  frontend/src/pages/agreements/CreateAgreementFlow.jsx
  frontend/src/pages/budgetLines/CreateBudgetLineFlow.jsx
Due: eslint

refactor: Improve Alert component and fix position issue
  frontend/src/components/UI/Alert/Alert.jsx
Due: eslint

create a budget change request for each field separately
  backend/ops_api/ops/resources/budget_line_items.py
  backend/ops_api/ops/resources/change_requests.py
  backend/ops_api/ops/utils/api_helpers.py
  backend/ops_api/tests/ops/workflows/test_workflows_experimental.py
Due: nox-lint

feat: ✨ adds CanComboBox (#2171)
  frontend/cypress/e2e/budgetLineItemsList.cy.js
  frontend/cypress/e2e/createAgreement.cy.js
  frontend/cypress/e2e/reviewAgreement.cy.js
  frontend/src/components/Agreements/ProjectOfficerComboBox.jsx
  frontend/src/components/BudgetLineItems/BudgetLinesForm/BudgetLinesForm.jsx
  frontend/src/components/BudgetLineItems/CreateBLIsAndSCs/CreateBLIsAndSCs.hooks.js
  frontend/src/components/CANs/CanComboBox/CanComboBox.jsx
  frontend/src/components/CANs/CanComboBox/index.js
  frontend/src/components/CANs/CanSelect/CanSelect.jsx
  frontend/src/components/CANs/CanSelect/index.js
  frontend/src/components/UI/Form/ComboBox/ComboBox.hooks.js
  frontend/src/components/UI/Form/ComboBox/ComboBox.jsx
Due: eslint

refactor: Improve Alert component to redirect right away and remove timeout
  frontend/src/components/UI/Alert/Alert.jsx
Due: eslint

support for rejecting changes
  backend/ops_api/ops/resources/change_requests.py
  backend/ops_api/tests/ops/workflows/test_workflows_experimental.py
Due: nox-lint

move from experimental to workflows
  backend/ops_api/tests/ops/workflows/test_workflows.py
  backend/ops_api/tests/ops/workflows/test_workflows_experimental.py
Due: nox-lint

update lock file
  backend/ops_api/Pipfile.lock
Due: none

add property to BLI for pending change requests
  backend/models/cans.py
  backend/ops_api/tests/ops/workflows/test_workflows.py
Due: nox-lint

minor renaming
  backend/ops_api/ops/resources/change_requests.py
Due: nox-lint

refactor: Add scroll to top on TablePageLayout component
  frontend/src/components/Layouts/TablePageLayout/TablePageLayout.js
  frontend/src/pages/agreements/list/AgreementsList.jsx
Due: eslint

refactor: Rename AgreementDetailHeader component
  frontend/src/components/Agreements/AgreementDetailHeader.jsx
Due: eslint

refactor: Update CurrencyInput component to improve error handling and formatting
  frontend/src/components/BudgetLineItems/BudgetLinesForm/CurrencyInput.jsx
  frontend/src/components/BudgetLineItems/BudgetLinesForm/budgetLinesForm.constants.js
  frontend/src/components/BudgetLineItems/BudgetLinesForm/budgetLinesForm.helpers.js
  frontend/src/components/BudgetLineItems/BudgetLinesForm/budgetLinesForm.hook.js
Due: eslint

chore: Add anchor link to budget lines header in AgreementBudgetLinesHeader.jsx
  frontend/src/components/Agreements/AgreementBudgetLinesHeader.jsx
  frontend/src/components/BudgetLineItems/AllBudgetLinesTable/AllBudgetLinesTable.jsx
Due: eslint

revert: Add Alert redirect instead of success step
  frontend/src/pages/agreements/CreateEditAgreement.jsx
Due: eslint

refactor: Add scroll to top on Agreement page
  frontend/src/pages/agreements/details/Agreement.jsx
Due: eslint

fix: Update cancel modal heading in StepCreateAgreement and StepSelectProject
  frontend/src/components/Agreements/AgreementEditor/AgreementEditForm.jsx
  frontend/src/components/BudgetLineItems/CreateBLIsAndSCs/CreateBLIsAndSCs.hooks.js
  frontend/src/pages/agreements/CreateEditAgreement.jsx
  frontend/src/pages/agreements/StepCreateAgreement.jsx
  frontend/src/pages/agreements/StepSelectProject.jsx
Due: eslint

fix: Update cancel modal handling in CreateBLIsAndSCs.hooks.js
  frontend/src/components/BudgetLineItems/CreateBLIsAndSCs/CreateBLIsAndSCs.hooks.js
Due: eslint

fix: Update cancel modal handling and headings in AgreementEditForm and CreateEditAgreement components
  frontend/src/components/Agreements/AgreementEditor/AgreementEditForm.jsx
  frontend/src/pages/agreements/CreateEditAgreement.jsx
Due: eslint

chore: Added test workflow
  .github/workflows/dev_fe_tag_test.yml
Due: none

chore: another change
  frontend/src/index.jsx
Due: eslint

chore: add package.json dir change
  .github/workflows/dev_fe_tag_test.yml
Due: none

chore: add checkout
  .github/workflows/dev_fe_tag_test.yml
Due: none

ci: version bump to frontend-v1.0.1
  frontend/package.json
Due: none

update lock file
  backend/data_tools/Pipfile.lock
  backend/ops_api/Pipfile.lock
Due: none

feat: trying to add custom action
  .github/actions/bump-and-tag/action.yml
  .github/actions/bump-and-tag/index.js
  .github/actions/bump-and-tag/package.json
Due: eslint

chore: testing my custom action
  .github/workflows/dev_fe_tag_test.yml
Due: none

chore: updating with fixes
  .github/actions/bump-and-tag/action.yml
  .github/actions/bump-and-tag/index.js
Due: eslint

endpoint for change request review (approve/deny)
  backend/ops_api/ops/resources/change_requests.py
  backend/ops_api/ops/urls.py
  backend/ops_api/ops/views.py
  backend/ops_api/tests/ops/workflows/test_workflows.py
Due: nox-lint

bug: 🐛 starts Alert improvements (#2178)
  frontend/cypress/e2e/agreementDetailsEdit.cy.js
  frontend/cypress/e2e/editAgreementAsBasicUser.cy.js
  frontend/src/components/Agreements/AgreementBudgetLinesHeader.jsx
  frontend/src/components/Agreements/AgreementDetailHeader.jsx
  frontend/src/components/Agreements/AgreementsTable/AgreementTableRow.jsx
  frontend/src/components/BudgetLineItems/AllBudgetLinesTable/AllBudgetLinesTable.jsx
  frontend/src/components/BudgetLineItems/BudgetLinesForm/CurrencyInput.jsx
  frontend/src/components/BudgetLineItems/BudgetLinesForm/budgetLinesForm.constants.js
  frontend/src/components/BudgetLineItems/BudgetLinesForm/budgetLinesForm.helpers.js
  frontend/src/components/BudgetLineItems/BudgetLinesForm/budgetLinesForm.hook.js
  frontend/src/components/Layouts/TablePageLayout/TablePageLayout.js
  frontend/src/components/UI/Alert/Alert.jsx
  frontend/src/components/UI/Alert/StepSuccessAlert.jsx
  frontend/src/pages/agreements/CreateAgreementFlow.jsx
  frontend/src/pages/agreements/CreateEditAgreement.jsx
  frontend/src/pages/agreements/details/Agreement.jsx
  frontend/src/pages/agreements/list/AgreementsList.jsx
  frontend/src/pages/budgetLines/CreateBudgetLine.jsx
  frontend/src/pages/budgetLines/CreateBudgetLineFlow.jsx
  frontend/src/pages/budgetLines/StepSuccess.jsx
Due: eslint

split out auth tests and fix
  backend/ops_api/ops/auth/api.py
  backend/ops_api/tests/auth/__init__.py
  backend/ops_api/tests/auth/auth_client.py
  backend/ops_api/tests/auth/conftest.py
  backend/ops_api/tests/auth/test_oidc_controller.py
  backend/ops_api/tests/auth/test_utils.py
Due: nox-lint

refactor: Remove unused dependencies and delete DatePickerPage component
  frontend/bun.lockb
  frontend/package.json
  frontend/src/index.jsx
  frontend/src/pages/DatePickerPage.css
  frontend/src/pages/DatePickerPage.jsx
Due: eslint

refactor: Remove unused dependencies and delete DatePickerPage component
  frontend/src/index.jsx
Due: eslint

updating some ac-2 things
  docs/Security-Compliance/Security-Controls/ac/ac-02-03.md
  docs/Security-Compliance/Security-Controls/ac/ac-02.md
Due: none

fix: Update cancel modal logix (#2187)
  frontend/src/components/Agreements/AgreementEditor/AgreementEditForm.jsx
  frontend/src/components/BudgetLineItems/CreateBLIsAndSCs/CreateBLIsAndSCs.hooks.js
  frontend/src/pages/agreements/CreateEditAgreement.jsx
  frontend/src/pages/agreements/StepCreateAgreement.jsx
  frontend/src/pages/agreements/StepSelectProject.jsx
Due: eslint

chore: testing no gh npm
  .github/actions/bump-and-tag/package.json
Due: none
