Repository HHS/OPRE-OPS: changes, and which pre-commit hooks are due for each by the changed paths.
All: nox-lint, eslint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: detect-aws-credentials
      - id: detect-private-key
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-json
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict

  ## Used to find secrets throughout the repository.
  -   repo: https://github.com/ibm/detect-secrets
      rev: 0.13.1+ibm.54.dss # https://github.com/Yelp/detect-secrets/releases
      hooks:
      -   id: detect-secrets
          args: ['--baseline', '.secrets.baseline']
          exclude: Pipfile.lock
  - repo: https://github.com/hadolint/hadolint
    rev: v2.10.0
    hooks:
      - id: hadolint
  # We're running black, but doing it via nox session instead - see below
  # - repo: https://github.com/psf/black
  #   rev: 22.6.0
  #   hooks:
  #   -   id: black
  - repo: https://github.com/pre-commit/mirrors-isort
    rev: v5.10.1
    hooks:
      - id: isort
  - repo: local
    hooks:
      - id: nox-lint
        name: nox-lint
        entry: bash -c 'cd ./backend_flask/ops_api && pipenv run nox -s lint'
        language: system
        types:
         - python
        pass_filenames: false
      - id: eslint
        name: eslint
        entry: bash -c 'cd ./frontend/ && yarn lint'
        language: system
        types_or:
          - javascript
          - jsx
          - css
          - html
        pass_filenames: false

WIP
  backend/ops_api/ops/utils/auth_views.py
  frontend/src/components/Auth/AuthSection.jsx
  frontend/src/helpers/backend.js
Due: nox-lint, eslint

intermediate checkin
  docker-compose.yml
Due: none

intermediate checkin
  backend/data_tools/Pipfile
  backend/data_tools/Pipfile.lock
  backend/data_tools/src/etl_data_from_excel/excel_models.py
  backend/data_tools/src/etl_data_from_excel/import_project_data_from_excel.py
Due: nox-lint

adds new dataviz colors and 12px font
  frontend/sass/uswds/styles.scss
  frontend/src/uswds/css/styles.css
  frontend/src/uswds/css/styles.css.map
Due: eslint

refactored to grid layout
  frontend/src/components/CANs/CanCard/CanCard.jsx
  frontend/src/components/CANs/CanCard/styles.module.css
  frontend/src/components/UI/Tag/Tag.jsx
Due: eslint

updates flex and border-color
  frontend/src/components/CANs/CanCard/CanCard.jsx
  frontend/src/components/CANs/CanCard/styles.module.css
Due: eslint

adds data structure and loop
  frontend/src/components/CANs/CanCard/CanCard.jsx
Due: eslint

adds percents
  frontend/src/components/CANs/CanCard/CanCard.jsx
Due: eslint

intermediate checkin
  backend/data_tools/pytest.ini
  backend/data_tools/src/etl_data_from_excel/extract_excel_load_table.py
  backend/data_tools/src/etl_data_from_excel/import_project_data_from_excel.py
  backend/models/etl.py
Due: nox-lint

change available_funding to Decimal type in the backend
  backend/ops_api/ops/utils/cans.py
  backend/ops_api/tests/ops/funding_summary/test_can_funding_summary.py
Due: nox-lint

wip
  frontend/src/components/CANs/CanCard/CanCard.jsx
Due: eslint

fixing typo in directory name and some typos
  docs/Security-Compliance/Incident-Response/README.md
  docs/Security-Compliance/Incident-Response/Secret-Key-Mgmt.md
  docs/Security-Compliance/Incident-Response/Sys-Admin-Acct-Mgmt.md
  docs/Security-Compliance/README.md
  docs/Security-Compliance/Security-Controls/ac-2/index.md
Due: none

suggested updates to ac-02
  docs/Security-Compliance/Security-Controls/ac-2/index.md
Due: none

update to ac-02(03)
  docs/Security-Compliance/Security-Controls/ac-2-3/index.md
Due: none

ac-2-(05)
  docs/Security-Compliance/Security-Controls/ac-2-5/index.md
Due: none

ac-2(7)
  docs/Security-Compliance/Security-Controls/ac-2-7/index.md
Due: none

updating for OPS
  docs/Security-Compliance/Security-Controls/ac-2-9/index.md
Due: none

updating for OPS
  docs/Security-Compliance/Security-Controls/ac-2-10/index.md
Due: none

AC-5 customizations
  docs/Security-Compliance/Security-Controls/ac-5/index.md
Due: none

ac-5 and ac-6 customizations
  docs/Security-Compliance/Security-Controls/ac-5/index.md
  docs/Security-Compliance/Security-Controls/ac-6/index.md
Due: none

ac-07 customizations
  docs/Security-Compliance/Security-Controls/ac-7/index.md
Due: none

working session on AC2 control text
  docs/Security-Compliance/Security-Controls/README.md
  docs/Security-Compliance/Security-Controls/ac-2-1/index.md
  docs/Security-Compliance/Security-Controls/ac-2-2/index.md
  docs/Security-Compliance/Security-Controls/ac-2-3/index.md
  docs/Security-Compliance/Security-Controls/ac-2-5/index.md
Due: none

WIP
  backend/ops_api/.secrets.baseline
  backend/ops_api/Pipfile
  backend/ops_api/Pipfile.lock
  backend/ops_api/ops/__init__.py
  backend/ops_api/ops/environment/default_settings.py
  backend/ops_api/tests/ops/auth/test_oidc_controller.py
  backend/ops_api/tests/ops/auth/test_utils.py
  backend/ops_api/tests/ops/conftest.py
  backend/ops_api/tests/ops/docker-compose.yml
  requirements.txt
Due: nox-lint

update ac-6
  docs/Security-Compliance/Security-Controls/ac-6/index.md
Due: none

Update index.md
  docs/Security-Compliance/Security-Controls/ac-7/index.md
Due: none

Update README.md
  docs/Security-Compliance/Security-Controls/README.md
Due: none

Update index.md
  docs/Security-Compliance/Security-Controls/at-2/index.md
Due: none

Update index.md
  docs/Security-Compliance/Security-Controls/au-2/index.md
Due: none

Update index.md
  docs/Security-Compliance/Security-Controls/cm-7-2/index.md
Due: none

Update index.md
  docs/Security-Compliance/Security-Controls/ia-8/index.md
Due: none

Update index.md
  docs/Security-Compliance/Security-Controls/ra-5/index.md
Due: none

Update index.md
  docs/Security-Compliance/Security-Controls/sc-20/index.md
Due: none

Update index.md
  docs/Security-Compliance/Security-Controls/sc-28-1/index.md
Due: none
