Repository HHS/OPRE-OPS: changes, and which pre-commit hooks are due for each by the changed paths.
All: nox-lint, eslint

nox-lint:
  name: nox-lint
  entry: bash -c 'cd ./backend/ops_api && pipenv run nox -s lint'
  language: system
  pass_filenames: false

eslint:
  name: eslint
  entry: bash -c 'cd ./frontend/ && bun lint'
  language: system
  pass_filenames: false

refactor: moves CanTabs to Cans dir
  frontend/src/components/CANs/CanTabs/CanTabs.jsx
  frontend/src/components/CANs/CanTabs/index.js
  frontend/src/pages/cans/list/CanList.jsx
  frontend/src/pages/cans/list/CanList.test.jsx
Due: eslint

chore: remove unneeded module
  frontend/src/components/CANs/CANTable/CANTable.constants.js
Due: eslint

test: adds unit-test for CANTable
  frontend/src/components/CANs/CANTable/CANTable.test.jsx
Due: eslint

test: adds test for CANTableRow
  frontend/src/components/CANs/CANTable/CANTableRow.test.jsx
Due: eslint

Adding DELETE /cans/ endpoint
  backend/ops_api/ops/resources/cans.py
  backend/ops_api/ops/schemas/cans.py
  backend/ops_api/ops/services/cans.py
  backend/ops_api/tests/ops/can/test_can.py
Due: nox-lint

test: 🤷 fix da test?
  frontend/cypress/e2e/loginPage.cy.js
  frontend/cypress/fixtures/initial-state.json
Due: eslint

test: adds pagination test
  frontend/cypress/e2e/canList.cy.js
Due: eslint

Refactoring GET endpoints to go through service layer and updating unit tests to test out the service and api layers separately.
  backend/ops_api/ops/resources/cans.py
  backend/ops_api/ops/schemas/cans.py
  backend/ops_api/ops/services/cans.py
  backend/ops_api/tests/ops/can/test_can.py
Due: nox-lint

docs: add docs for TS and JSDocs examples and usage
  docs/developers/frontend/types.md
  frontend/src/components/CANs/CANTable/CANTable.jsx
  frontend/src/components/Users/UserInfo/UserInfo.jsx
Due: eslint

docs: adds Prime's inspiration for all this
  docs/developers/frontend/types.md
Due: none

fix: fixes validation issues
  frontend/src/components/Agreements/AgreementEditor/AgreementEditForm.jsx
  frontend/src/components/Agreements/AgreementEditor/AgreementEditFormSuite.js
  frontend/src/components/BudgetLineItems/CreateBLIsAndSCs/CreateBLIsAndSCs.jsx
  frontend/src/components/BudgetLineItems/CreateBLIsAndSCs/suite.js
  frontend/src/pages/agreements/approve/ApproveAgreement.jsx
  frontend/src/pages/agreements/review/suite.js
Due: eslint

chore: remove un-needed initial state?
  frontend/cypress/e2e/loginPage.cy.js
  frontend/cypress/fixtures/initial-state.json
Due: eslint

chore: add optional types
  frontend/src/components/CANs/CANTypes.d.ts
Due: none

Adding CAN related permissions to role.sql file
  backend/data_tools/initial_data/003-role.sql
Due: none

wip: permission check
  frontend/src/pages/agreements/approve/ApproveAgreement.jsx
Due: eslint

added AzureVaultPath
  backend/data_tools/src/azure_utils/utils.py
  backend/data_tools/tests/azure_utils/test_utils.py
Due: nox-lint

feat: adds division_id to CAN prop
  .gitignore
  .vscode/settings.json
  backend/openapi.yml
  backend/ops_api/ops/schemas/budget_line_items.py
Due: nox-lint

docs: fixes openapi issues
  backend/openapi.yml
Due: none

wip
  frontend/src/pages/agreements/approve/ApproveAgreement.jsx
Due: eslint

test: adds more validation tests
  frontend/cypress/e2e/createAgreementWithValidations.cy.js
Due: eslint

fix: fixes validation for service_requirement_type
  frontend/src/components/Agreements/AgreementEditor/AgreementEditForm.jsx
  frontend/src/components/Agreements/AgreementEditor/AgreementEditFormSuite.js
Due: eslint

chore: organize props
  frontend/src/components/ServicesComponents/ContractTypeSelect/ContractTypeSelect.jsx
Due: eslint

test: fix moar tests
  frontend/cypress/e2e/createAgreement.cy.js
  frontend/cypress/e2e/createAgreementWithValidations.cy.js
  frontend/src/components/ServicesComponents/ServiceReqTypeSelect/ServiceReqTypeSelect.jsx
Due: eslint

fix: 🛠️ adds missing validation on Agreement form (#2832)
  frontend/cypress/e2e/createAgreement.cy.js
  frontend/cypress/e2e/createAgreementWithValidations.cy.js
  frontend/src/components/Agreements/AgreementEditor/AgreementEditForm.jsx
  frontend/src/components/Agreements/AgreementEditor/AgreementEditFormSuite.js
  frontend/src/components/BudgetLineItems/CreateBLIsAndSCs/CreateBLIsAndSCs.jsx
  frontend/src/components/BudgetLineItems/CreateBLIsAndSCs/suite.js
  frontend/src/components/ServicesComponents/ContractTypeSelect/ContractTypeSelect.jsx
  frontend/src/components/ServicesComponents/ServiceReqTypeSelect/ServiceReqTypeSelect.jsx
  frontend/src/pages/agreements/approve/ApproveAgreement.jsx
  frontend/src/pages/agreements/review/suite.js
Due: eslint

feat: adds feature-flag
  frontend/src/pages/agreements/approve/ApproveAgreement.jsx
Due: eslint

chore: testing new flow
  .github/workflows/dev_fe_build_and_deploy.yml
Due: none

ci: version bump to ops-frontend-v1.0.6
  frontend/package.json
Due: none

ci: version bump to ops-frontend-v1.0.7
  frontend/package.json
Due: none

ci: version bump to ops-frontend-v1.0.8
  frontend/package.json
Due: none

ci: version bump to ops-frontend-v1.0.9
  frontend/package.json
Due: none

chore: cleanup
  frontend/src/hooks/useToggle.js
  frontend/src/pages/agreements/approve/ApproveAgreement.hooks.js
  frontend/src/pages/agreements/approve/ApproveAgreement.jsx
Due: eslint

refactor environments and utils
  backend/data_tools/Pipfile
  backend/data_tools/Pipfile.lock
  backend/data_tools/environment/azure.py
  backend/data_tools/environment/cloudgov.py
  backend/data_tools/environment/dev.py
  backend/data_tools/environment/local.py
  backend/data_tools/environment/local_migration.py
  backend/data_tools/environment/pytest.py
  backend/data_tools/environment/test.py
  backend/data_tools/environment/types.py
  backend/data_tools/src/etl_data_from_excel/import_project_data_from_excel.py
  backend/data_tools/src/import_static_data/import_data.py
  backend/data_tools/src/import_static_data/load_db.py
  backend/data_tools/src/load_cans/main.py
  backend/data_tools/tests/import_static_data/test_import_data.py
  backend/data_tools/tests/ingest_cans/test_ingest_cans.py
  backend/ops_api/pytest.ini
Due: nox-lint

refactor environments and utils
  backend/data_tools/scripts/get_csv.sh
  backend/data_tools/src/common/__init__.py
  backend/data_tools/src/common/utils.py
  backend/data_tools/src/import_static_data/import_data.py
  backend/data_tools/src/import_static_data/load_db.py
  backend/data_tools/tests/azure_utils/test_utils.py
Due: nox-lint

refactor environments and utils
  backend/data_tools/Pipfile
Due: none

update lock files
  backend/data_tools/Pipfile.lock
  backend/ops_api/Pipfile.lock
Due: none

Path conditions:
  nox-lint: any of: \.py$
  eslint: any of: \.(js|mjs|cjs)$, \.jsx$, \.css$, \.(html|htm|xhtml)$
