Repository HHS/OPRE-OPS: changes, and which pre-commit hooks are due for each by the changed paths.
All: nox-lint, eslint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: detect-aws-credentials
      - id: detect-private-key
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-json
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict

  ## Used to find secrets throughout the repository.
  -   repo: https://github.com/ibm/detect-secrets
      rev: 0.13.1+ibm.54.dss # https://github.com/Yelp/detect-secrets/releases
      hooks:
      -   id: detect-secrets
          args: ['--baseline', '.secrets.baseline']
          exclude: Pipfile.lock
  - repo: https://github.com/hadolint/hadolint
    rev: v2.10.0
    hooks:
      - id: hadolint
  # We're running black, but doing it via nox session instead - see below
  # - repo: https://github.com/psf/black
  #   rev: 22.6.0
  #   hooks:
  #   -   id: black
  - repo: https://github.com/pre-commit/mirrors-isort
    rev: v5.10.1
    hooks:
      - id: isort
  - repo: local
    hooks:
      - id: nox-lint
        name: nox-lint
        entry: bash -c 'cd ./backend_flask/ops_api && pipenv run nox -s lint'
        language: system
        types:
         - python
        pass_filenames: false
      - id: eslint
        name: eslint
        entry: bash -c 'cd ./frontend/ && yarn lint'
        language: system
        types_or:
          - javascript
          - jsx
          - css
          - html
        pass_filenames: false

refactor: move PortfolioDetail.jsx to pages/, api/, and store/ directories
  frontend/src/api/getPortfolioCans.js
  frontend/src/api/getPortfolioCans.test.js
  frontend/src/pages/portfolios/detail/PortfolioDetail.jsx
  frontend/src/pages/portfolios/detail/styles.module.css
  frontend/src/store/portfolioDetailSlice.js
Due: eslint

updated canCardDetail to use react state, refactored api calls
  frontend/src/components/CanCard/CanCard.jsx
  frontend/src/components/CanCard/canCardDetailSlice.js
  frontend/src/components/CanCard/getCanCardDetails.js
  frontend/src/components/CanCard/getCanCardDetails.test.js
  frontend/src/pages/portfolios/detail/PortfolioDetail.jsx
  frontend/src/pages/portfolios/detail/getPortfolioCans.js
Due: eslint

modify the CAN and CanFiscalYear models
  backend/ops_api/ops/models/cans.py
Due: nox-lint

add carry_over_funding to CAN
  backend/ops_api/ops/models/cans.py
Due: nox-lint

Fixing error in tests.
  frontend/src/components/PortfolioTeamLeaders/PortfolioTeamLeaders.jsx
Due: eslint

WIP
  backend/ops_api/ops/can/urls.py
  backend/ops_api/ops/can/views.py
  frontend/src/components/CanCard/CanCard.jsx
  frontend/src/components/CanCard/canCardDetailSlice.js
  frontend/src/components/CanCard/getCanCardDetails.js
  frontend/src/components/CanCard/getCanCardDetails.test.js
  frontend/src/components/CanCard/styles.module.css
  frontend/src/components/PortfolioFundingSummary/PortfolioFundingSummary.jsx
  frontend/src/components/Portfolios/PortfolioFundingByBudgetStatus/util.test.js
  frontend/src/pages/cans/detail/getCan.js
  frontend/src/pages/portfolios/detail/PortfolioDetail.jsx
  frontend/src/pages/portfolios/detail/getPortfolioCans.js
Due: nox-lint, eslint

refactored backend to support budget_line_items
  backend/ops_api/ops/can/urls.py
  backend/ops_api/ops/can/views.py
  data-tools/data/can_data.json5
  data-tools/data/portfolio_data.json5
Due: nox-lint

Fixing unit tests.
  frontend/src/components/Portfolios/PortfolioTeamLeaders/PortfolioTeamLeaders.jsx
  frontend/yarn.lock
Due: eslint

Fixing things, docker now runs.
  backend/ops_api/ops/environment/dev.py
  backend/ops_api/ops/environment/local.py
  backend/ops_api/ops/user/utils.py
  backend/ops_api/ops/user/views.py
  data-tools/src/import_static_data/import_data.py
  docker-compose.yml
Due: nox-lint

More repairing from merge.
  backend/ops_api/ops/resources/portfolio.py
  backend/ops_api/ops/utils.py
  backend/ops_api/tests/ops/can/test_can_funding_summary.py
  data-tools/data/can_data.json5
  data-tools/data/portfolio_data.json5
  frontend/package.json
Due: nox-lint

Unit test working.
  backend/ops_api/ops/models/cans.py
  backend/ops_api/tests/ops/conftest.py
  backend/ops_api/tests/ops/portfolio/test_portfolio.py
  frontend/cypress/e2e/portfolioDetail.cy.js
  frontend/src/components/Portfolios/PortfolioTeamLeaders/PortfolioTeamLeaders.jsx
Due: nox-lint, eslint

Got the CSS updated for team leaders.
  frontend/cypress/e2e/portfolioDetail.cy.js
  frontend/src/components/Portfolios/PortfolioTeamLeaders/PortfolioTeamLeaders.jsx
  frontend/src/components/Portfolios/PortfolioTeamLeaders/styles.module.css
Due: eslint

Got the data to load.
  data-tools/data/portfolio_data.json5
  data-tools/data/user_data.json5
Due: none

Making fixes again,.
  backend/ops_api/ops/models/portfolios.py
  backend/ops_api/ops/models/users.py
  data-tools/data/user_data.json5
  frontend/src/components/Portfolios/PortfolioTeamLeaders/PortfolioTeamLeaders.jsx
Due: nox-lint, eslint

Pushing the latest changes.
  backend/ops_api/Pipfile.lock
  backend/ops_api/tests/ops/can/test_can_funding_summary.py
Due: nox-lint

Fixing e2e
  frontend/cypress/e2e/portfolioDetail.cy.js
Due: eslint

Removing unneeded files that were left over from merge.
  frontend/src/components/CANFundingBar/CANFundingBar.jsx
  frontend/src/components/CANFundingBar/styles.module.css
  frontend/src/components/CANFundingYTD/CANFundingYTD.jsx
  frontend/src/components/CANFundingYTD/styles.module.css
  frontend/src/components/CanCard/CanCard.jsx
  frontend/src/components/CanCard/CanCard.test.js
  frontend/src/components/CanCard/styles.module.css
  frontend/src/components/PortfolioFundingByCAN/PortfolioFundingByCAN.jsx
  frontend/src/components/PortfolioFundingByCAN/styles.module.css
  frontend/src/components/PortfolioFundingSummary/PortfolioFundingSummary.jsx
  frontend/src/components/PortfolioSummaryCards/PortfolioCarryForwardFunding.jsx
  frontend/src/components/PortfolioSummaryCards/PortfolioFundingTotal.jsx
  frontend/src/components/PortfolioSummaryCards/PortfolioNewFunding.jsx
  frontend/src/components/Portfolios/PortfolioFundingByBudgetStatus/util.test.js
  frontend/src/components/Portfolios/PortfolioTeamLeaders/PortfolioTeamLeaders.jsx
  frontend/src/pages/cans/detail/getCan.js
  frontend/src/store/portfolioDetailSlice.js
Due: eslint

bug:add relationship cans to managed cans
  backend/ops_api/ops/models/portfolios.py
Due: nox-lint

add research-projects endpoint
  backend/ops_api/ops/urls.py
  backend/ops_api/ops/views.py
Due: nox-lint

add test ResearchProject #1
  backend/ops_api/ops/resources/research_projects.py
  data-tools/data/research_project_data.json5
  data-tools/src/import_static_data/import_data.py
  docker-compose.yml
Due: nox-lint

add cans relationship to ResearchProject model
  backend/ops_api/ops/models/cans.py
  backend/ops_api/ops/models/research_projects.py
  data-tools/data/can_data.json5
  docker-compose.yml
Due: nox-lint

Config cleanup
  .github/codeql/codeql-config.yml
  backend/ops_api/Dockerfile
  backend/ops_api/ops/environment/cloud/__inti__.py
  backend/ops_api/ops/environment/cloud/dev.py
  backend/ops_api/ops/environment/cloud/prod.py
  backend/ops_api/ops/environment/cloud/staging.py
  backend/ops_api/ops/environment/default_settings.py
  backend/ops_api/ops/environment/local/__init__.py
  backend/ops_api/ops/environment/local/container.py
  backend/ops_api/ops/environment/local/localhost.py
  docker-compose.yml
Due: nox-lint

add unit tests for /research-projects
  backend/ops_api/ops/models/research_projects.py
  backend/ops_api/tests/ops/research_project/__init__.py
  backend/ops_api/tests/ops/research_project/conftest.py
  backend/ops_api/tests/ops/research_project/test_research_project.py
Due: nox-lint

fix merge typo
  data-tools/src/import_static_data/import_data.py
Due: nox-lint

fix unit tests
  backend/ops_api/tests/ops/funding_summary/test_can_funding_summary.py
  backend/ops_api/tests/ops/portfolio/test_portfolio.py
  backend/ops_api/tests/ops/research_project/conftest.py
Due: nox-lint

initial move to package level conftest.py
  backend/ops_api/tests/ops/can/conftest.py
  backend/ops_api/tests/ops/can/test_agreement.py
  backend/ops_api/tests/ops/can/test_agreement_type.py
  backend/ops_api/tests/ops/can/test_budget_line_item.py
  backend/ops_api/tests/ops/can/test_budget_line_item_status.py
  backend/ops_api/tests/ops/can/test_can.py
  backend/ops_api/tests/ops/can/test_can_arrangement_type.py
  backend/ops_api/tests/ops/can/test_can_fiscal_year.py
  backend/ops_api/tests/ops/can/test_can_fiscal_year_carry_over.py
  backend/ops_api/tests/ops/can/test_funding_partner.py
  backend/ops_api/tests/ops/can/test_funding_source.py
  backend/ops_api/tests/ops/conftest.py
  backend/ops_api/tests/ops/funding_summary/conftest.py
  backend/ops_api/tests/ops/funding_summary/test_can_funding_summary.py
  backend/ops_api/tests/ops/funding_summary/test_portfolio_funding_summary.py
  backend/ops_api/tests/ops/portfolio/conftest.py
  backend/ops_api/tests/ops/portfolio/test_portfolio.py
  backend/ops_api/tests/ops/portfolio/test_portfolio_cans.py
Due: nox-lint

refactor:initial limit test data scope
  backend/ops_api/tests/ops/can/conftest.py
  backend/ops_api/tests/ops/can/test_portfolio_cans.py
  backend/ops_api/tests/ops/conftest.py
  backend/ops_api/tests/ops/funding_summary/conftest.py
Due: nox-lint

refactor:revert back to single conftest.py
  backend/ops_api/tests/ops/can/conftest.py
  backend/ops_api/tests/ops/can/test_agreement.py
  backend/ops_api/tests/ops/can/test_agreement_type.py
  backend/ops_api/tests/ops/can/test_budget_line_item.py
  backend/ops_api/tests/ops/can/test_budget_line_item_status.py
  backend/ops_api/tests/ops/can/test_can.py
  backend/ops_api/tests/ops/can/test_can_arrangement_type.py
  backend/ops_api/tests/ops/can/test_can_fiscal_year.py
  backend/ops_api/tests/ops/can/test_can_fiscal_year_carry_over.py
  backend/ops_api/tests/ops/can/test_funding_partner.py
  backend/ops_api/tests/ops/can/test_funding_source.py
  backend/ops_api/tests/ops/can/test_portfolio_cans.py
  backend/ops_api/tests/ops/conftest.py
  backend/ops_api/tests/ops/funding_summary/conftest.py
  backend/ops_api/tests/ops/funding_summary/test_can_funding_summary.py
  backend/ops_api/tests/ops/funding_summary/test_portfolio_funding_summary.py
  backend/ops_api/tests/ops/portfolio/conftest.py
  backend/ops_api/tests/ops/portfolio/test_portfolio.py
  backend/ops_api/tests/ops/research_project/conftest.py
  backend/ops_api/tests/ops/research_project/test_research_project.py
  frontend/src/components/UI/Footer/NavFooter.jsx
Due: nox-lint, eslint

wip
  frontend/.eslintrc.json
  frontend/src/components/UI/Footer/AgencyInfo.jsx
  frontend/src/images/acf-logo.jpg
Due: eslint

Create git-branching.md
  docs/git-branching.md
Due: none

allows for jpgs
  frontend/.eslintrc.json
Due: none

footer improvements
  frontend/sass/uswds/styles.scss
  frontend/src/components/UI/Footer/Footer.jsx
  frontend/src/components/UI/Footer/Idnetifier.jsx
  frontend/src/images/hhs-logo.jpg
  frontend/src/uswds/css/styles.css
  frontend/src/uswds/css/styles.css.map
Due: eslint

Ops footer (#632)
  frontend/.eslintrc.json
  frontend/sass/uswds/styles.scss
  frontend/src/components/UI/Footer/Footer.jsx
  frontend/src/components/UI/Footer/Idnetifier.jsx
  frontend/src/images/hhs-logo.jpg
  frontend/src/uswds/css/styles.css
  frontend/src/uswds/css/styles.css.map
Due: eslint

add ResearchProject test data
  data-tools/data/can_data.json5
  data-tools/data/research_project_data.json5
Due: none

add research_project_cans to ingest script
  data-tools/src/import_static_data/import_data.py
Due: nox-lint

add unit tests for endpoint: research_projects.py
  backend/ops_api/ops/resources/research_projects.py
  backend/ops_api/tests/ops/research_project/test_research_project.py
Due: nox-lint

add test data to unit tests
  backend/ops_api/tests/ops/conftest.py
Due: nox-lint

fix data import order
  data-tools/scripts/import_data.sh
  docker-compose.yml
Due: none

adds global styles
  frontend/sass/uswds/styles.scss
  frontend/src/uswds/css/styles.css
  frontend/src/uswds/css/styles.css.map
Due: eslint

link around logo
  frontend/src/components/UI/Header/Header.jsx
Due: eslint
