Repository HHS/OPRE-OPS: changes, and which pre-commit hooks are due for each by the changed paths.
All: nox-lint, eslint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: detect-aws-credentials
      - id: detect-private-key
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-json
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict

  - repo: https://github.com/hadolint/hadolint
    rev: v2.10.0
    hooks:
      - id: hadolint
  # We're running black, but doing it via nox session instead - see below
  # - repo: https://github.com/psf/black
  #   rev: 22.6.0
  #   hooks:
  #   -   id: black
  - repo: https://github.com/pre-commit/mirrors-isort
    rev: v5.10.1
    hooks:
      - id: isort
        args: ["--profile", "black", "--filter-files"]
  - repo: https://github.com/antonbabenko/pre-commit-terraform
    rev: v1.76.0
    hooks:
      - id: terraform_fmt
      - id: terraform_tflint
  - repo: local
    hooks:
      - id: nox-lint
        name: nox-lint
        entry: bash -c 'cd ./backend/ops_api && pipenv run nox -s lint'
        language: system
        types:
          - python
        pass_filenames: false
      - id: eslint
        name: eslint
        entry: bash -c 'cd ./frontend/ && bun lint'
        language: system
        types_or:
          - javascript
          - jsx
          - css
          - html
        pass_filenames: false

refactor: move state for isVisible up to parent
  frontend/src/components/Agreements/AgreementChangesAlert/AgreementsChangesAlert.jsx
  frontend/src/components/UI/Alert/SimpleAlert.jsx
  frontend/src/pages/agreements/details/Agreement.jsx
Due: eslint

docs: updates docs and script for vitest coverage
  README.md
  frontend/package.json
Due: none

WIP: validation when not DRAFT and not change to status and using Marshmallow schema
  backend/ops_api/ops/base_views.py
  backend/ops_api/ops/resources/budget_line_items.py
  backend/ops_api/ops/resources/change_requests.py
  backend/ops_api/ops/schemas/budget_line_items.py
  backend/ops_api/ops/utils/api_helpers.py
  backend/ops_api/tests_manual/ops/test_budget_line_item.py
Due: nox-lint

feat: ✨ adds vitest-ui with coverage report
  frontend/bun.lockb
  frontend/package.json
  frontend/vite.config.mjs
Due: eslint

chore: install fresh packages
  frontend/bun.lockb
  frontend/package.json
Due: none

feat: Add success alert after submitting edits to agreement
  frontend/src/components/BudgetLineItems/CreateBLIsAndSCs/CreateBLIsAndSCs.hooks.js
Due: eslint

refactor: Better defaults for SimpleAlert to keeps things simple
  frontend/src/components/UI/Alert/SimpleAlert.jsx
Due: eslint

Added CANs and workflow step to help pass E2E tests
  backend/ops_api/ops/resources/agreements.py
  backend/ops_api/ops/schemas/budget_line_items.py
Due: nox-lint

test: 🧪 adds SimpleAlert component tests
  frontend/src/components/UI/Alert/SimpleAlert.test.jsx
Due: eslint

Removing some small leftover test code found during code review.
  backend/ops_api/ops/resources/agreements.py
Due: nox-lint

extract check_user_session_function from decorator; filter invalid request endpoints and methods
  backend/ops_api/ops/__init__.py
  backend/ops_api/ops/auth/decorators.py
  backend/ops_api/tests/auth/test_check_user_session.py
  backend/ops_api/tests/ops/features/test_delete_agreement.py
  backend/ops_api/tests/ops/features/test_edit_planned_budget_line.py
Due: nox-lint

refactor: useCreateBLIsAndSCs to handle error when updating budget line
  frontend/src/components/BudgetLineItems/CreateBLIsAndSCs/CreateBLIsAndSCs.hooks.js
Due: eslint

chore: Reset form and set edit mode to false after creating budget lines and subcategories
  frontend/src/components/BudgetLineItems/CreateBLIsAndSCs/CreateBLIsAndSCs.hooks.js
Due: eslint

remove @handle_api_error from Auth module
  backend/ops_api/ops/auth/api.py
  backend/ops_api/ops/auth/api_error.py
Due: nox-lint

WIP: Marshmallow schema continued (and add missing file) but return to using is_changing_status temporarily to debug
  backend/ops_api/ops/schemas/budget_line_items.py
  backend/ops_api/ops/schemas/budget_line_items_marshmallow.py
Due: nox-lint

added USER_SESSION_EXPIRATION
  backend/ops_api/ops/auth/decorators.py
  backend/ops_api/ops/environment/default_settings.py
Due: nox-lint

re-enable checking target status even if not changing
  backend/ops_api/ops/schemas/budget_line_items_marshmallow.py
  backend/ops_api/tests/ops/agreement/test_agreement_history.py
Due: nox-lint

enable check_last_active_at for all endpoints (not excluding /notification)
  backend/ops_api/ops/auth/decorators.py
Due: nox-lint

test: 🧪 adds tests for AgreementChangeAlert
  frontend/src/components/Agreements/AgreementChangesAlert/AgreementChangesAlert.test.jsx
  frontend/src/components/UI/Alert/SimpleAlert.test.jsx
Due: eslint

refactor: Update AgreementBudgetLinesHeader to have better defaults
  frontend/src/components/Agreements/AgreementBudgetLinesHeader.jsx
Due: eslint

refactor: Remove unused StatusTag component
  frontend/src/components/UI/Tag/StatusTag.jsx
Due: eslint

docs: Update Tag component documentation format and comments
  frontend/src/components/UI/Tag/Tag.jsx
Due: eslint

refactor: Update AgreementBudgetLines to include drafts in budget line items
  frontend/src/components/BudgetLineItems/CreateBLIsAndSCs/CreateBLIsAndSCs.hooks.js
  frontend/src/components/BudgetLineItems/CreateBLIsAndSCs/CreateBLIsAndSCs.jsx
  frontend/src/pages/agreements/details/AgreementBudgetLines.jsx
Due: eslint

docs: updates docs and script for vitest coverage (#2337)
  README.md
  frontend/package.json
Due: none

validation with Missing values (so PATCH is handled differently when a null value is sent compared to when the property is not sent at all)
  backend/ops_api/ops/schemas/budget_line_items_marshmallow.py
  backend/ops_api/tests/ops/agreement/test_agreement_history.py
  backend/ops_api/tests_manual/ops/test_budget_line_item.py
Due: nox-lint

feat: Add changeRequests Alerts (#2326)
  frontend/jsconfig.json
  frontend/src/api/patchBudgetLineItems.js
  frontend/src/components/Agreements/AgreementChangesAlert/AgreementChangesAlert.test.jsx
  frontend/src/components/Agreements/AgreementChangesAlert/AgreementsChangesAlert.jsx
  frontend/src/components/Agreements/AgreementChangesAlert/index.js
  frontend/src/components/Agreements/AgreementDetailsCards/AgreementTotalBudgetLinesCard.jsx
  frontend/src/components/Agreements/AgreementEditor/AgreementEditForm.jsx
  frontend/src/components/BudgetLineItems/CreateBLIsAndSCs/CreateBLIsAndSCs.hooks.js
  frontend/src/components/BudgetLineItems/CreateBLIsAndSCs/CreateBLIsAndSCs.jsx
  frontend/src/components/UI/Alert/Alert.jsx
  frontend/src/components/UI/Alert/Alert.test.jsx
  frontend/src/components/UI/Alert/SimpleAlert.jsx
  frontend/src/components/UI/Alert/SimpleAlert.test.jsx
  frontend/src/components/UI/Alert/alertSlice.js
  frontend/src/components/UI/Tag/StatusTagList.jsx
  frontend/src/hooks/use-alert.hooks.js
  frontend/src/hooks/useChangeRequests.hooks.js
  frontend/src/pages/agreements/details/Agreement.jsx
  frontend/src/pages/agreements/details/AgreementDetails.jsx
  frontend/src/pages/agreements/details/AgreementDetailsView.jsx
Due: eslint

refactor: Update AgreementCANReviewAccordion to conditionally render CANFundingCard components
  frontend/src/components/Agreements/AgreementCANReviewAccordion/AgreementCANReviewAccordion.jsx
  frontend/src/pages/agreements/review/ReviewAgreement.helpers.js
Due: eslint

fix: Agreement Summary Cards in edit mode (#2342)
  frontend/src/components/Agreements/AgreementBudgetLinesHeader.jsx
  frontend/src/components/Agreements/AgreementCANReviewAccordion/AgreementCANReviewAccordion.jsx
  frontend/src/components/BudgetLineItems/CreateBLIsAndSCs/CreateBLIsAndSCs.hooks.js
  frontend/src/components/BudgetLineItems/CreateBLIsAndSCs/CreateBLIsAndSCs.jsx
  frontend/src/components/UI/Tag/StatusTag.jsx
  frontend/src/components/UI/Tag/Tag.jsx
  frontend/src/pages/agreements/details/AgreementBudgetLines.jsx
  frontend/src/pages/agreements/review/ReviewAgreement.helpers.js
Due: eslint

fix: 🧪 handleSetBudgetLineFromUrl function to CreateBLIsAndSCs.hooks.js
  frontend/src/components/BudgetLineItems/CreateBLIsAndSCs/CreateBLIsAndSCs.hooks.js
Due: eslint

refactor: functions for calculating fees and totals in CreateBLIsAndSCs.hooks.js
  frontend/src/components/BudgetLineItems/CreateBLIsAndSCs/CreateBLIsAndSCs.hooks.js
  frontend/src/components/BudgetLineItems/CreateBLIsAndSCs/CreateBLIsAndSCs.jsx
Due: eslint

test: 🧪 Improve duplicate budget line item functionality
  frontend/cypress/e2e/createAgreement.cy.js
Due: eslint

test: 🧪 fix moar tests
  frontend/cypress/e2e/components.cy.js
  frontend/cypress/e2e/editAgreement.cy.js
Due: eslint

test using loop to run cypress tests
  .github/workflows/unit_test_reusable.yml
Due: none

refactor: fixes for e2e tests
  frontend/src/components/BudgetLineItems/CreateBLIsAndSCs/CreateBLIsAndSCs.hooks.js
  frontend/src/components/BudgetLineItems/CreateBLIsAndSCs/suite.js
  frontend/src/hooks/useChangeRequests.hooks.js
Due: eslint

test get e2e to show up
  .github/workflows/unit_test_reusable.yml
Due: none

test
  .github/workflows/unit_test_reusable.yml
Due: none
