Repository HHS/OPRE-OPS: changes, and which pre-commit hooks are due for each by the changed paths.
All: nox-lint, eslint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: detect-aws-credentials
      - id: detect-private-key
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-json
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict

  - repo: https://github.com/hadolint/hadolint
    rev: v2.10.0
    hooks:
      - id: hadolint
  # We're running black, but doing it via nox session instead - see below
  # - repo: https://github.com/psf/black
  #   rev: 22.6.0
  #   hooks:
  #   -   id: black
  - repo: https://github.com/pre-commit/mirrors-isort
    rev: v5.10.1
    hooks:
      - id: isort
        args: ["--profile", "black", "--filter-files"]
  - repo: https://github.com/antonbabenko/pre-commit-terraform
    rev: v1.76.0
    hooks:
      - id: terraform_fmt
      - id: terraform_tflint
  - repo: local
    hooks:
      - id: nox-lint
        name: nox-lint
        entry: bash -c 'cd ./backend/ops_api && pipenv run nox -s lint'
        language: system
        types:
          - python
        pass_filenames: false
      - id: eslint
        name: eslint
        entry: bash -c 'cd ./frontend/ && bun lint'
        language: system
        types_or:
          - javascript
          - jsx
          - css
          - html
        pass_filenames: false

refactor: moves react logic into hooks module
  frontend/src/pages/agreements/review/ReviewAgreement.jsx
  frontend/src/pages/agreements/review/reviewAgreement.hooks.js
Due: eslint

docs: copy updates
  frontend/src/components/Agreements/AgreementActionAccordion/AgreementActionAccordion.jsx
  frontend/src/components/Agreements/AgreementMetaAccordion/AgreementMetaAccordion.jsx
Due: eslint

refactor: convert agreementId to number in ReviewAgreement component
  frontend/src/pages/agreements/review/ReviewAgreement.jsx
  frontend/src/pages/agreements/review/reviewAgreement.hooks.js
Due: eslint

(5) feat: CanReviewAccordion improvements on Agreement Approve page (#2625)
  frontend/cypress/e2e/approveChangeRequestsAtAgreementLevel.cy.js
  frontend/cypress/e2e/reviewChangeRequestsAtCardLevel.cy.js
  frontend/src/components/Agreements/AgreementBLIAccordion/AgreementBLIAccordion.jsx
  frontend/src/components/Agreements/AgreementCANReviewAccordion/AgreementCANReviewAccordion.jsx
  frontend/src/components/Agreements/AgreementCANReviewAccordion/AgreementCANReviewAccordion.test.jsx
  frontend/src/components/BudgetLineItems/AllBudgetLinesTable/AllBudgetLinesTable.constants.js
  frontend/src/components/BudgetLineItems/BLIDiffTable/BLIDiffRow.helpers.js
  frontend/src/components/BudgetLineItems/BLIDiffTable/BLIDiffRow.jsx
  frontend/src/components/BudgetLineItems/BLIDiffTable/BLIDiffTable.constants.js
  frontend/src/components/BudgetLineItems/BLIDiffTable/BLIDiffTable.test.js
  frontend/src/components/BudgetLineItems/BLIReviewTable/BLIReviewTable.constants.js
  frontend/src/components/BudgetLineItems/BudgetLinesForm/BudgetLinesForm.jsx
  frontend/src/components/BudgetLineItems/BudgetLinesForm/BudgetLinesForm.test.jsx
  frontend/src/components/BudgetLineItems/BudgetLinesTable/BudgetLinesTable.constants.js
  frontend/src/components/BudgetLineItems/CreateBLIsAndSCs/CreateBLIsAndSCs.hooks.js
  frontend/src/components/CANs/CANFundingCard/CanFundingCard.test.jsx
  frontend/src/components/ChangeRequests/BudgetChangeReviewCard/BudgetChangeReviewCard.test.jsx
  frontend/src/components/UI/Form/DesiredAwardDate/DesiredAwardDate.jsx
  frontend/src/components/UI/Form/DesiredAwardDate/DesiredAwardDate.test.js
  frontend/src/helpers/utils.js
  frontend/src/helpers/utils.test.js
  frontend/src/hooks/useChangeRequests.hooks.js
  frontend/src/pages/agreements/approve/ApproveAgreement.hooks.js
  frontend/src/pages/agreements/approve/ApproveAgreement.jsx
Due: eslint

refactor: Update success Alert for Budget Changes (#2643)
  frontend/cypress/e2e/budgetChangeRequest.cy.js
  frontend/src/components/BudgetLineItems/CreateBLIsAndSCs/CreateBLIsAndSCs.hooks.js
  frontend/src/pages/agreements/details/AgreementBudgetLines.jsx
  frontend/src/pages/agreements/details/AgreementDetails.test.js
Due: eslint

feature: group by Services Components
  frontend/src/pages/agreements/review/ReviewAgreement.jsx
  frontend/src/pages/agreements/review/reviewAgreement.hooks.js
Due: eslint

test: Update AgreementMetaAccordion test description
  frontend/src/components/Agreements/AgreementMetaAccordion/AgreementMetaAccordion.test.jsx
Due: eslint

refactor: Remove unused AgreementChangesAccordion component
  frontend/src/components/Agreements/AgreementChangesAccordion/AgreementChangesAccordion.jsx
  frontend/src/pages/agreements/review/ReviewAgreement.jsx
  frontend/src/pages/agreements/review/reviewAgreement.hooks.js
Due: eslint

feat: adds Notes accordion
  frontend/src/pages/agreements/review/ReviewAgreement.jsx
Due: eslint

ac-02-13 tweak
  docs/Security-Compliance/Security-Controls/ac/ac-02-13.md
Due: none

add unit tests; add user prop dep to useEffect
  frontend/src/components/Users/UserInfo/UserInfo.jsx
  frontend/src/components/Users/UserInfo/UserInfo.test.js
Due: eslint

only display User Admin menu option when user has the USER_ADMIN role
  frontend/src/components/UI/Header/Menu.jsx
Due: eslint

feat: updates to check all
  frontend/src/components/BudgetLineItems/BLIReviewTable/BLIReviewTable.jsx
  frontend/src/pages/agreements/review/ReviewAgreement.jsx
  frontend/src/pages/agreements/review/reviewAgreement.hooks.js
Due: eslint

refactor: Remove unused import in BLIReviewTable component
  frontend/src/components/BudgetLineItems/BLIReviewTable/BLIReviewTable.jsx
Due: eslint

Updating tests, showing bulleted list for agreements, and adjusting messag text for change notifications in python.
  backend/ops_api/ops/utils/change_requests.py
  frontend/src/components/Agreements/AgreementChangesResponseAlert/AgreementChangesResponseAlert.jsx
  frontend/src/components/Agreements/AgreementChangesResponseAlert/AgreementChangesResponseAlert.test.jsx
  frontend/src/pages/agreements/details/Agreement.jsx
Due: nox-lint, eslint

feat: Add Review Changes accordion and components
  frontend/src/pages/agreements/review/ReviewAgreement.jsx
Due: eslint

remove vacuum linter in favor of mega linter (story in backlog)
  .github/workflows/ci.yml
  .github/workflows/openapi_linter.yml
  .pre-commit-config.yaml
Due: none

update http to https in mock unit test (js)
  frontend/src/api/opsAPI.js
  frontend/src/api/opsAuthAPI.js
  frontend/src/tests/mocks.js
Due: eslint

Adding a Vanishing Alert and now alerts on agreements page will vanish after 2 seconds by default.
  frontend/src/components/Agreements/AgreementChangesResponseAlert/AgreementChangesResponseAlert.jsx
  frontend/src/components/UI/Alert/VanishingAlert.jsx
Due: eslint

Organizing imports.
  frontend/src/components/UI/Alert/VanishingAlert.jsx
Due: eslint

Switch blob level to account level token
  backend/ops_api/ops/document/azure_document_repository.py
Due: nox-lint

Add document endpoints to ops api
  backend/openapi.yml
  backend/ops_api/ops/document/api.py
  backend/ops_api/ops/document/schema.py
  backend/ops_api/ops/urls.py
  backend/ops_api/ops/views.py
Due: nox-lint

Remove document blueprint registration
  backend/ops_api/ops/__init__.py
  backend/ops_api/ops/document/api.py
Due: nox-lint

Add doc id to patch status service func
  backend/ops_api/ops/document/service.py
Due: nox-lint

Update utils: add get by agreement id, doc id to db inserts, and map doc type
  backend/ops_api/ops/document/utils.py
Due: nox-lint

Add patch permissions to users
  backend/data_tools/data/user_data.json5
Due: none

Update doc gateway provider setter
  backend/ops_api/ops/document/document_gateway.py
Due: nox-lint

Fix repo class return
  backend/ops_api/ops/document/document_repository_factory.py
Due: nox-lint

Add process status patch util
  backend/ops_api/ops/document/azure_document_repository.py
  backend/ops_api/ops/document/fake_document_repository.py
  backend/ops_api/ops/document/utils.py
Due: nox-lint

Add doc endpoints to FE api lists
  frontend/src/api/getDocumentsByAgreementId.js
  frontend/src/api/patchDocumentStatus.js
  frontend/src/api/postDocument.js
Due: eslint

Remove unused doc bp imports
  backend/ops_api/ops/document/__init__.py
Due: nox-lint

Add document events to opseventtype
  backend/alembic/versions/2024_07_29_0601-f0f87da808c5_add_document_events.py
Due: nox-lint

Create temp page for testing upload documents
  frontend/package.json
  frontend/src/components/Agreements/Documents/Document.js
  frontend/src/components/Agreements/Documents/Documents.constants.js
  frontend/src/components/Agreements/Documents/UploadDocument.jsx
  frontend/src/index.jsx
Due: eslint

add initial component tests
  frontend/src/components/Users/UserEmailComboBox/UserEmailComboBox.test.js
  frontend/src/pages/users/admin/UserAdmin.test.js
Due: eslint

feat: adds prop createdById
  frontend/src/components/ChangeRequests/StatusChangeReviewCard/StatusChangeReviewCard.jsx
Due: eslint

style: adds italic text
  frontend/src/components/UI/RadioButtonTile/RadioButtonTile.jsx
Due: eslint

feat: adds dynamic StausChangeReviewCards
  frontend/src/pages/agreements/review/ReviewAgreement.jsx
  frontend/src/pages/agreements/review/reviewAgreement.hooks.js
Due: eslint

test: Add dynamic StatusChangeReviewCards and prop createdById
  frontend/src/components/ChangeRequests/ChangeRequestsList/ChangeRequestList.test.jsx
  frontend/src/components/ChangeRequests/StatusChangeReviewCard/StatusChangeReviewCard.test.jsx
Due: eslint

feat: adds placeholder Documents
  frontend/src/pages/agreements/review/ReviewAgreement.jsx
Due: eslint

feat: adds toggle logix
  frontend/src/components/Agreements/AgreementBLIAccordion/AgreementBLIAccordion.jsx
Due: eslint
