Repository HHS/OPRE-OPS: changes, and which pre-commit hooks are due for each by the changed paths.
All: nox-lint, eslint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: detect-aws-credentials
      - id: detect-private-key
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-json
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict

  - repo: https://github.com/hadolint/hadolint
    rev: v2.10.0
    hooks:
      - id: hadolint
  # We're running black, but doing it via nox session instead - see below
  # - repo: https://github.com/psf/black
  #   rev: 22.6.0
  #   hooks:
  #   -   id: black
  - repo: https://github.com/pre-commit/mirrors-isort
    rev: v5.10.1
    hooks:
      - id: isort
        args: ["--profile", "black", "--filter-files"]
  - repo: https://github.com/antonbabenko/pre-commit-terraform
    rev: v1.76.0
    hooks:
      - id: terraform_fmt
      - id: terraform_tflint
  - repo: local
    hooks:
      - id: nox-lint
        name: nox-lint
        entry: bash -c 'cd ./backend/ops_api && pipenv run nox -s lint'
        language: system
        types:
          - python
        pass_filenames: false
      - id: eslint
        name: eslint
        entry: bash -c 'cd ./frontend/ && bun lint'
        language: system
        types_or:
          - javascript
          - jsx
          - css
          - html
        pass_filenames: false

chore: kill it with 🔥
  frontend/cypress/e2e/cancelBudgetLine.cy.js
  frontend/cypress/e2e/createBudgetLine.cy.js
  frontend/src/components/UI/Header/Menu.jsx
  frontend/src/index.jsx
  frontend/src/pages/budgetLines/CreateBudgetLine.jsx
  frontend/src/pages/budgetLines/CreateBudgetLineFlow.jsx
  frontend/src/pages/budgetLines/CreateBudgetLineFlow.test.js
  frontend/src/pages/budgetLines/StepSelectProjectAndAgreement.jsx
  frontend/src/pages/budgetLines/index.jsx
Due: eslint

refactor: remove unneeded workflow bits
  frontend/src/components/BudgetLineItems/CreateBLIsAndSCs/CreateBLIsAndSCs.hooks.js
  frontend/src/components/BudgetLineItems/CreateBLIsAndSCs/CreateBLIsAndSCs.jsx
Due: eslint

chore: remove unused modules
  frontend/src/pages/budgetLines/BudgetLineContext.hooks.js
  frontend/src/pages/budgetLines/BudgetLineContext.jsx
Due: eslint

showing create drop-down for relevant user roles
  frontend/src/components/UI/Header/Menu.jsx
Due: eslint

uses GHCR instead of docker hub for ZAP action
  .github/workflows/nightly_scans.yml
Due: none

fix: filters out DRAFT BLIs
  frontend/src/helpers/agreement.helpers.js
Due: eslint

docs: refactor and update docs
  frontend/src/helpers/agreement.helpers.js
Due: eslint

docs: updates text for match design
  frontend/src/pages/agreements/list/AgreementsList.jsx
Due: eslint

test: corrects tests
  frontend/src/components/Agreements/AgreementsTable/AgreementTableRow.test.js
  frontend/src/components/Agreements/AgreementsTable/AgreementsTable.test.js
Due: eslint

test: updates for DRAFT BLIs
  frontend/cypress/e2e/agreementList.cy.js
Due: eslint

wip: fixing CAN unit tests
  backend/data_tools/data/can_data.json5
  backend/data_tools/src/import_static_data/import_data.py
  backend/models/budget_line_items.py
  backend/models/cans.py
  backend/ops_api/ops/resources/budget_line_items.py
  backend/ops_api/ops/resources/cans.py
  backend/ops_api/ops/resources/portfolio_cans.py
  backend/ops_api/ops/views.py
  backend/ops_api/tests/ops/agreement/test_agreement_history.py
  backend/ops_api/tests/ops/can/test_budget_line_item.py
  backend/ops_api/tests/ops/can/test_can.py
Due: nox-lint

refactor: updates logic for editable BLIs
  frontend/src/components/BudgetLineItems/AllBudgetLinesTable/AllBLIRow.jsx
  frontend/src/components/BudgetLineItems/BLIReviewTable/BLIReviewRow.jsx
  frontend/src/components/BudgetLineItems/BudgetLinesTable/BLIRow.jsx
  frontend/src/components/BudgetLineItems/ChangeIcons/ChangeIcons.jsx
  frontend/src/helpers/budgetLines.helpers.js
  frontend/src/hooks/budget-line.hooks.js
  frontend/src/pages/budgetLines/list/BudgetLinesItems.hooks.js
Due: eslint

chore: better name
  frontend/src/components/BudgetLineItems/AllBudgetLinesTable/AllBLIRow.jsx
  frontend/src/components/BudgetLineItems/BLIReviewTable/BLIReviewRow.jsx
  frontend/src/components/BudgetLineItems/BudgetLinesTable/BLIRow.jsx
  frontend/src/helpers/budgetLines.helpers.js
Due: eslint

refactor: Update tooltip message
  frontend/src/components/Agreements/AgreementsTable/AgreementTableRow.jsx
  frontend/src/components/BudgetLineItems/ChangeIcons/ChangeIcons.jsx
Due: eslint

refactor: 💀kill bli workflow (#2732)
  frontend/cypress/e2e/cancelBudgetLine.cy.js
  frontend/cypress/e2e/createBudgetLine.cy.js
  frontend/src/components/BudgetLineItems/CreateBLIsAndSCs/CreateBLIsAndSCs.hooks.js
  frontend/src/components/BudgetLineItems/CreateBLIsAndSCs/CreateBLIsAndSCs.jsx
  frontend/src/components/UI/Header/Menu.jsx
  frontend/src/index.jsx
  frontend/src/pages/budgetLines/BudgetLineContext.hooks.js
  frontend/src/pages/budgetLines/BudgetLineContext.jsx
  frontend/src/pages/budgetLines/CreateBudgetLine.jsx
  frontend/src/pages/budgetLines/CreateBudgetLineFlow.jsx
  frontend/src/pages/budgetLines/CreateBudgetLineFlow.test.js
  frontend/src/pages/budgetLines/StepSelectProjectAndAgreement.jsx
  frontend/src/pages/budgetLines/index.jsx
Due: eslint

fix: agreement totals to not include DRAFT BLIs (#2733)
  frontend/cypress/e2e/agreementList.cy.js
  frontend/src/components/Agreements/AgreementsTable/AgreementTableRow.test.js
  frontend/src/components/Agreements/AgreementsTable/AgreementsTable.test.js
  frontend/src/helpers/agreement.helpers.js
  frontend/src/pages/agreements/list/AgreementsList.jsx
Due: eslint

wip: fixing funding unit tests
  backend/data_tools/data/agreements_and_blin_data.json5
  backend/models/cans.py
  backend/ops_api/ops/resources/portfolio_cans.py
  backend/ops_api/ops/utils/cans.py
  backend/ops_api/ops/utils/portfolios.py
  backend/ops_api/tests/ops/can/test_funding_source.py
  backend/ops_api/tests/ops/can/test_portfolio_cans.py
  backend/ops_api/tests/ops/funding_summary/test_can_funding_summary.py
Due: nox-lint

attempt to fix config
  backend/ops_api/ops/environment/azure/dev.py
  backend/ops_api/ops/environment/azure/staging.py
  backend/ops_api/ops/environment/azure/stg.py
Due: nox-lint

refactor: adds fn to handle disabled messages
  frontend/src/components/Agreements/AgreementsTable/AgreementTableRow.jsx
  frontend/src/components/BudgetLineItems/ChangeIcons/ChangeIcons.jsx
Due: eslint

fix portfolio_funding_summary.py
  backend/data_tools/data/agreements_and_blin_data.json5
  backend/models/cans.py
  backend/ops_api/ops/resources/portfolio_calculate_funding.py
  backend/ops_api/ops/resources/portfolio_funding_summary.py
  backend/ops_api/ops/utils/portfolios.py
  backend/ops_api/tests/ops/funding_summary/test_portfolio_funding_summary.py
Due: nox-lint

remove ip check and always create a new session on login
  backend/ops_api/ops/auth/decorators.py
  backend/ops_api/ops/auth/service.py
  backend/ops_api/tests/auth/test_check_user_session.py
  backend/ops_api/tests/auth/test_login.py
Due: nox-lint

refactor: ♻️ updates logic for disabled icons text (#2734)
  frontend/src/components/Agreements/AgreementsTable/AgreementTableRow.jsx
  frontend/src/components/BudgetLineItems/AllBudgetLinesTable/AllBLIRow.jsx
  frontend/src/components/BudgetLineItems/BLIReviewTable/BLIReviewRow.jsx
  frontend/src/components/BudgetLineItems/BudgetLinesTable/BLIRow.jsx
  frontend/src/components/BudgetLineItems/ChangeIcons/ChangeIcons.jsx
  frontend/src/helpers/budgetLines.helpers.js
  frontend/src/hooks/budget-line.hooks.js
  frontend/src/pages/budgetLines/list/BudgetLinesItems.hooks.js
Due: eslint

wip: starts Resolve Agreement page
  frontend/src/index.jsx
  frontend/src/pages/agreements/resolve/ResolveAgreement.jsx
  frontend/src/pages/agreements/resolve/index.js
Due: eslint

feat: adds RTK Query for agreement details
  frontend/src/pages/agreements/resolve/ResolveAgreement.jsx
Due: eslint

chore: updates link to resolve page
  frontend/src/pages/agreements/review/ReviewAgreement.jsx
Due: eslint

feat: added prod build deploy
  .github/workflows/prod_be_build_and_deploy.yml
  .github/workflows/prod_fe_build_and_deploy.yml
Due: none

chore: removed data-tools
  .github/workflows/prod_be_build_and_deploy.yml
Due: none

chore: remove unneeded text
  frontend/src/components/Agreements/AgreementEditor/AgreementEditForm.jsx
Due: eslint

feat: adds Service Component and Budget Form
  frontend/src/pages/agreements/resolve/ResolveAgreement.jsx
Due: eslint

fix: adds import of getUser hook
  frontend/src/pages/agreements/resolve/ResolveAgreement.jsx
Due: eslint

fix: updates validation
  frontend/src/components/BudgetLineItems/CreateBLIsAndSCs/suite.js
Due: eslint

refactor: updates logix for page errors
  frontend/src/components/BudgetLineItems/CreateBLIsAndSCs/CreateBLIsAndSCs.jsx
Due: eslint

chore: remove unneeded imports
  frontend/src/pages/agreements/resolve/ResolveAgreement.jsx
Due: eslint

chore: remove unneeded imports
  frontend/src/components/BudgetLineItems/CreateBLIsAndSCs/CreateBLIsAndSCs.hooks.js
  frontend/src/components/BudgetLineItems/CreateBLIsAndSCs/CreateBLIsAndSCs.jsx
Due: eslint

refactor: better validation
  frontend/src/components/Agreements/AgreementEditor/AgreementEditFormSuite.js
  frontend/src/components/BudgetLineItems/CreateBLIsAndSCs/CreateBLIsAndSCs.hooks.js
  frontend/src/pages/agreements/review/suite.js
Due: eslint

Update README.md
  README.md
Due: none

refactor: moved api cleaners to helpers
  frontend/src/components/Agreements/AgreementEditor/AgreementEditForm.jsx
  frontend/src/components/BudgetLineItems/CreateBLIsAndSCs/CreateBLIsAndSCs.hooks.js
  frontend/src/helpers/agreement.helpers.js
  frontend/src/helpers/budgetLines.helpers.js
Due: eslint

wip: start on combining save functions
  frontend/src/hooks/agreement.hooks.js
  frontend/src/hooks/budget-line.hooks.js
  frontend/src/pages/agreements/resolve/ResolveAgreement.jsx
Due: eslint

style: align button right
  frontend/src/pages/agreements/resolve/ResolveAgreement.jsx
Due: eslint

fix remaining API unit tests
  backend/models/cans.py
  backend/openapi.yml
  backend/ops_api/ops/utils/research_project_helper.py
  backend/ops_api/tests/ops/funding_summary/test_can_funding_summary.py
  backend/ops_api/tests/ops/funding_summary/test_research_project_funding_summary.py
  backend/ops_api/tests/ops/portfolio/test_portfolio.py
Due: nox-lint
