Repository HHS/OPRE-OPS: changes, and which pre-commit hooks are due for each by the changed paths.
All: nox-lint, eslint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: detect-aws-credentials
      - id: detect-private-key
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-json
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict

  - repo: https://github.com/hadolint/hadolint
    rev: v2.10.0
    hooks:
      - id: hadolint
  # We're running black, but doing it via nox session instead - see below
  # - repo: https://github.com/psf/black
  #   rev: 22.6.0
  #   hooks:
  #   -   id: black
  - repo: https://github.com/pre-commit/mirrors-isort
    rev: v5.10.1
    hooks:
      - id: isort
        args: ["--profile", "black", "--filter-files"]
  - repo: https://github.com/antonbabenko/pre-commit-terraform
    rev: v1.76.0
    hooks:
      - id: terraform_fmt
      - id: terraform_tflint
  - repo: local
    hooks:
      - id: nox-lint
        name: nox-lint
        entry: bash -c 'cd ./backend/ops_api && pipenv run nox -s lint'
        language: system
        types:
          - python
        pass_filenames: false
      - id: eslint
        name: eslint
        entry: bash -c 'cd ./frontend/ && bun lint'
        language: system
        types_or:
          - javascript
          - jsx
          - css
          - html
        pass_filenames: false

test: latest revision true
  .github/workflows/testlabelling.yaml
Due: none

test: latest revision true
  .github/workflows/dev_fe_build_and_deploy.yml
  .github/workflows/testlabelling.yaml
Due: none

deps: adds react-slider and styled-components
  frontend/bun.lockb
  frontend/package.json
Due: none

Update ac-06-01.md
  docs/Security-Compliance/Security-Controls/ac/ac-06-01.md
Due: none

Update ac-06-02.md
  docs/Security-Compliance/Security-Controls/ac/ac-06-02.md
Due: none

Update ac-06-05.md
  docs/Security-Compliance/Security-Controls/ac/ac-06-05.md
Due: none

style: adds UX fixes
  frontend/src/components/CANs/CANFYBudgetRangeSlider/CANFYBudgetRangeSlider.jsx
  frontend/src/components/UI/DoubleRangeSlider/DoubleRangeSlider.jsx
Due: eslint

refactor: better var names
  frontend/src/components/CANs/CANFYBudgetRangeSlider/CANFYBudgetRangeSlider.jsx
Due: eslint

wip:able to download csv in Azure;unit tests working
  backend/data_tools/Pipfile
  backend/data_tools/Pipfile.lock
  backend/data_tools/environment/azure.py
  backend/data_tools/scripts/azure/build_and_push_data_tools.sh
  backend/data_tools/scripts/azure/create_container_app_job.sh
  backend/data_tools/scripts/azure/create_mi.sh
  backend/data_tools/scripts/azure/create_storage_account.sh
  backend/data_tools/scripts/get_csv.sh
  backend/data_tools/src/azure_utils/utils.py
  backend/data_tools/src/load_cans/main.py
  backend/data_tools/tests/azure_utils/test_utils.py
Due: nox-lint

update lock file
  backend/data_tools/Pipfile.lock
Due: none

filtering is kinda working
  frontend/src/api/opsAPI.js
  frontend/src/components/CANs/CANFYBudgetRangeSlider/CANFYBudgetRangeSlider.jsx
  frontend/src/pages/cans/list/CANFilterButton/CANFiilterButton.jsx
  frontend/src/pages/cans/list/CANFilterButton/CANFilterButton.hooks.js
  frontend/src/pages/cans/list/CanList.helpers.js
  frontend/src/pages/cans/list/CanList.jsx
Due: eslint

chore: updates deps
  frontend/bun.lockb
  frontend/package.json
Due: none

move history triggers to the models package
  backend/models/utils.py
  backend/ops_api/ops/__init__.py
Due: nox-lint

added loguru and sorted the dependencies
  backend/ops_api/Pipfile
  backend/ops_api/Pipfile.lock
Due: none

wip
  frontend/src/components/CANs/CANFYBudgetRangeSlider/CANFYBudgetRangeSlider.jsx
  frontend/src/components/CANs/CANTable/CANTable.jsx
  frontend/src/components/UI/DoubleRangeSlider/DoubleRangeSlider.jsx
  frontend/src/pages/cans/list/CanList.jsx
Due: eslint

wip: brings back the dep array
  frontend/src/components/CANs/CANFYBudgetRangeSlider/CANFYBudgetRangeSlider.jsx
Due: eslint

wip (#2944)
  frontend/src/components/CANs/CANFYBudgetRangeSlider/CANFYBudgetRangeSlider.jsx
  frontend/src/components/CANs/CANTable/CANTable.jsx
  frontend/src/components/UI/DoubleRangeSlider/DoubleRangeSlider.jsx
  frontend/src/pages/cans/list/CanList.jsx
Due: eslint

added loguru logging config
  backend/ops_api/ops/__init__.py
Due: nox-lint

set timezone and enhance log config
  backend/ops_api/ops/__init__.py
Due: nox-lint

fix: use oidc_id instead of id
  backend/data_tools/src/disable_users/disable_users.py
  backend/data_tools/src/disable_users/queries.py
  backend/data_tools/tests/disable_users/test_disable_users.py
Due: nox-lint

Fix: don't show range text with no cans
  frontend/src/components/CANs/CANFYBudgetRangeSlider/CANFYBudgetRangeSlider.jsx
  frontend/src/pages/cans/list/CanList.helpers.js
Due: eslint

Fix: use non-changing filtered cans when calculating FY min, max
  frontend/src/pages/cans/list/CanList.jsx
Due: eslint

feat: no cans no filter
  frontend/bun.lockb
  frontend/src/components/CANs/CANFYBudgetRangeSlider/CANFYBudgetRangeSlider.jsx
  frontend/src/components/UI/FilterButton/FilterButton.jsx
  frontend/src/pages/cans/list/CANFilterButton/CANFiilterButton.jsx
  frontend/src/pages/cans/list/CanList.jsx
Due: eslint

wip: fix range text and FY values (#2946)
  frontend/bun.lockb
  frontend/src/components/CANs/CANFYBudgetRangeSlider/CANFYBudgetRangeSlider.jsx
  frontend/src/components/UI/FilterButton/FilterButton.jsx
  frontend/src/pages/cans/list/CANFilterButton/CANFiilterButton.jsx
  frontend/src/pages/cans/list/CanList.helpers.js
  frontend/src/pages/cans/list/CanList.jsx
Due: eslint

refactor: raises and persists budget state
  frontend/src/components/CANs/CANFYBudgetRangeSlider/CANFYBudgetRangeSlider.jsx
  frontend/src/pages/cans/list/CANFilterButton/CANFiilterButton.jsx
  frontend/src/pages/cans/list/CANFilterButton/CANFilterButton.hooks.js
Due: eslint

setup DB metadata in fixture and create DB session
  backend/data_tools/tests/conftest.py
Due: nox-lint

setup timezone and logger config
  backend/data_tools/src/load_cans/main.py
Due: nox-lint

refactor: better state
  frontend/src/pages/cans/list/CANFilterButton/CANFilterButton.hooks.js
Due: eslint

add initial tests
  backend/data_tools/tests/ingest_cans/test_ingest_cans.py
  backend/data_tools/tests/load_cans/test_load_cans.py
Due: nox-lint

add initial can code
  backend/data_tools/src/load_cans/utils.py
Due: nox-lint

add initial can code
  backend/data_tools/tests/ingest_cans/__init__.py
  backend/data_tools/tests/load_cans/__init__.py
Due: nox-lint

docs: adds JSDocs
  frontend/src/components/UI/FilterButton/FilterButton.jsx
  frontend/src/pages/cans/list/CANFilterButton/CANFiilterButton.jsx
Due: eslint

fix: fixes reset
  frontend/src/pages/cans/list/CANFilterButton/CANFilterButton.hooks.js
Due: eslint

refactor: adds helper fns
  frontend/src/components/CANs/CANFYBudgetRangeSlider/CANFYBudgetRangeSlider.jsx
Due: eslint

chore: cleanup
  frontend/src/pages/cans/list/CanList.helpers.js
Due: eslint

chore: adds deps
  frontend/bun.lockb
  frontend/package.json
Due: none

test: set subscription id
  .github/workflows/dev_fe_build_and_deploy.yml
  .github/workflows/testlabelling.yaml
Due: none

chore: added RG to action args
  .github/workflows/dev_fe_build_and_deploy.yml
Due: none

chore: replace workingdir with env
  .github/workflows/testlabelling.yaml
Due: none
