Repository HHS/OPRE-OPS: changes, and which pre-commit hooks are due for each by the changed paths.
All: nox-lint, eslint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: detect-aws-credentials
      - id: detect-private-key
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-json
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict

  - repo: https://github.com/hadolint/hadolint
    rev: v2.10.0
    hooks:
      - id: hadolint
  # We're running black, but doing it via nox session instead - see below
  # - repo: https://github.com/psf/black
  #   rev: 22.6.0
  #   hooks:
  #   -   id: black
  - repo: https://github.com/pre-commit/mirrors-isort
    rev: v5.10.1
    hooks:
      - id: isort
        args: ["--profile", "black", "--filter-files"]
  - repo: https://github.com/antonbabenko/pre-commit-terraform
    rev: v1.76.0
    hooks:
      - id: terraform_fmt
      - id: terraform_tflint
  - repo: local
    hooks:
      - id: nox-lint
        name: nox-lint
        entry: bash -c 'cd ./backend/ops_api && pipenv run nox -s lint'
        language: system
        types:
          - python
        pass_filenames: false
      - id: eslint
        name: eslint
        entry: bash -c 'cd ./frontend/ && bun lint'
        language: system
        types_or:
          - javascript
          - jsx
          - css
          - html
        pass_filenames: false

docs: Update DocumentView propTypes (#2522)
  frontend/src/components/Agreements/Documents/DocumentView.jsx
Due: eslint

Undo unintentional edit to openapi yml file
  backend/openapi.yml
Due: none

remove workflow_submit, workflow_approve
  backend/ops_api/ops/resources/workflow_approve.py
  backend/ops_api/ops/resources/workflow_submit.py
  backend/ops_api/ops/urls.py
  backend/ops_api/ops/views.py
Due: nox-lint

Remove generate_uuid function
  backend/ops_api/ops/document/fake_document_repository.py
Due: nox-lint

remove has_active_workflow and active_workflow_current_step_id
  backend/models/cans.py
  backend/ops_api/ops/schemas/budget_line_items.py
  backend/ops_api/tests/ops/can/test_budget_line_item.py
Due: nox-lint

remove more tests that used workflows
  backend/ops_api/tests/ops/features/test_validate_draft_budget_lines_in_workflow.py
  backend/ops_api/tests/ops/features/validate_draft_budget_lines_in_workflow.feature
Due: nox-lint

start BLI id at 15000
  backend/alembic/versions/2024_06_13_2035-b0087bd3a00a_initial.py
  backend/data_tools/data/workflow_data.json5
  backend/models/cans.py
  backend/ops_api/tests/conftest.py
  backend/ops_api/tests/ops/can/test_budget_line_item.py
  backend/ops_api/tests/ops/funding_summary/test_can_funding_summary.py
  backend/ops_api/tests/ops/workflows/test_packages.py
  backend/ops_api/tests/ops/workflows/test_workflow_approve.py
  backend/ops_api/tests/ops/workflows/test_workflows.py
  frontend/cypress/e2e/reviewAgreement.cy.js
Due: nox-lint, eslint

Initial creation of CANAppropriationDetails model
  backend/data_tools/data/can_data.json5
  backend/data_tools/src/import_static_data/import_data.py
  backend/models/cans.py
Due: nox-lint

Removing string column length limit that was in initial model data.
  backend/alembic/versions/2024_07_01_2238-186e5faae7ee_add_can_fiscal_year_funding_details.py
  backend/models/cans.py
Due: nox-lint

Generating alembic script to add new appropriation details model/table
  backend/alembic/versions/2024_07_02_2050-a6d256001dde_adding_canappropriationdetails.py
  backend/data_tools/data/can_data.json5
Due: nox-lint

feat: adds ReviewChangeRequestAccordion component and tests
  frontend/src/components/ChangeRequests/ReviewChangeRequestAccordion/ReviewChangeRequestAccordion.jsx
  frontend/src/components/ChangeRequests/ReviewChangeRequestAccordion/ReviewChangeRequestAccordion.test.jsx
  frontend/src/components/ChangeRequests/ReviewChangeRequestAccordion/index.js
Due: eslint

docs: update AgreementMetaAccordion heading
  frontend/src/components/Agreements/AgreementMetaAccordion/AgreementMetaAccordion.jsx
Due: eslint

feat: Add optional props to BudgetChangeReviewCard component
  frontend/src/components/ChangeRequests/BudgetChangeReviewCard/BudgetChangeReviewCard.jsx
  frontend/src/components/ChangeRequests/ReviewCard/ReviewCard.jsx
Due: eslint

feat: Add getInReviewChangeRequests helper function
  frontend/src/helpers/changeRequests.helpers.js
  frontend/src/helpers/utils.js
  frontend/src/helpers/utils.test.js
  frontend/src/pages/agreements/approve/ApproveAgreement.jsx
Due: eslint

Clean up document endpoints to use schema properly
  backend/ops_api/ops/document/api.py
  backend/ops_api/ops/document/exceptions.py
Due: nox-lint

updating CM controls and a couple others based on recent discussion
  docs/Security-Compliance/Security-Controls/ac/ac-02-01.md
  docs/Security-Compliance/Security-Controls/ac/ac-06-02.md
  docs/Security-Compliance/Security-Controls/cm/cm-03-2.md
  docs/Security-Compliance/Security-Controls/cm/cm-03-4.md
  docs/Security-Compliance/Security-Controls/cm/cm-03.md
  docs/Security-Compliance/Security-Controls/cm/cm-04.md
  docs/Security-Compliance/Security-Controls/cm/cm-05.md
  docs/Security-Compliance/Security-Controls/cm/cm-06.md
  docs/Security-Compliance/Security-Controls/cm/cm-07-1.md
  docs/Security-Compliance/Security-Controls/cm/cm-07-2.md
  docs/Security-Compliance/Security-Controls/cm/cm-07-5.md
  docs/Security-Compliance/Security-Controls/cm/cm-07.md
  docs/Security-Compliance/Security-Controls/cm/cm-08-1.md
  docs/Security-Compliance/Security-Controls/cm/cm-08-3.md
  docs/Security-Compliance/Security-Controls/cm/cm-08.md
  docs/Security-Compliance/Security-Controls/cm/cm-09.md
  docs/Security-Compliance/Security-Controls/cm/cm-10.md
  docs/Security-Compliance/Security-Controls/cm/cm-11.md
  docs/Security-Compliance/Security-Controls/cm/cm-12-1.md
  docs/Security-Compliance/Security-Controls/cm/cm-12.md
Due: none

add initial *.sql data
  backend/data_tools/initial_prod_seed_data/000-division.sql
  backend/data_tools/initial_prod_seed_data/001-division_version.sql
  backend/data_tools/initial_prod_seed_data/002-role.sql
  backend/data_tools/initial_prod_seed_data/003-role_version.sql
  backend/data_tools/initial_prod_seed_data/004-group.sql
  backend/data_tools/initial_prod_seed_data/005-group_version.sql
  backend/data_tools/initial_prod_seed_data/006-portfolio.sql
  backend/data_tools/initial_prod_seed_data/007-portfolio_version.sql
  backend/data_tools/initial_prod_seed_data/008-portfolio_url.sql
  backend/data_tools/initial_prod_seed_data/009-portfolio_url_version.sql
  backend/data_tools/initial_prod_seed_data/010-product_service_code.sql
  backend/data_tools/initial_prod_seed_data/011-product_service_code_version.sql
  backend/data_tools/initial_prod_seed_data/012-transaction.sql
  backend/data_tools/scripts/import_test_data.sh
  backend/data_tools/scripts/seed_prod_data.sh
  docker-compose.yml
Due: none

update links to use new budget vs status URLs and fix markdown
  backend/ops_api/ops/utils/change_requests.py
Due: nox-lint

Adding test data to data.js for eventual front end unit tests.
  frontend/src/tests/data.js
Due: eslint

feat: Add optional props to BudgetChangeReviewCard and StatusChangeReviewCard components
  frontend/src/components/ChangeRequests/BudgetChangeReviewCard/BudgetChangeReviewCard.jsx
  frontend/src/components/ChangeRequests/ReviewCard/ReviewCard.jsx
  frontend/src/components/ChangeRequests/ReviewChangeRequestAccordion/ReviewChangeRequestAccordion.jsx
  frontend/src/components/ChangeRequests/StatusChangeReviewCard/StatusChangeReviewCard.jsx
  frontend/src/pages/agreements/approve/ApproveAgreement.jsx
Due: eslint

try putting change request before update
  backend/ops_api/ops/resources/change_requests.py
Due: nox-lint

updated titles of history log items of change requests
  frontend/src/components/Agreements/AgreementDetails/AgreementHistoryList.jsx
Due: eslint

using dynamic property to track a change request in the history so the log for the edit after the approval can easily be filtered in the FE
  backend/ops_api/ops/history.py
  backend/ops_api/ops/resources/agreement_history.py
  backend/ops_api/ops/resources/change_requests.py
  frontend/src/components/Agreements/AgreementDetails/AgreementHistoryList.jsx
Due: nox-lint, eslint

chore: Update to only pass in changeRequests to ReviewCRAccordion
  frontend/src/components/ChangeRequests/ReviewChangeRequestAccordion/ReviewChangeRequestAccordion.jsx
  frontend/src/pages/agreements/approve/ApproveAgreement.jsx
Due: eslint

feat: Update ReviewCard to include budget vs status URLs
  frontend/src/components/Agreements/AgreementBLIAccordion/AgreementBLIAccordion.jsx
  frontend/src/components/ChangeRequests/ReviewCard/ReviewCard.jsx
  frontend/src/pages/agreements/approve/ApproveAgreement.jsx
Due: eslint

fix: linting w/ hard-coded value
  frontend/src/pages/agreements/approve/ApproveAgreement.jsx
Due: eslint

chore: Remove deprecated code for workflows
  frontend/src/api/opsAPI.js
Due: eslint

chore: Update BudgetLinesTable prop name for budget line IDs in review
  frontend/src/components/BudgetLineItems/BudgetLinesTable/BudgetLinesTable.jsx
Due: eslint

docs: Update ChangeRequestsList type definition
  frontend/src/components/ChangeRequests/ChangeRequestsList/ChangeRequests.d.ts
Due: none

test: Update ReviewChangeRequestAccordion to use changeRequests data in tests
  frontend/src/components/ChangeRequests/ReviewChangeRequestAccordion/ReviewChangeRequestAccordion.test.jsx
Due: eslint

chore: Remove useAddWorkflowApproveMutation from ApproveAgreement.test.jsx
  frontend/src/pages/agreements/approve/ApproveAgreement.jsx
  frontend/src/pages/agreements/approve/ApproveAgreement.test.jsx
Due: eslint

test: Update budget_line_item_id in changeRequests data
  frontend/src/tests/data.js
Due: eslint

refactor: ReviewCard component to improve code readability
  frontend/src/components/ChangeRequests/ReviewCard/ReviewCard.jsx
Due: eslint

feat: Update ReviewChangeRequestAccordion to include optional statusChangeTo prop
  frontend/src/components/ChangeRequests/ReviewChangeRequestAccordion/ReviewChangeRequestAccordion.jsx
Due: eslint

feat: Update ApproveAgreement to include status change in title
  frontend/src/pages/agreements/approve/ApproveAgreement.jsx
Due: eslint

refactor: Remove unused workflow hooks
  frontend/src/hooks/workflow.hooks.js
Due: eslint

feat: Update AgreementCANReviewAccordion to use selectedAction constant
  frontend/src/components/Agreements/AgreementCANReviewAccordion/AgreementCANReviewAccordion.jsx
  frontend/src/pages/agreements/approve/ApproveAgreement.jsx
  frontend/src/pages/agreements/review/ReviewAgreement.constants.js
  frontend/src/pages/agreements/review/ReviewAgreement.jsx
Due: eslint

test: adds test for condensed card
  frontend/src/components/ChangeRequests/ReviewCard/ReviewCard.test.jsx
Due: eslint

test: adds tests for status changes
  frontend/src/components/ChangeRequests/ReviewChangeRequestAccordion/ReviewChangeRequestAccordion.test.jsx
Due: eslint

Adding initial implementation of CANStatus and changed the first test.
  backend/models/cans.py
  backend/ops_api/tests/ops/can/test_can.py
Due: nox-lint
