Repository HHS/OPRE-OPS: changes, and which pre-commit hooks are due for each by the changed paths.
All: nox-lint, eslint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: detect-aws-credentials
      - id: detect-private-key
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-json
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict

  ## Used to find secrets throughout the repository.
  -   repo: https://github.com/ibm/detect-secrets
      rev: 0.13.1+ibm.54.dss # https://github.com/Yelp/detect-secrets/releases
      hooks:
      -   id: detect-secrets
          args: ['--baseline', '.secrets.baseline']
          exclude: Pipfile.lock
  - repo: https://github.com/hadolint/hadolint
    rev: v2.10.0
    hooks:
      - id: hadolint
  # We're running black, but doing it via nox session instead - see below
  # - repo: https://github.com/psf/black
  #   rev: 22.6.0
  #   hooks:
  #   -   id: black
  - repo: https://github.com/pre-commit/mirrors-isort
    rev: v5.10.1
    hooks:
      - id: isort
  - repo: local
    hooks:
      - id: nox-lint
        name: nox-lint
        entry: bash -c 'cd ./backend_flask/ops_api && pipenv run nox -s lint'
        language: system
        types:
         - python
        pass_filenames: false
      - id: eslint
        name: eslint
        entry: bash -c 'cd ./frontend/ && yarn lint'
        language: system
        types_or:
          - javascript
          - jsx
          - css
          - html
        pass_filenames: false

fixed up some tests
  backend/ops_api/tests/ops/agreement/test_agreement.py
Due: nox-lint

fixed AgreementType enum in test fixture
  backend/ops_api/tests/ops/funding_summary/test_research_project_funding_summary.py
Due: nox-lint

adds Agreement to nav
  frontend/src/components/UI/Header/Menu.jsx
Due: eslint

Ops-847_create_agreement_flow (#865)
  backend/data_tools/Pipfile.lock
  backend/data_tools/data/agreements_and_blin_data.json5
  backend/models/__init__.py
  backend/models/base.py
  backend/models/cans.py
  backend/models/events.py
  backend/ops_api/Pipfile.lock
  backend/ops_api/ops/base_views.py
  backend/ops_api/ops/resources/agreements.py
  backend/ops_api/ops/resources/budget_line_items.py
  backend/ops_api/ops/urls.py
  backend/ops_api/ops/views.py
  backend/ops_api/tests/ops/agreement/test_agreement.py
  backend/ops_api/tests/ops/funding_summary/test_research_project_funding_summary.py
  frontend/package.json
  frontend/src/api/getAgreements.js
  frontend/src/api/getProductServiceCodes.js
  frontend/src/components/ResearchProjects/ProjectSelect/ProjectSelect.jsx
  frontend/src/components/UI/Header/Menu.jsx
  frontend/src/helpers/preFetchData.js
  frontend/src/index.jsx
  frontend/src/pages/agreements/AgreementReasonSelect.jsx
  frontend/src/pages/agreements/AgreementTypeSelect.jsx
  frontend/src/pages/agreements/CreateAgreement.jsx
  frontend/src/pages/agreements/CreateAgreementFlow.jsx
  frontend/src/pages/agreements/ProcurementShopSelect.jsx
  frontend/src/pages/agreements/ProductServiceCodeSelect.jsx
  frontend/src/pages/agreements/ProjectSelect.jsx
  frontend/src/pages/agreements/StepCreateAgreement.jsx
  frontend/src/pages/agreements/StepCreateBudgetLines.jsx
  frontend/src/pages/agreements/StepSelectProject.jsx
  frontend/src/pages/agreements/createAgreementSlice.js
  frontend/src/pages/budgetLines/CanSelect.jsx
  frontend/src/setupTests.js
  frontend/src/store.js
  frontend/yarn.lock
Due: nox-lint, eslint

add DEBUG logging statements
  backend/ops_api/ops/utils/auth_views.py
Due: nox-lint

gets and sets users
  frontend/src/api/getUser.js
  frontend/src/pages/agreements/CreateAgreement.jsx
  frontend/src/pages/agreements/createAgreementSlice.js
Due: eslint

cleanup
  frontend/src/pages/agreements/StepCreateAgreement.jsx
  frontend/src/pages/agreements/StepCreateBudgetLines.jsx
  frontend/src/pages/agreements/StepSelectProject.jsx
Due: eslint

empty commit to test
  backend/ops_api/ops/utils/auth_views.py
Due: nox-lint

adds ProjectOfficer combobox
  frontend/src/pages/agreements/ProjectOfficerSelect.jsx
  frontend/src/pages/agreements/StepCreateAgreement.jsx
Due: eslint

update HEALTH-CHECK-TIMEOUT to 3m
  .github/actions/deploy-backend/action.yml
Due: none

update HEALTH-CHECK-TIMEOUT to 3m
  backend/ops_api/pytest.ini
Due: none

adds default exports
  frontend/src/components/UI/StepIndicator/StepIndicator.jsx
  frontend/src/components/UI/StepIndicator/StepIndicator.test.js
  frontend/src/pages/agreements/AgreementReasonSelect.jsx
  frontend/src/pages/agreements/AgreementTypeSelect.jsx
  frontend/src/pages/agreements/ProcurementShopSelect.jsx
  frontend/src/pages/agreements/ProductServiceCodeSelect.jsx
  frontend/src/pages/agreements/ProjectOfficerSelect.jsx
  frontend/src/pages/agreements/StepCreateAgreement.jsx
  frontend/src/pages/agreements/StepCreateBudgetLines.jsx
  frontend/src/pages/agreements/StepSelectProject.jsx
  frontend/src/pages/budgetLines/CreateBudgetLine.jsx
Due: eslint

update HEALTH-CHECK-TIMEOUT to 3m
  .github/actions/deploy-backend/action.yml
  backend/ops_api/pytest.ini
Due: none

update HEALTH-CHECK-TIMEOUT to 3m
  .github/actions/deploy-data-tools/action.yml
Due: none

starts TeamMember list and select
  frontend/src/pages/agreements/ProjectOfficerSelect.jsx
  frontend/src/pages/agreements/StepCreateAgreement.jsx
  frontend/src/pages/agreements/TeamMemberList.jsx
Due: eslint

adds TeamMember select
  frontend/src/pages/agreements/TeamMemberSelect.jsx
Due: eslint

allows for no team members
  frontend/src/pages/agreements/TeamMemberList.jsx
Due: eslint

can only add team members once and removes PO
  frontend/src/pages/agreements/TeamMemberSelect.jsx
Due: eslint

cleanup
  frontend/src/pages/agreements/TeamMemberSelect.jsx
Due: eslint

adds styles and allows for removing team member
  frontend/src/components/UI/Tag/Tag.jsx
  frontend/src/pages/agreements/TeamMemberList.jsx
  frontend/src/pages/agreements/createAgreementSlice.js
Due: eslint

adds prop types
  frontend/src/pages/agreements/TeamMemberList.jsx
Due: eslint

more proptypes
  frontend/src/pages/agreements/TeamMemberSelect.jsx
Due: eslint

better styles
  frontend/src/pages/agreements/ProjectOfficerSelect.jsx
  frontend/src/pages/agreements/StepCreateAgreement.jsx
  frontend/src/pages/agreements/TeamMemberSelect.jsx
Due: eslint

fixes fees and formatting issues
  frontend/src/pages/budgetLines/PreviewTable.jsx
  frontend/src/pages/budgetLines/TotalSummaryCard.jsx
Due: eslint

fixes fees and formatting issues (#875)
  frontend/src/pages/budgetLines/PreviewTable.jsx
  frontend/src/pages/budgetLines/TotalSummaryCard.jsx
Due: eslint

add PATCH to /budget-line-items
  .secrets.baseline
  backend/ops_api/ops/resources/budget_line_items.py
  backend/ops_api/tests/ops/can/test_budget_line_item.py
  openapi.yml
Due: nox-lint

refactor:rename to PATCHRequestBody
  backend/ops_api/ops/resources/budget_line_items.py
  backend/ops_api/tests/ops/can/test_budget_line_item.py
Due: nox-lint

refactor:rename to POSTRequestBody
  backend/ops_api/ops/resources/budget_line_items.py
  backend/ops_api/tests/ops/can/test_budget_line_item.py
Due: nox-lint

refactor:use inheritance in @dataclass
  backend/ops_api/ops/resources/budget_line_items.py
Due: nox-lint

more currency formatting issues
  frontend/src/pages/budgetLines/CreateBudgetLine.jsx
  frontend/src/pages/budgetLines/PreviewTable.jsx
Due: eslint

refactor:fix linting and remove dead code
  frontend/src/pages/agreements/StepCreateAgreement.jsx
Due: eslint

more currency formatting issues (#878)
  frontend/src/pages/budgetLines/CreateBudgetLine.jsx
  frontend/src/pages/budgetLines/PreviewTable.jsx
Due: eslint

task 837 team lead and members (#871)
  frontend/src/api/getUser.js
  frontend/src/components/UI/StepIndicator/StepIndicator.jsx
  frontend/src/components/UI/StepIndicator/StepIndicator.test.js
  frontend/src/components/UI/Tag/Tag.jsx
  frontend/src/pages/agreements/AgreementReasonSelect.jsx
  frontend/src/pages/agreements/AgreementTypeSelect.jsx
  frontend/src/pages/agreements/CreateAgreement.jsx
  frontend/src/pages/agreements/ProcurementShopSelect.jsx
  frontend/src/pages/agreements/ProductServiceCodeSelect.jsx
  frontend/src/pages/agreements/ProjectOfficerSelect.jsx
  frontend/src/pages/agreements/StepCreateAgreement.jsx
  frontend/src/pages/agreements/StepCreateBudgetLines.jsx
  frontend/src/pages/agreements/StepSelectProject.jsx
  frontend/src/pages/agreements/TeamMemberList.jsx
  frontend/src/pages/agreements/TeamMemberSelect.jsx
  frontend/src/pages/agreements/createAgreementSlice.js
  frontend/src/pages/budgetLines/CreateBudgetLine.jsx
Due: eslint

create initial postBudgetLineItems.js
  frontend/src/api/postBudgetLineItems.js
  frontend/src/pages/budgetLines/CreateBudgetLine.jsx
  frontend/src/pages/budgetLines/createBudgetLineSlice.js
Due: eslint

updates Project Select Summary Card
  frontend/src/pages/agreements/ProjectSelect.jsx
  frontend/src/pages/agreements/StepSelectProject.jsx
  frontend/src/pages/budgetLines/CreateBudgetLine.jsx
  frontend/src/pages/budgetLines/ProjectSelect.jsx
Due: eslint

fix some display bugs in PreviewTable.jsx where amount and need by are null
  frontend/src/pages/budgetLines/PreviewTable.jsx
Due: eslint

adds textarea for Description
  frontend/src/pages/agreements/StepCreateAgreement.jsx
Due: eslint

adds Notes textarea
  frontend/src/pages/agreements/StepCreateAgreement.jsx
  frontend/src/pages/agreements/createAgreementSlice.js
Due: eslint

delete commented line
  frontend/src/pages/budgetLines/CreateBudgetLine.jsx
Due: eslint

adds ProductServiceCodeSelect
  frontend/src/pages/agreements/ProductServiceCodeSelect.jsx
  frontend/src/pages/agreements/StepCreateAgreement.jsx
  frontend/src/pages/agreements/createAgreementSlice.js
Due: eslint
