Repository HHS/OPRE-OPS: changes, and which pre-commit hooks are due for each by the changed paths.
All: nox-lint, eslint

nox-lint:
  name: nox-lint
  entry: bash -c 'cd ./backend/ops_api && pipenv run nox -s lint'
  language: system
  pass_filenames: false

eslint:
  name: eslint
  entry: bash -c 'cd ./frontend/ && bun lint'
  language: system
  pass_filenames: false

feat: :sparkles: adds DatePicker (#2197)
  frontend/.prettierrc.json
  frontend/cypress/e2e/budgetLineItemsList.cy.js
  frontend/cypress/e2e/components.cy.js
  frontend/cypress/e2e/createAgreement.cy.js
  frontend/cypress/e2e/reviewAgreement.cy.js
  frontend/sass/uswds/styles.scss
  frontend/src/components/BudgetLineItems/BudgetLinesForm/BudgetLinesForm.jsx
  frontend/src/components/BudgetLineItems/BudgetLinesForm/suite.js
  frontend/src/components/BudgetLineItems/CreateBLIsAndSCs/CreateBLIsAndSCs.hooks.js
  frontend/src/components/BudgetLineItems/CreateBLIsAndSCs/CreateBLIsAndSCs.jsx
  frontend/src/components/BudgetLineItems/CreateBLIsAndSCs/suite.js
  frontend/src/components/CANs/CanComboBox/CanComboBox.jsx
  frontend/src/components/ServicesComponents/AllServicesComponentSelect/AllServicesComponentSelect.jsx
  frontend/src/components/UI/Accordion/Accordion.js
  frontend/src/components/UI/Form/ComboBox/ComboBox.jsx
  frontend/src/components/UI/Form/Input/Input.jsx
  frontend/src/components/UI/USWDS/DatePicker/DatePicker.jsx
  frontend/src/components/UI/USWDS/DatePicker/index.js
  frontend/src/index.jsx
  frontend/src/pages/agreements/review/ReviewAgreement.jsx
  frontend/src/pages/agreements/review/suite.js
  frontend/src/uswds/css/styles.css
  frontend/src/uswds/css/styles.css.map
Due: eslint

add CORS for auth
  backend/ops_api/ops/__init__.py
Due: nox-lint

add refresh token support in js
  frontend/src/api/apiLogin.js
  frontend/src/api/opsAPI.js
  frontend/src/components/Auth/AuthSection.jsx
  frontend/src/components/Auth/MultiAuthSection.jsx
  frontend/src/components/Auth/auth.js
  frontend/src/components/UI/NotificationCenter/NotificationCenter.jsx
Due: eslint

add test
  backend/ops_api/tests/auth/test_refresh.py
Due: nox-lint

use attributes instead of subclasses for budget changes and status changes combine approve/deny into a single test fix BLI endpoint to (revert to) create change requests per property
  backend/alembic/versions/2024_04_18_2027-90ba68b25721_change_request_entities.py
  backend/models/workflows.py
  backend/ops_api/ops/resources/budget_line_items.py
  backend/ops_api/tests/ops/workflows/test_workflows.py
Due: nox-lint

refactor: Tooltip component
  frontend/src/components/UI/USWDS/Tooltip/Tooltip.jsx
Due: eslint

refactor: Update Tooltip component to ensure tooltip availability and cleanup function
  frontend/src/components/UI/USWDS/Tooltip/Tooltip.jsx
Due: eslint

feat: Update BudgetLinesForm to include DatePicker suite
  frontend/src/components/BudgetLineItems/BudgetLinesForm/BudgetLinesForm.jsx
  frontend/src/components/BudgetLineItems/BudgetLinesForm/datePickerSuite.js
Due: eslint

feat: Add reset functionality to BudgetLinesForm
  frontend/src/components/BudgetLineItems/BudgetLinesForm/BudgetLinesForm.jsx
Due: eslint

feat: adds validation for DatePicker in EditMode.
  frontend/src/components/BudgetLineItems/BudgetLinesForm/BudgetLinesForm.jsx
  frontend/src/components/BudgetLineItems/BudgetLinesForm/datePickerSuite.js
  frontend/src/components/BudgetLineItems/CreateBLIsAndSCs/CreateBLIsAndSCs.jsx
Due: eslint

test: Add e2e tests for DatePicker
  frontend/cypress/e2e/components.cy.js
Due: eslint

chore: testing
  .github/actions/bump-and-tag/index.js
Due: eslint

Bump OpenAPI version from 0.1.10 to 0.1.11
  backend/openapi.yml
Due: none

Bump OpenAPI version from 0.1.11 to 0.1.12
  backend/openapi.yml
Due: none

trying 1.1.4
  frontend/Dockerfile
Due: none

chore: testing
  .github/workflows/dev_fe_build_and_deploy.yml
Due: none

chore: testing
  frontend/package.json
Due: none

chore: added az login external to deploy action as v2 has bug
  .github/workflows/dev_fe_build_and_deploy.yml
Due: none

chore: added az login external to deploy action as v2 has bug
  .github/workflows/dev_be_build_and_deploy.yml
Due: none

fix: Changed from global install to local, fix permissions
  frontend/Dockerfile.azure
Due: none

feat: ✨ adds validation to DatePicker in EditMode (#2206)
  frontend/cypress/e2e/components.cy.js
  frontend/src/components/BudgetLineItems/BudgetLinesForm/BudgetLinesForm.jsx
  frontend/src/components/BudgetLineItems/BudgetLinesForm/datePickerSuite.js
  frontend/src/components/BudgetLineItems/CreateBLIsAndSCs/CreateBLIsAndSCs.jsx
  frontend/src/components/UI/USWDS/Tooltip/Tooltip.jsx
Due: eslint

ci: version bump to ops-frontend-v1.0.6
  frontend/package.json
Due: none

chore: testing output
  .github/workflows/dev_fe_tag_test.yml
Due: none

ci: version bump to ops-frontend-v1.0.7
  frontend/package.json
Due: none

feat: Add DateRangePickerPage to router
  frontend/src/components/UI/USWDS/DateRangePicker/DateRangePicker.jsx
  frontend/src/components/UI/USWDS/DateRangePicker/index.js
  frontend/src/index.jsx
  frontend/src/pages/DateRangePickerPage.jsx
Due: eslint

ci: version bump to ops-frontend-v1.0.8
  frontend/package.json
Due: none

remove refs to get_current_user()
  backend/ops_api/ops/auth/authorization_providers.py
  backend/ops_api/ops/auth/extension_config.py
  backend/ops_api/ops/auth/service.py
  backend/ops_api/ops/db.py
  backend/ops_api/ops/history.py
Due: nox-lint

refactor: rename to add wrapper since it just wraps two DatePicker components
  frontend/src/components/UI/USWDS/DateRangePicker/index.js
  frontend/src/components/UI/USWDS/DateRangePickerWrapper/DateRangePickerWrapper.jsx
  frontend/src/components/UI/USWDS/DateRangePickerWrapper/index.js
  frontend/src/pages/DateRangePickerPage.jsx
Due: eslint

include change requests in the budget-line-items response and some cleanup
  backend/models/cans.py
  backend/ops_api/ops/resources/budget_line_items.py
  backend/ops_api/ops/resources/change_requests.py
  backend/ops_api/ops/schemas/budget_line_items.py
  backend/ops_api/ops/schemas/users.py
  backend/ops_api/ops/utils/api_helpers.py
  backend/ops_api/tests/ops/workflows/test_workflows.py
Due: nox-lint

move logging to include change request instead of just direct edits
  backend/ops_api/ops/resources/budget_line_items.py
Due: nox-lint

restore change requests after merge
  backend/ops_api/ops/auth/auth_enum.py
  backend/ops_api/ops/resources/budget_line_items.py
  backend/ops_api/ops/resources/change_requests.py
Due: nox-lint

openapi docs for change requests embedded in BLIs with some cleanup
  backend/openapi.yml
  backend/ops_api/ops/schemas/budget_line_items.py
  backend/ops_api/ops/schemas/users.py
Due: nox-lint

refactor get_user_from_sub
  backend/ops_api/ops/auth/decorators.py
  backend/ops_api/ops/auth/utils.py
  backend/ops_api/ops/resources/notifications.py
  backend/ops_api/ops/resources/procurement_steps.py
  backend/ops_api/ops/resources/workflow_approve.py
  backend/ops_api/ops/resources/workflow_submit.py
  backend/ops_api/ops/utils/events.py
  backend/ops_api/ops/utils/procurement_workflow_helper.py
  backend/ops_api/tests/auth/test_oidc_controller.py
Due: nox-lint

openapi docs for change-request-reviews endpoint
  backend/openapi.yml
Due: none

fix openapi doc ref and other cleanup
  backend/openapi.yml
  backend/ops_api/ops/resources/change_requests.py
  backend/ops_api/tests/ops/can/test_budget_line_item.py
Due: nox-lint

chore: using hash for azure login
  .github/workflows/dev_be_build_and_deploy.yml
  .github/workflows/dev_fe_build_and_deploy.yml
Due: none

Path conditions:
  nox-lint: any of: \.py$
  eslint: any of: \.(js|mjs|cjs)$, \.jsx$, \.css$, \.(html|htm|xhtml)$
