Repository HHS/OPRE-OPS: changes, and which pre-commit hooks are due for each by the changed paths.
All: nox-lint, eslint

nox-lint:
  name: nox-lint
  entry: bash -c 'cd ./backend/ops_api && pipenv run nox -s lint'
  language: system
  pass_filenames: false

eslint:
  name: eslint
  entry: bash -c 'cd ./frontend/ && bun lint'
  language: system
  pass_filenames: false

chore: removed the utils
  backend/utils/config_picker.py
Due: nox-lint

refactor: ♻️ Refactor CreateBLIsAndSCs component and add deleteBudgetLineItem functionality
  frontend/src/api/opsAPI.js
  frontend/src/components/UI/WizardSteps/CreateBLIsAndSCs/CreateBLIsAndSCs.jsx
  frontend/src/components/UI/WizardSteps/CreateBLIsAndSCs/createBLIsAndSCs.hooks.js
Due: eslint

add some mocks to hopefully get around issues in GHA
  backend/ops_api/tests/ops/auth/test_oidc_controller.py
Due: nox-lint

refactor: ♻️ handleSetBudgetLineForEditingById in useCreateBLIsAndSCs hook
  frontend/src/components/UI/WizardSteps/CreateBLIsAndSCs/createBLIsAndSCs.hooks.js
Due: eslint

fix: Remove unnecessary click event in cancelBudgetLine.cy.js
  frontend/cypress/e2e/cancelBudgetLine.cy.js
Due: eslint

restore property after merge conflict
  backend/alembic/versions/2024_03_07_2134-8d84b1eda157_add_procurement_tracking_to_.py
  backend/models/cans.py
Due: nox-lint

rework migration for WorkflowAction Enum to use alembic-postgresql-enum
  backend/alembic/versions/2024_03_07_2134-8d84b1eda157_add_procurement_tracking_to_.py
Due: nox-lint

rework migration for WorkflowAction Enum to use alembic-postgresql-enum
  backend/alembic/versions/2024_03_13_1947-6c85c1668a9f_add_procurement_tracking_to_.py
Due: nox-lint

add function to delete procurement workflow
  backend/ops_api/ops/utils/procurement_workflow_helper.py
  backend/ops_api/tests/ops/utils/test_procurement_workflow_helper.py
Due: nox-lint

cleanup TODO
  backend/ops_api/ops/utils/procurement_workflow_helper.py
Due: nox-lint

add delete docs
  openapi.yml
Due: none

add delete BLI mutation
  frontend/src/api/opsAPI.js
Due: eslint

chore: Added admin creds
  backend/Dockerfile.data-tools-import
  terraform/eastus/ops/dev/stacks/data-tools/main.tf
Due: none

fix: Refactor handleEditAgreement to use agreementId instead of agreement object
  frontend/src/components/Agreements/AgreementsTable/agreements-table.hooks.js
Due: eslint

fix: Update URL in createAgreement.cy.js test case
  frontend/cypress/e2e/createAgreement.cy.js
Due: eslint

fix: Remove unnecessary click event in cancelBudgetLine.cy.js
  frontend/cypress/e2e/createBudgetLine.cy.js
Due: eslint

fix: Update alert message in editAgreement.cy.js test case
  frontend/cypress/e2e/editAgreement.cy.js
Due: eslint

handles change of Service Requirement Type in wizard and BLI form refactor (#2046)
  frontend/cypress/e2e/cancelBudgetLine.cy.js
  frontend/cypress/e2e/createAgreement.cy.js
  frontend/cypress/e2e/createBudgetLine.cy.js
  frontend/cypress/e2e/editAgreement.cy.js
  frontend/src/api/opsAPI.js
  frontend/src/components/Agreements/AgreementEditor/AgreementEditForm.jsx
  frontend/src/components/Agreements/AgreementsTable/agreements-table.hooks.js
  frontend/src/components/BudgetLineItems/ChangeIcons/ChangeIcons.js
  frontend/src/components/UI/Form/BudgetLinesForm/BudgetLinesForm.jsx
  frontend/src/components/UI/Form/BudgetLinesForm/CurrencyInput.jsx
  frontend/src/components/UI/Form/BudgetLinesForm/budgetLinesForm.constants.js
  frontend/src/components/UI/Form/BudgetLinesForm/budgetLinesForm.helpers.js
  frontend/src/components/UI/Form/BudgetLinesForm/budgetLinesForm.hook.js
  frontend/src/components/UI/Form/BudgetLinesForm/index.js
  frontend/src/components/UI/Form/BudgetLinesForm/suite.js
  frontend/src/components/UI/Form/CreateBudgetLinesForm/index.js
  frontend/src/components/UI/WizardSteps/CreateBLIsAndSCs/CreateBLIsAndSCs.jsx
  frontend/src/components/UI/WizardSteps/CreateBLIsAndSCs/createBLIsAndSCs.constants.js
  frontend/src/components/UI/WizardSteps/CreateBLIsAndSCs/createBLIsAndSCs.hooks.js
  frontend/src/components/UI/WizardSteps/CreateBLIsAndSCs/index.js
  frontend/src/components/UI/WizardSteps/CreateBLIsAndSCs/suite.js
  frontend/src/components/UI/WizardSteps/StepCreateBLIsAndSCs/context.js
  frontend/src/components/UI/WizardSteps/StepCreateBLIsAndSCs/index.js
  frontend/src/components/UI/WizardSteps/StepCreateBLIsAndSCs/useCreateBLIsAndSCs.hooks.js
  frontend/src/pages/agreements/CreateAgreementFlow.jsx
  frontend/src/pages/agreements/CreateEditAgreement.jsx
  frontend/src/pages/agreements/EditAgreement.js
  frontend/src/pages/agreements/StepCreateAgreement.jsx
  frontend/src/pages/agreements/StepSelectProject.jsx
  frontend/src/pages/agreements/details/AgreementBudgetLines.jsx
  frontend/src/pages/budgetLines/CreateBudgetLine.jsx
  frontend/src/pages/servicesComponents/AllServicesComponentSelect/AllServicesComponentSelect.jsx
Due: eslint

chore: testing workflow
  .github/workflows/new_be_deply.yml
Due: none

chore: Updated name
  .github/workflows/new_be_deply.yml
Due: none

Update Dockerfile.data-tools-import
  backend/Dockerfile.data-tools-import
Due: none

chore: Test
  .github/workflows/new_be_deply.yml
Due: none

chore: Provided rg and moved auth
  .github/workflows/new_be_deply.yml
Due: none

chore: Created test workflow
  .github/workflows/new_be_deply.yml
Due: none

fix: updated data-tools image name
  .github/workflows/new_be_deply.yml
Due: none

chore: Updated be with non-tf deploy and dt merge
  .github/workflows/dev_be_build_and_deploy.yml
Due: none

chore: Updated fe with non-tf deploy
  .github/workflows/dev_fe_build_and_deploy.yml
Due: none

chore: rollback to v1
  .github/workflows/dev_fe_build_and_deploy.yml
Due: none

fix: forgot this has to be lowercase
  .github/workflows/dev_fe_build_and_deploy.yml
Due: none

chore: cleanup
  .github/workflows/dev_data_tools_deploy.yml
Due: none

chore: using v1 for az login
  .github/workflows/dev_be_build_and_deploy.yml
Due: none

create procurement workflow when approving PLANNED_TO_EXECUTING
  backend/ops_api/ops/resources/workflow_approve.py
  backend/ops_api/ops/utils/procurement_workflow_helper.py
  backend/ops_api/tests/ops/workflows/test_workflow_approve.py
Due: nox-lint

working test for procurement workflow when approving PLANNED_TO_EXECUTING
  backend/data_tools/data/workflow_data.json5
  backend/ops_api/ops/resources/workflow_approve.py
  backend/ops_api/tests/ops/workflows/test_workflow_approve.py
Due: nox-lint

add missing delete docs
  openapi.yml
Due: none

fix/edit text
  openapi.yml
Due: none

add tests to verify procurement_tracker_workflow_id exists on the agreement and is populated after approval of PLANNED_TO_EXECUTING
  backend/ops_api/ops/resources/agreements.py
  backend/ops_api/ops/schemas/agreements.py
  backend/ops_api/tests/ops/agreement/test_agreement.py
  backend/ops_api/tests/ops/workflows/test_workflow_approve.py
Due: nox-lint

docs and another test detail for procurement_tracker_workflow_id
  backend/ops_api/tests/ops/workflows/test_workflow_approve.py
  openapi.yml
Due: nox-lint

refactor: ♻️ Refactor test files
  frontend/src/components/Agreements/AgreementSelect/AgreementSelect.test.js
  frontend/src/components/Agreements/ProcurementShopSelect/ProcurementShopSelect.test.js
  frontend/src/components/Agreements/ProcurementShopSelectWithFee/ProcurementShopSelectWithFee.test.js
  frontend/src/components/Portfolios/PortfoliosComboBox/PortfoliosComboBox.test.js
Due: eslint

Path conditions:
  nox-lint: any of: \.py$
  eslint: any of: \.(js|mjs|cjs)$, \.jsx$, \.css$, \.(html|htm|xhtml)$
