Repository HHS/OPRE-OPS: changes, and which pre-commit hooks are due for each by the changed paths.
All: nox-lint, eslint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: detect-aws-credentials
      - id: detect-private-key
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-json
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict

  ## Used to find secrets throughout the repository.
  -   repo: https://github.com/ibm/detect-secrets
      rev: 0.13.1+ibm.54.dss # https://github.com/Yelp/detect-secrets/releases
      hooks:
      -   id: detect-secrets
          args: ['--baseline', '.secrets.baseline']
          exclude: Pipfile.lock
  - repo: https://github.com/hadolint/hadolint
    rev: v2.10.0
    hooks:
      - id: hadolint
  # We're running black, but doing it via nox session instead - see below
  # - repo: https://github.com/psf/black
  #   rev: 22.6.0
  #   hooks:
  #   -   id: black
  - repo: https://github.com/pre-commit/mirrors-isort
    rev: v5.10.1
    hooks:
      - id: isort
  - repo: local
    hooks:
      - id: nox-lint
        name: nox-lint
        entry: bash -c 'cd ./backend_flask/ops_api && pipenv run nox -s lint'
        language: system
        types:
         - python
        pass_filenames: false
      - id: eslint
        name: eslint
        entry: bash -c 'cd ./frontend/ && yarn lint'
        language: system
        types_or:
          - javascript
          - jsx
          - css
          - html
        pass_filenames: false

Stuff was done.
  frontend/src/pages/projects/CreateProject.jsx
Due: eslint

Some stuff done.
  frontend/src/pages/projects/CreateProject.jsx
Due: eslint

Create Project stuff finished...?
  frontend/src/api/postProjects.js
  frontend/src/pages/projects/CreateProject.jsx
  frontend/src/pages/projects/ProjectTypeSelect.jsx
  frontend/src/pages/projects/createProjectSlice.js
Due: eslint

Adding some notes.
  frontend/src/api/postProjects.js
Due: eslint

Trying to get the last bits done right.
  frontend/src/components/UI/Header/Menu.jsx
  frontend/src/index.jsx
  frontend/src/pages/agreements/StepSelectProject.jsx
  frontend/src/pages/projects/CreateProject.jsx
  frontend/src/pages/projects/ProjectTypeSelect.jsx
  frontend/src/store.js
Due: eslint

Buttons moved.
  frontend/src/pages/projects/CreateProject.jsx
Due: eslint

Wrapped in an app, the create projects is looking better.
  frontend/src/pages/projects/CreateProject.jsx
Due: eslint

Updated dependencies.
  backend/data_tools/Pipfile.lock
  backend/ops_api/Pipfile.lock
Due: none

Fixing button text.
  frontend/src/pages/projects/CreateProject.jsx
Due: eslint

Added alert for when a project is created.
  frontend/src/pages/projects/CreateProject.jsx
Due: eslint

Bug squashing.
  backend/ops_api/tests/ops/can/test_budget_line_item.py
  backend/ops_api/tests/ops/research_project/test_research_project.py
Due: nox-lint

Removing unneeded code.
  frontend/src/pages/projects/CreateProject.jsx
Due: eslint

Fixing linting.
  frontend/src/pages/projects/CreateProject.jsx
Due: eslint

wip
  frontend/src/pages/agreements/list/AgreementsList.jsx
Due: eslint

updated sample data - add project_officer to agreements
  backend/data_tools/data/agreements_and_blin_data.json5
Due: none

create ApproveAgreement page
  frontend/src/pages/agreements/ReviewAgreement.jsx
  frontend/src/pages/agreements/StepReviewAgreement.jsx
  frontend/src/pages/agreements/approve/ApproveAgreement.jsx
Due: eslint

removed approve-agreement from createAgreement
  frontend/src/pages/agreements/CreateAgreement.jsx
Due: eslint

refactored, getUser already defined in /api/getUser
  frontend/src/pages/agreements/list/AgreementTableRow.jsx
Due: eslint

refactored, so that PreviewTable supports passed in BLIs
  frontend/src/pages/budgetLines/PreviewTable.jsx
Due: eslint

add getAgreementById api wrapper
  frontend/src/api/getAgreements.js
  frontend/src/api/opsAPI.js
Due: eslint

added ApproveAgreement page to router
  frontend/src/index.jsx
Due: eslint

removed oidc restriction on getUserByID
  backend/ops_api/ops/resources/users.py
Due: nox-lint

updated psc requestbody param
  backend/ops_api/ops/resources/agreements.py
Due: nox-lint

linting
  backend/models/cans.py
Due: nox-lint

black formatting
  backend/ops_api/tests/ops/agreement/test_agreement.py
  backend/ops_api/tests/ops/funding_summary/test_research_project_funding_summary.py
Due: nox-lint

update tests
  backend/ops_api/tests/ops/agreement/test_agreement.py
  backend/ops_api/tests/ops/users/test_users.py
Due: nox-lint

redirect after BLI added
  frontend/src/pages/agreements/StepCreateBudgetLines.jsx
Due: eslint

fix tests
  backend/ops_api/tests/ops/agreement/test_agreement.py
  backend/ops_api/tests/ops/users/test_users.py
Due: nox-lint

updated button navigation
  frontend/src/pages/agreements/StepCreateBudgetLines.jsx
  frontend/src/pages/agreements/list/AgreementTableRow.jsx
Due: eslint

getting unit tests happier
  backend/ops_api/tests/ops/agreement/test_agreement.py
  backend/ops_api/tests/ops/can/test_budget_line_item.py
  backend/ops_api/tests/ops/can/test_can.py
  backend/ops_api/tests/ops/can/test_can_fiscal_year.py
  backend/ops_api/tests/ops/research_project/test_research_project.py
Due: nox-lint

number of contracts test
  backend/ops_api/tests/ops/agreement/test_agreement.py
Due: nox-lint

cleanup
  frontend/src/components/UI/Form/ProjectSelect.jsx
Due: eslint

removes Create Budget line link from nav
  frontend/src/components/UI/Header/Menu.jsx
Due: eslint

no App needed
  frontend/src/pages/agreements/CreateAgreement.jsx
Due: eslint

cleanup
  frontend/src/pages/agreements/CreateAgreement.jsx
Due: eslint

removes double App wrapper
  frontend/src/pages/agreements/CreateAgreement.jsx
  frontend/src/pages/agreements/StepSelectProject.jsx
Due: eslint

bug:product_service_code_id
  frontend/src/api/postAgreements.js
Due: eslint

better vert spacing
  frontend/src/pages/agreements/AgreementReasonSelect.jsx
  frontend/src/pages/agreements/StepCreateAgreement.jsx
Due: eslint

fixed pytest, after data change
  backend/data_tools/data/can_data.json5
  backend/ops_api/tests/ops/agreement/test_agreement.py
  backend/ops_api/tests/ops/can/test_can.py
  backend/ops_api/tests/ops/research_project/test_research_project.py
Due: nox-lint

removes Proc Shop instructions
  frontend/src/pages/agreements/StepCreateAgreement.jsx
Due: eslint
