Repository HHS/OPRE-OPS: changes, and which pre-commit hooks are due for each by the changed paths.
All: nox-lint, eslint

nox-lint:
  name: nox-lint
  entry: bash -c 'cd ./backend/ops_api && pipenv run nox -s lint'
  language: system
  pass_filenames: false

eslint:
  name: eslint
  entry: bash -c 'cd ./frontend/ && bun lint'
  language: system
  pass_filenames: false

chore: testing output
  .github/workflows/dev_fe_tag_test.yml
Due: none

ci: version bump to ops-frontend-v1.0.9
  frontend/package.json
Due: none

chore: testing output
  .github/workflows/dev_be_tag_test.yml
Due: none

Bump OpenAPI version from 0.1.12 to 0.1.13
  backend/openapi.yml
Due: none

chore: testing output
  .github/actions/bump-and-tag/index.js
Due: eslint

Bump OpenAPI version from 0.1.13 to 0.1.14
  backend/openapi.yml
Due: none

use marshmallow to validate login request
  backend/ops_api/ops/auth/api.py
  backend/ops_api/ops/auth/schema.py
  backend/ops_api/ops/auth/service.py
Due: nox-lint

refactor: Update DateRangePickerWrapper to use React hooks for mounting and unmounting
  frontend/src/components/UI/USWDS/DateRangePickerWrapper/DateRangePickerWrapper.jsx
Due: eslint

use enum ProviderTypes to login request handling
  backend/ops_api/ops/auth/auth_types.py
  backend/ops_api/ops/auth/schema.py
  backend/ops_api/ops/auth/service.py
Due: nox-lint

chore: testing output
  .github/workflows/dev_be_tag_test.yml
  .github/workflows/dev_fe_tag_test.yml
Due: none

Bump OpenAPI version from 0.1.14 to 0.1.15
  backend/openapi.yml
Due: none

Bump OpenAPI version from 0.1.15 to 0.1.16
  backend/openapi.yml
Due: none

ci: version bump to ops-frontend-v1.0.10
  frontend/package.json
Due: none

feat: added versioning bump and deploy
  .github/workflows/dev_fe_build_and_deploy.yml
Due: none

fix: Needs write contents perms
  .github/workflows/dev_fe_build_and_deploy.yml
Due: none

ci: version bump to ops-frontend-v1.0.11
  frontend/package.json
Due: none

feat: starts template
  docs/developers/onboarding.md
Due: none

chore: set output across jobs
  .github/workflows/dev_fe_build_and_deploy.yml
Due: none

ci: version bump to ops-frontend-v1.0.12
  frontend/package.json
Due: none

feat: added versioning bump and deploy
  .github/workflows/dev_be_build_and_deploy.yml
Due: none

chore: added dependency install for action
  .github/workflows/dev_be_build_and_deploy.yml
Due: none

Bump OpenAPI version from 0.1.16 to 0.1.17
  backend/openapi.yml
Due: none

ci: version bump to ops-frontend-v1.1.0
  frontend/package.json
Due: none

Bump OpenAPI version from 0.1.17 to 0.1.18
  backend/openapi.yml
Due: none

feat: added automated versioning
  .github/actions/bump-and-tag/action.yml
  .github/actions/bump-and-tag/index.js
  .github/actions/bump-and-tag/package-lock.json
  .github/actions/bump-and-tag/package.json
  .github/workflows/dev_be_build_and_deploy.yml
  .github/workflows/dev_fe_build_and_deploy.yml
Due: eslint

style: newline
  .github/workflows/dev_be_build_and_deploy.yml
  .github/workflows/dev_fe_build_and_deploy.yml
Due: none

feat: Add conventional commit determination
  .github/actions/bump-and-tag/index.js
Due: eslint

Bump OpenAPI version from 0.1 to 0.2.0
  backend/openapi.yml
Due: none

cleanup
  backend/ops_api/ops/resources/change_requests.py
Due: nox-lint

chore: testing
  .github/actions/bump-and-tag/index.js
  backend/openapi.yml
Due: eslint

chore: testing
  .github/actions/bump-and-tag/index.js
Due: eslint

Bump OpenAPI version from 0.1.0 to 0.1.1
  backend/openapi.yml
Due: none

major: testing message
  backend/openapi.yml
Due: none

Bump OpenAPI version from 0.1.1 to 1.0.0
  backend/openapi.yml
Due: none

chore: fix tag output and test
  .github/actions/bump-and-tag/index.js
  backend/openapi.yml
Due: eslint

chore: fix tag output and test
  .github/actions/bump-and-tag/index.js
Due: eslint

Bump OpenAPI version from 0.1.1 to 0.1.2
  backend/openapi.yml
Due: none

Path conditions:
  nox-lint: any of: \.py$
  eslint: any of: \.(js|mjs|cjs)$, \.jsx$, \.css$, \.(html|htm|xhtml)$
