Repository HHS/OPRE-OPS: changes, and which pre-commit hooks are due for each by the changed paths.
All: nox-lint, eslint

nox-lint:
  name: nox-lint
  entry: bash -c 'cd ./backend_flask/ops_api && pipenv run nox -s lint'
  language: system
  pass_filenames: false

eslint:
  name: eslint
  entry: bash -c 'cd ./frontend/ && yarn lint'
  language: system
  pass_filenames: false

fix research project url
  frontend/src/pages/researchProjects/detail/ResearchProjectDetail.jsx
Due: eslint

fix linting error
  frontend/src/pages/portfolios/detail/PortfolioDetail.jsx
Due: eslint

add more e2e for researchProjectDetail.cy.js
  frontend/cypress/e2e/researchProjectDetail.cy.js
Due: eslint

test
  frontend/cypress/e2e/researchProjectDetail.cy.js
Due: eslint

undo test
  frontend/cypress/e2e/researchProjectDetail.cy.js
Due: eslint

remove e2e failing for no reason (runs fine locally)
  frontend/cypress/e2e/researchProjectDetail.cy.js
Due: eslint

test - add data-tools unit tests to GHA
  .github/workflows/unit_test_reusable.yml
  .secrets.baseline
Due: none

test - add data-tools unit tests to GHA
  .github/workflows/unit_test_reusable.yml
  backend/data_tools/Pipfile
  backend/data_tools/Pipfile.lock
Due: none

test - add data-tools unit tests to GHA
  .github/workflows/unit_test_reusable.yml
Due: none

test - add data-tools unit tests to GHA
  backend/data_tools/.flake8
  backend/data_tools/Pipfile
  backend/data_tools/Pipfile.lock
  backend/data_tools/noxfile.py
  backend/data_tools/pyproject.toml
  backend/data_tools/src/etl_data_from_excel/excel_models.py
  backend/data_tools/tests/conftest.py
  backend/data_tools/tests/import_static_data/test_import_data.py
  backend/ops_api/.flake8
Due: nox-lint

update path in GHA
  .github/workflows/build_data_tools.yml
Due: none

fix api unit tests
  README.md
  backend/data_tools/Pipfile
  backend/data_tools/Pipfile.lock
  backend/data_tools/tests/ops_models.py
  backend/ops_api/Pipfile
  backend/ops_api/Pipfile.lock
  backend/ops_api/conftest.py
  backend/ops_api/ops/__init__.py
  backend/ops_api/ops/db.py
  backend/ops_api/pytest.ini
  backend/ops_api/tests/ops/conftest.py
  backend/ops_api/tests/ops/research_project/test_research_project.py
  backend/ops_api/tests/ops/test_db_utils.py
Due: nox-lint

adds sass loop for colors
  frontend/.eslintrc.json
  frontend/sass/uswds/styles.scss
  frontend/src/uswds/css/styles.css
  frontend/src/uswds/css/styles.css.map
Due: eslint

starts ui improvements
  frontend/src/components/CANs/CanCard/CanCard.jsx
Due: eslint

re-enable api unit tests
  .github/workflows/unit_test_reusable.yml
Due: none

change path to data-tools in manifest.yml
  manifest.yml
Due: none

change paths to deployed_run.sh
  backend/ops_api/deployed_run.sh
  manifest.yml
Due: none

change paths to deployed_run.sh
  manifest.yml
Due: none

change paths to deployed_run.sh
  backend/ops_api/deployed_run.sh
Due: none

change paths to deployed_run.sh
  backend/ops_api/ops/environment/cloud.py
Due: nox-lint

change paths for data-import
  backend/data_tools/scripts/import_data.sh
  backend/ops_api/deployed_run.sh
  backend/ops_api/ops/__init__.py
  manifest.yml
Due: nox-lint

adds definition list and better vertical spacing
  frontend/src/components/CANs/CanCard/CanCard.jsx
  frontend/src/components/CANs/CanCard/styles.module.css
Due: eslint

change paths for data-import
  backend/data_tools/src/import_static_data/import_data.py
Due: nox-lint

change paths for data-import
  .github/workflows/deploy_reusable.yml
  docs/cloud_gov.md
Due: none

fix data-import unit tests
  backend/data_tools/tests/import_static_data/test_import_data.py
Due: nox-lint

cleanup db_service fixture
  backend/data_tools/tests/conftest.py
Due: nox-lint

made changes as per review
  backend/data_tools/environment/cloudgov.py
  backend/data_tools/environment/dev.py
  backend/data_tools/tests/docker-compose.yml
Due: nox-lint

updates brand colors
  frontend/sass/uswds/styles.scss
  frontend/src/uswds/css/styles.css
  frontend/src/uswds/css/styles.css.map
Due: eslint

allows for passing in classes
  frontend/src/components/CANs/CANFundingYTD/CANFundingYTD.jsx
  frontend/src/components/UI/Tag/Tag.jsx
Due: eslint

wip
  frontend/src/components/CANs/CanCard/CanCard.jsx
  frontend/src/components/CANs/CanCard/styles.module.css
Due: eslint

WIP
  backend/ops_api/ops/environment/cloud/dev.py
  backend/ops_api/ops/environment/cloud/staging.py
  backend/ops_api/ops/environment/local/container.py
  backend/ops_api/ops/models/cans.py
  backend/ops_api/ops/models/portfolios.py
  backend/ops_api/ops/models/users.py
  backend/ops_api/ops/resources/users.py
  backend/ops_api/ops/utils/auth_views.py
  backend/ops_api/tests/ops/conftest.py
  data-tools/data/user_data.json5
  docs/Git-Branching.md
  frontend/src/components/Auth/AuthSection.jsx
  frontend/src/helpers/backend.js
Due: nox-lint, eslint

Path conditions:
  nox-lint: any of: \.py$
  eslint: any of: \.(js|mjs|cjs)$, \.jsx$, \.css$, \.(html|htm|xhtml)$
