Repository HHS/OPRE-OPS: changes, and which pre-commit hooks are due for each by the changed paths.
All: nox-lint, eslint

nox-lint:
  name: nox-lint
  entry: bash -c 'cd ./backend/ops_api && pipenv run nox -s lint'
  language: system
  pass_filenames: false

eslint:
  name: eslint
  entry: bash -c 'cd ./frontend/ && bun lint'
  language: system
  pass_filenames: false

build: make compose platform independent and separate profiles into separate files
  backend/data_tools/tests/docker-compose.yml
  backend/ops_api/tests/docker-compose.yml
  docker-compose.demo.yml
  docker-compose.static.yml
Due: none

docs: update with new compose file instructions
  README.md
Due: none

build: update action.yml to use docker-compose.static.yml
  .github/actions/run-full-stack/action.yml
Due: none

build: add semantic-release dep
  frontend/bun.lockb
  frontend/package.json
Due: none

build: add release.yml
  .github/workflows/release.yml
Due: none

docs: update git-branching.md
  docs/git-branching-and-releasing.md
  docs/git-branching.md
Due: none

feat: adds CanBudgetLines Table and Row
  frontend/src/components/CANs/CANBudgetLineTable/CABBudgetLineTable.constants.js
  frontend/src/components/CANs/CANBudgetLineTable/CANBudgetLineTable.jsx
  frontend/src/components/CANs/CANBudgetLineTable/CANBudgetLineTableRow.jsx
  frontend/src/components/CANs/CANBudgetLineTable/index.js
  frontend/src/pages/cans/detail/CanSpending.jsx
Due: eslint

chore: wip
  frontend/src/components/CANs/CANBudgetLineTable/CABBudgetLineTable.constants.js
  frontend/src/components/CANs/CANBudgetLineTable/CANBudgetLineTable.jsx
  frontend/src/components/CANs/CANBudgetLineTable/CANBudgetLineTableRow.jsx
Due: eslint

feat: filter CAN BLIs by fiscal year
  frontend/src/components/CANs/CANBudgetLineTable/CANBudgetLineTable.jsx
  frontend/src/components/CANs/CANBudgetLineTable/CANBudgetLineTableRow.jsx
  frontend/src/pages/cans/detail/Can.jsx
Due: eslint

feat: adds Expandable Row
  frontend/src/components/CANs/CANBudgetLineTable/CANBudgetLineTable.jsx
  frontend/src/components/CANs/CANBudgetLineTable/CANBudgetLineTableRow.jsx
Due: eslint

style: use correct icon
  frontend/src/components/CANs/CANBudgetLineTable/CANBudgetLineTableRow.jsx
Due: eslint

refactor: Refactoring azure document repository to route through app gateway instead of communicating directly with blob storage.
  backend/ops_api/ops/document/azure_document_repository.py
  backend/ops_api/ops/document/document_gateway.py
  frontend/src/components/Agreements/Documents/Documents.constants.js
Due: nox-lint, eslint

feat: adds messages to in_review BLI
  frontend/src/components/CANs/CANBudgetLineTable/CANBudgetLineTable.jsx
  frontend/src/components/CANs/CANBudgetLineTable/CANBudgetLineTableRow.jsx
Due: eslint

test: adds unit/e2e tests
  frontend/cypress/e2e/canDetail.cy.js
  frontend/src/components/CANs/CANBudgetLineTable/CANBudgetLineTable.test.jsx
  frontend/src/components/CANs/CANBudgetLineTable/CANBudgetLineTableRow.test.jsx
Due: eslint

test: wrong can data
  frontend/cypress/e2e/canDetail.cy.js
Due: eslint

chore: test
  .pre-commit-config.yaml
Due: none

feat: adds notes
  frontend/src/components/CANs/CANBudgetLineTable/CANBudgetLineTable.jsx
  frontend/src/components/CANs/CANBudgetLineTable/CANBudgetLineTableRow.jsx
Due: eslint

test: adds comments
  frontend/src/components/CANs/CANBudgetLineTable/CANBudgetLineTableRow.test.jsx
Due: eslint

build: update FE lock file
  frontend/bun.lockb
Due: none

refactor: Route document upload through app gateway
  backend/ops_api/ops/document/azure_document_repository.py
  backend/ops_api/ops/document/document_gateway.py
  frontend/src/components/Agreements/Documents/Documents.constants.js
Due: nox-lint, eslint

refactor: route through app gateway
  backend/ops_api/ops/document/azure_document_repository.py
  backend/ops_api/ops/document/document_gateway.py
  frontend/src/components/Agreements/Documents/Documents.constants.js
Due: nox-lint, eslint

build: re-use setup-javascript
  .github/workflows/release.yml
Due: none

fix: fixing failed tests
  frontend/src/components/Agreements/Documents/Document.test.js
Due: eslint

build: upgrade bun in GHA
  .github/actions/setup-javascript/action.yml
Due: none

chore: wip
  frontend/src/api/opsAPI.js
  frontend/src/pages/cans/detail/Can.jsx
  frontend/src/pages/cans/detail/CanSpending.jsx
Due: eslint

test: disabling upload tests while localhost upload fix in progress
  frontend/cypress/e2e/uploadDocument.cy.js
Due: eslint

refactor: update api calls
  frontend/src/api/opsAPI.js
  frontend/src/components/CANs/CANTable/CANTableRow.jsx
Due: eslint

refactor: change request filter
  backend/ops_api/ops/schemas/budget_line_items.py
  frontend/src/components/Portfolios/PortfolioTypes.d.ts
  frontend/src/helpers/changeRequests.helpers.js
  frontend/src/pages/agreements/approve/ApproveAgreement.hooks.js
  frontend/src/pages/agreements/approve/ApproveAgreement.jsx
Due: nox-lint, eslint

feat: ✨adds CAN Spending page BLI Table (#3029)
  .pre-commit-config.yaml
  frontend/cypress/e2e/canDetail.cy.js
  frontend/src/components/CANs/CANBudgetLineTable/CABBudgetLineTable.constants.js
  frontend/src/components/CANs/CANBudgetLineTable/CANBudgetLineTable.jsx
  frontend/src/components/CANs/CANBudgetLineTable/CANBudgetLineTable.test.jsx
  frontend/src/components/CANs/CANBudgetLineTable/CANBudgetLineTableRow.jsx
  frontend/src/components/CANs/CANBudgetLineTable/CANBudgetLineTableRow.test.jsx
  frontend/src/components/CANs/CANBudgetLineTable/index.js
  frontend/src/index.jsx
  frontend/src/pages/cans/detail/Can.jsx
  frontend/src/pages/cans/detail/CanDetail.jsx
  frontend/src/pages/cans/detail/CanSpending.jsx
Due: eslint

feat: adds BigBudgetCard
  frontend/src/components/UI/Cards/BudgetCard/BigBudgetCard.jsx
  frontend/src/pages/cans/detail/CanSpending.jsx
Due: eslint

chore: cleanup
  frontend/src/api/opsAPI.js
Due: eslint

build: attempt to use node for dependency rather than bun
  .github/workflows/release.yml
Due: none

refactor: :construction: filters budgetline by fiscal year
  frontend/src/api/opsAPI.js
  frontend/src/constants.js
  frontend/src/pages/agreements/approve/ApproveAgreement.hooks.js
  frontend/src/pages/cans/detail/Can.jsx
  frontend/src/pages/cans/detail/CanSpending.jsx
Due: eslint

build: change to fe directory
  .github/workflows/release.yml
Due: none

refactor: adds a variable for TBD
  frontend/src/constants.js
  frontend/src/pages/cans/detail/Can.jsx
Due: eslint

style: label changes
  frontend/src/pages/cans/detail/Can.jsx
Due: eslint

test: fixes e2e test
  frontend/cypress/e2e/canDetail.cy.js
Due: eslint

refactor: budgetline and cn schemas
  backend/ops_api/ops/schemas/budget_line_items.py
  backend/ops_api/ops/schemas/cans.py
  frontend/src/helpers/changeRequests.helpers.js
  frontend/src/pages/agreements/approve/ApproveAgreement.hooks.js
Due: nox-lint, eslint

Path conditions:
  nox-lint: any of: \.py$
  eslint: any of: \.(js|mjs|cjs)$, \.jsx$, \.css$, \.(html|htm|xhtml)$
