Repository HHS/OPRE-OPS: changes, and which pre-commit hooks are due for each by the changed paths.
All: nox-lint, eslint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: detect-aws-credentials
      - id: detect-private-key
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-json
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict

  - repo: https://github.com/hadolint/hadolint
    rev: v2.10.0
    hooks:
      - id: hadolint
  # We're running black, but doing it via nox session instead - see below
  # - repo: https://github.com/psf/black
  #   rev: 22.6.0
  #   hooks:
  #   -   id: black
  - repo: https://github.com/pre-commit/mirrors-isort
    rev: v5.10.1
    hooks:
      - id: isort
        args: ["--profile", "black", "--filter-files"]
  - repo: https://github.com/antonbabenko/pre-commit-terraform
    rev: v1.76.0
    hooks:
      - id: terraform_fmt
      - id: terraform_tflint
  - repo: local
    hooks:
      - id: nox-lint
        name: nox-lint
        entry: bash -c 'cd ./backend/ops_api && pipenv run nox -s lint'
        language: system
        types:
          - python
        pass_filenames: false
      - id: eslint
        name: eslint
        entry: bash -c 'cd ./frontend/ && bun lint'
        language: system
        types_or:
          - javascript
          - jsx
          - css
          - html
        pass_filenames: false

cleanup
  frontend/src/pages/servicesComponents/ServicesComponentListItem/ServicesComponentListItem.js
  frontend/src/pages/servicesComponents/ServicesComponentsList/ServicesComponentsList.js
Due: eslint

fixes min height issue
  frontend/src/pages/servicesComponents/ServicesComponentListItem/ServicesComponentListItem.js
Due: eslint

Add Tag component to ServicesComponentListItem.js
  frontend/src/pages/servicesComponents/ServicesComponentListItem/ServicesComponentListItem.js
Due: eslint

adds placeholder tags for Cans outside of division
  frontend/src/components/Agreements/AgreementCANReviewAccordion/AgreementCANReviewAccordion.js
Due: eslint

adds todos
  frontend/src/pages/servicesComponents/ServicesComponentForm/ServicesComponentForm.js
  frontend/src/pages/servicesComponents/ServicesComponentListItem/ServicesComponentListItem.js
  frontend/src/pages/servicesComponents/ServicesComponents.jsx
Due: eslint

feedback from todays demo
  frontend/src/pages/servicesComponents/ServicesComponentForm/ServicesComponentForm.js
  frontend/src/pages/servicesComponents/ServicesComponentListItem/ServicesComponentListItem.js
  frontend/src/pages/servicesComponents/ServicesComponents.jsx
  frontend/src/pages/servicesComponents/ServicesComponentsList/ServicesComponentsList.js
Due: eslint

- adds edit mode - Rename components to jsx
  frontend/package.json
  frontend/src/components/UI/Form/DesiredAwardDate/MonthSelect.jsx
  frontend/src/pages/servicesComponents/PoPEndDate/PoPEndDate.jsx
  frontend/src/pages/servicesComponents/PoPStartDate/PoPStartDate.jsx
  frontend/src/pages/servicesComponents/ServicesComponentForm/ServicesComponentForm.jsx
  frontend/src/pages/servicesComponents/ServicesComponentListItem/ServicesComponentListItem.jsx
  frontend/src/pages/servicesComponents/ServicesComponentSelect/ServicesComponentSelect.jsx
  frontend/src/pages/servicesComponents/ServicesComponents.jsx
  frontend/src/pages/servicesComponents/ServicesComponentsList/ServicesComponentsList.js
  frontend/src/pages/servicesComponents/ServicesComponentsList/ServicesComponentsList.jsx
Due: eslint

Fix incorrect argument type in DesiredAwardDate test
  frontend/src/components/UI/Form/DesiredAwardDate/DesiredAwardDate.test.js
Due: eslint

Remove unused code and wire up delete functionality in ServicesComponentListItem
  frontend/src/pages/servicesComponents/ServicesComponentForm/ServicesComponentForm.jsx
  frontend/src/pages/servicesComponents/ServicesComponentListItem/ServicesComponentListItem.jsx
  frontend/src/pages/servicesComponents/ServicesComponents.jsx
  frontend/src/pages/servicesComponents/ServicesComponentsList/ServicesComponentsList.jsx
Due: eslint

fix: another renovate fix
  terraform/eus/dev/frontend_asa/build_bun/context.tf
Due: none

adds ServiceComponent GET and POST endpoints GET (by ID) /services-component/<id>, GET (list) /services-component/?contract_agreement_id=1, POST /services-component/
  backend/models/cans.py
  backend/ops_api/ops/resources/services_component.py
  backend/ops_api/ops/resources/services_component_schemas.py
  backend/ops_api/ops/urls.py
  backend/ops_api/ops/views.py
  backend/ops_api/tests/ops/can/test_services_component.py
Due: nox-lint

Refactor ServicesComponentForm and add ConfirmationModal
  frontend/src/pages/servicesComponents/ServicesComponentForm/ServicesComponentForm.jsx
  frontend/src/pages/servicesComponents/ServicesComponents.jsx
Due: eslint

adds ServiceComponent PATCH and PUT endpoints
  backend/ops_api/ops/resources/services_component.py
  backend/ops_api/ops/resources/services_component_schemas.py
  backend/ops_api/ops/utils/api_helpers.py
  backend/ops_api/tests/ops/can/test_services_component.py
Due: nox-lint

adds ServiceComponent.optional to API schemas
  backend/ops_api/ops/resources/services_component_schemas.py
  backend/ops_api/tests/ops/can/test_services_component.py
Due: nox-lint

Refactor service components and add debug code
  frontend/src/pages/servicesComponents/DebugCode/DebugCode.js
  frontend/src/pages/servicesComponents/DebugCode/index.js
  frontend/src/pages/servicesComponents/ServiceReqTypeSelect/ServiceReqTypeSelect.jsx
  frontend/src/pages/servicesComponents/ServicesComponentForm/ServicesComponentForm.jsx
  frontend/src/pages/servicesComponents/ServicesComponentListItem/ServicesComponentListItem.jsx
  frontend/src/pages/servicesComponents/ServicesComponents.jsx
  frontend/src/pages/servicesComponents/ServicesComponentsList/ServicesComponentsList.jsx
  frontend/src/pages/servicesComponents/servicesComponents.constants.js
  frontend/src/pages/servicesComponents/servicesComponents.helpers.js
  frontend/src/pages/servicesComponents/servicesComponents.hooks.js
Due: eslint

adds event types for ServicesComponent
  backend/models/events.py
  backend/ops_api/ops/resources/services_component.py
  backend/ops_api/tests/ops/can/test_services_component.py
Due: nox-lint

fix and rename tests
  backend/ops_api/tests/ops/can/test_services_component.py
Due: nox-lint

Refactor ServicesComponentListItem and ServicesComponentsList
  frontend/src/pages/servicesComponents/ServicesComponentListItem/ServicesComponentListItem.jsx
  frontend/src/pages/servicesComponents/ServicesComponents.jsx
  frontend/src/pages/servicesComponents/ServicesComponentsList/ServicesComponentsList.jsx
  frontend/src/pages/servicesComponents/servicesComponents.constants.js
  frontend/src/pages/servicesComponents/servicesComponents.helpers.js
  frontend/src/pages/servicesComponents/servicesComponents.hooks.js
Due: eslint

implements permissions for ServicesComponents API similar to BLIs
  backend/data_tools/data/user_data.json5
  backend/ops_api/ops/resources/services_component.py
  backend/ops_api/ops/utils/auth.py
  backend/ops_api/tests/ops/can/test_services_component.py
Due: nox-lint

removed commented code
  backend/ops_api/ops/base_views.py
Due: nox-lint

revert unwanted change and then actually removed commented code
  backend/ops_api/ops/base_views.py
  backend/ops_api/ops/resources/services_component.py
Due: nox-lint

add extra check for DELETE (same as PUT/PATCH)
  backend/ops_api/ops/resources/services_component.py
Due: nox-lint

Ops 1852/round two (#1922)
  frontend/package.json
  frontend/src/components/UI/Form/DesiredAwardDate/DesiredAwardDate.test.js
  frontend/src/components/UI/Form/DesiredAwardDate/MonthSelect.jsx
  frontend/src/pages/servicesComponents/DebugCode/DebugCode.js
  frontend/src/pages/servicesComponents/DebugCode/index.js
  frontend/src/pages/servicesComponents/PoPEndDate/PoPEndDate.jsx
  frontend/src/pages/servicesComponents/PoPStartDate/PoPStartDate.jsx
  frontend/src/pages/servicesComponents/ServiceReqTypeSelect/ServiceReqTypeSelect.jsx
  frontend/src/pages/servicesComponents/ServicesComponentForm/ServicesComponentForm.jsx
  frontend/src/pages/servicesComponents/ServicesComponentListItem/ServicesComponentListItem.jsx
  frontend/src/pages/servicesComponents/ServicesComponentSelect/ServicesComponentSelect.jsx
  frontend/src/pages/servicesComponents/ServicesComponents.jsx
  frontend/src/pages/servicesComponents/ServicesComponentsList/ServicesComponentsList.js
  frontend/src/pages/servicesComponents/ServicesComponentsList/ServicesComponentsList.jsx
  frontend/src/pages/servicesComponents/servicesComponents.constants.js
  frontend/src/pages/servicesComponents/servicesComponents.helpers.js
  frontend/src/pages/servicesComponents/servicesComponents.hooks.js
Due: eslint

simplify query to one liner
  backend/ops_api/ops/resources/services_component.py
Due: nox-lint

starts round three
  frontend/src/pages/servicesComponents/ServicesComponentListItem/ServicesComponentListItem.jsx
  frontend/src/pages/servicesComponents/servicesComponents.constants.js
  frontend/src/pages/servicesComponents/servicesComponents.helpers.js
  frontend/src/pages/servicesComponents/servicesComponents.hooks.js
Due: eslint

starts prepping data to backend
  frontend/src/pages/servicesComponents/ServicesComponentListItem/ServicesComponentListItem.jsx
  frontend/src/pages/servicesComponents/servicesComponents.helpers.js
  frontend/src/pages/servicesComponents/servicesComponents.hooks.js
Due: eslint

Add valueOverride prop to Select component and format service component in ServicesComponentForm
  frontend/src/pages/servicesComponents/Select/Select.jsx
  frontend/src/pages/servicesComponents/ServicesComponentForm/ServicesComponentForm.jsx
  frontend/src/pages/servicesComponents/ServicesComponentSelect/ServicesComponentSelect.jsx
  frontend/src/pages/servicesComponents/servicesComponents.constants.js
  frontend/src/pages/servicesComponents/servicesComponents.hooks.js
Due: eslint

re-introduce secret-scanning to CI workflow using Trufflehog
  .github/workflows/ci.yml
Due: none

forgot the "sha256" part of the digest
  .github/workflows/ci.yml
Due: none

use safe env var (pre-interpolate)
  .github/workflows/ci.yml
Due: none

Refactor service type options and constants
  frontend/src/pages/servicesComponents/DebugCode/DebugCode.js
  frontend/src/pages/servicesComponents/ServiceReqTypeSelect/ServiceReqTypeSelect.jsx
  frontend/src/pages/servicesComponents/ServicesComponentForm/ServicesComponentForm.jsx
  frontend/src/pages/servicesComponents/servicesComponents.constants.js
Due: eslint

minor enhancement to CodeQL
  .github/workflows/security_codeql.yml
Due: none

Update serviceReqType in backendServicesComponents
  frontend/src/pages/servicesComponents/servicesComponents.constants.js
  frontend/src/pages/servicesComponents/servicesComponents.helpers.js
Due: eslint

Remove initialServicesComponent and update error message in formatServiceComponent
  frontend/src/pages/servicesComponents/servicesComponents.constants.js
  frontend/src/pages/servicesComponents/servicesComponents.helpers.js
Due: eslint

typo
  .github/workflows/ci.yml
Due: none

github being dumb - updated version
  .github/workflows/ci.yml
Due: none

tim being dumb
  .github/workflows/ci.yml
Due: none

docker syntax
  .github/workflows/ci.yml
Due: none

test run
  .github/workflows/ci.yml
Due: none

attempt 3
  .github/workflows/ci.yml
Due: none
