Repository HHS/OPRE-OPS: changes, and which pre-commit hooks are due for each by the changed paths.
All: nox-lint, eslint

nox-lint:
  name: nox-lint
  entry: bash -c 'cd ./backend/ops_api && pipenv run nox -s lint'
  language: system
  pass_filenames: false

eslint:
  name: eslint
  entry: bash -c 'cd ./frontend/ && bun lint'
  language: system
  pass_filenames: false

WIP: separating financial changes
  backend/ops_api/ops/resources/budget_line_items.py
  backend/ops_api/ops/resources/change_requests.py
Due: nox-lint

fix: typo
  frontend/src/components/ServicesComponents/PoPEndDate/PoPEndDate.jsx
  frontend/src/components/ServicesComponents/PoPStartDate/PoPStartDate.jsx
Due: eslint

refactor: removes unneeded wrapper
  frontend/src/components/ServicesComponents/ServicesComponents.jsx
Due: eslint

style: :lipstick: Refactor ServicesComponentForm and ServicesComponentSelect components
  frontend/src/components/ServicesComponents/ServicesComponentForm/ServicesComponentForm.jsx
  frontend/src/components/ServicesComponents/ServicesComponentSelect/ServicesComponentSelect.jsx
  frontend/src/components/UI/Form/IsRequiredHelper/IsRequiredHelper.jsx
  frontend/src/components/UI/Select/Select.jsx
Due: eslint

WIP: separating financial changes and some cleanup
  backend/models/workflows_experimental.py
  backend/ops_api/ops/resources/budget_line_items.py
  backend/ops_api/tests/ops/workflows/test_workflows_experimental.py
Due: nox-lint

comment only
  backend/ops_api/ops/resources/budget_line_items.py
Due: nox-lint

feat: :sparkles: adds Tooltips for SCs and disabled logix
  frontend/src/components/ServicesComponents/ServicesComponentListItem/ServicesComponentListItem.jsx
  frontend/src/components/ServicesComponents/ServicesComponentsList/ServicesComponentsList.jsx
Due: eslint

getting date_needed to work and some investigation of non-financial changes
  backend/ops_api/ops/resources/budget_line_items.py
  backend/ops_api/ops/resources/change_requests.py
  backend/ops_api/tests/ops/workflows/test_workflows_experimental.py
Due: nox-lint

adds SCs to Agreement BLI tab (edit mode) (#2132)
  frontend/bun.lockb
  frontend/cypress/e2e/reviewAgreement.cy.js
  frontend/src/components/Agreements/AgreementBLIAccordion/AgreementBLIAccordion.jsx
  frontend/src/components/Agreements/AgreementBudgetLinesHeader.jsx
  frontend/src/components/BudgetLineItems/CreateBLIsAndSCs/CreateBLIsAndSCs.jsx
  frontend/src/components/BudgetLineItems/CreateBLIsAndSCs/createBLIsAndSCs.constants.js
  frontend/src/components/BudgetLineItems/CreateBLIsAndSCs/createBLIsAndSCs.hooks.js
  frontend/src/components/BudgetLineItems/CreateBLIsAndSCs/index.js
  frontend/src/components/BudgetLineItems/CreateBLIsAndSCs/suite.js
  frontend/src/components/ServicesComponents/AllServicesComponentSelect/AllServicesComponentSelect.jsx
  frontend/src/components/ServicesComponents/PoPEndDate/PoPEndDate.jsx
  frontend/src/components/ServicesComponents/PoPStartDate/PoPStartDate.jsx
  frontend/src/components/ServicesComponents/ServicesComponentForm/ServicesComponentForm.jsx
  frontend/src/components/ServicesComponents/ServicesComponentListItem/ServicesComponentListItem.jsx
  frontend/src/components/ServicesComponents/ServicesComponentSelect/ServicesComponentSelect.jsx
  frontend/src/components/ServicesComponents/ServicesComponents.jsx
  frontend/src/components/ServicesComponents/ServicesComponentsList/ServicesComponentsList.jsx
  frontend/src/components/UI/Form/FormHeader/FormHeader.jsx
  frontend/src/components/UI/Form/FormHeader/index.js
  frontend/src/components/UI/Form/IsRequiredHelper/IsRequiredHelper.jsx
  frontend/src/components/UI/Select/Select.jsx
  frontend/src/pages/agreements/CreateEditAgreement.jsx
  frontend/src/pages/agreements/details/AgreementBudgetLines.jsx
  frontend/src/pages/budgetLines/CreateBudgetLine.jsx
Due: eslint

testing with can_id
  backend/ops_api/tests/ops/workflows/test_workflows_experimental.py
Due: nox-lint

fix cascade delete from BLI
  backend/alembic/versions/2024_03_28_1956-5201c6cfc223_change_request_entity_experimental.py
  backend/models/workflows_experimental.py
  backend/ops_api/tests/ops/workflows/test_workflows_experimental.py
Due: nox-lint

update User.division to be optional
  backend/alembic/versions/2024_03_28_2023-ff7132d9d0c0_make_user_division_optional.py
  backend/models/users.py
  backend/ops_api/pytest.ini
Due: nox-lint

fix some tests - not including those with edits that were direct before and aren't now (200 vs 202 etc)
  backend/ops_api/ops/resources/budget_line_items.py
  backend/ops_api/tests/ops/can/test_budget_line_item.py
Due: nox-lint

change tests of editing PLANNED BLIs to check for 202
  backend/ops_api/tests/ops/features/test_edit_planned_budget_line.py
Due: nox-lint

refactor: ♻️ Update IsRequiredHelper component to handle isRequiredNoShow prop
  frontend/src/components/UI/Form/IsRequiredHelper/IsRequiredHelper.jsx
Due: eslint

refactor: IsRequiredHelper component to handle isRequiredNoShow prop
  frontend/src/components/UI/Form/IsRequiredHelper/IsRequiredHelper.jsx
Due: eslint

refactor: :recycle: replaces services component short code for BL_id
  frontend/src/components/BudgetLineItems/BudgetLinesTable/BLIRow.js
  frontend/src/components/BudgetLineItems/BudgetLinesTable/BudgetLinesTable.constants.js
  frontend/src/components/BudgetLineItems/BudgetLinesTable/BudgetLinesTable.jsx
Due: eslint

refactor: BLIReviewRow and BLIReviewTable components
  frontend/src/components/BudgetLineItems/BLIReviewTable/BLIReviewRow.js
  frontend/src/components/BudgetLineItems/BLIReviewTable/BLIReviewTable.js
  frontend/src/components/BudgetLineItems/BudgetLinesTable/BudgetLinesTable.constants.js
Due: eslint

refactor: AllBLIRow component to simplify code and update BL ID display
  frontend/src/components/BudgetLineItems/AllBudgetLinesTable/AllBLIRow.js
  frontend/src/components/BudgetLineItems/AllBudgetLinesTable/AllBudgetLinesTable.constants.js
  frontend/src/components/BudgetLineItems/AllBudgetLinesTable/AllBudgetLinesTable.js
Due: eslint

tests: Update display_name in BudgetLineItems table test
  frontend/src/components/BudgetLineItems/BudgetLinesTable/BudgetLinesTable.test.js
Due: eslint

refactor: budget line deletion confirmation message to use budget line ID instead of display name
  frontend/src/components/BudgetLineItems/CreateBLIsAndSCs/createBLIsAndSCs.hooks.js
Due: eslint

fix: 🐛 disabled state and tooltips in ChangeIcons.js
  frontend/src/components/BudgetLineItems/ChangeIcons/ChangeIcons.js
Due: eslint

refactor: adds agreement name to modal
  frontend/src/components/Agreements/AgreementsTable/agreements-table.hooks.js
Due: eslint

refactor: cleanup and moves onlick to button
  frontend/src/components/BudgetLineItems/ChangeIcons/ChangeIcons.js
Due: eslint

refactor: TextClip component to import React from "react" before importing USWDS
  frontend/src/components/UI/Text/TextClip.js
Due: eslint

refactor: getProcurementShopSubTotal function to handle empty budgetLines array in agreement.helpers.js
  frontend/src/helpers/agreement.helpers.js
Due: eslint

refactor: cleanup imports and JSDocs
  frontend/src/components/Agreements/AgreementsTable/AgreementTableRow.jsx
Due: eslint

tests: Add unit tests for getProcurementShopSubTotal function in agreement.helpers.test.js
  frontend/src/helpers/agreement.helpers.test.js
Due: eslint

cleanup
  frontend/src/helpers/agreement.helpers.test.js
Due: eslint

refactor: agreementDelete.cy.js to improve code readability and remove unused variables
  frontend/cypress/e2e/agreementDelete.cy.js
Due: eslint

refactor: agreementDelete.cy.js to update confirmation message with dynamic agreement name
  frontend/cypress/e2e/agreementDelete.cy.js
Due: eslint

linting along with black 24 upgrade
  backend/data_tools/Pipfile
  backend/data_tools/Pipfile.lock
  backend/ops_api/.flake8
  backend/ops_api/Pipfile
  backend/ops_api/Pipfile.lock
  backend/ops_api/ops/resources/procurement_shops.py
  backend/ops_api/ops/resources/product_service_code.py
  backend/ops_api/ops/resources/workflow_submit.py
  backend/ops_api/tests/ops/can/test_can_fiscal_year_carry_over.py
  backend/ops_api/tests/ops/conftest.py
  backend/ops_api/tests/ops/features/test_edit_planned_budget_line.py
  backend/ops_api/tests/ops/features/test_validate_draft_budget_lines.py
  backend/ops_api/tests/ops/features/test_validate_draft_budget_lines_in_workflow.py
Due: nox-lint

changing links
  docs/Security-Compliance/Security-Controls/ac/ac-02-01.md
  docs/Security-Compliance/Security-Controls/ac/ac-02.md
Due: none

ac-02-02-simplification
  docs/Security-Compliance/Security-Controls/ac/ac-02-02.md
Due: none

embettering contents
  docs/Security-Compliance/Security-Controls/README.md
  docs/Security-Compliance/Security-Controls/ac/index.md
  docs/Security-Compliance/Security-Controls/at/at-2.md
Due: none

ac-02-03
  docs/Security-Compliance/Security-Controls/README.md
  docs/Security-Compliance/Security-Controls/ac/ac-02-03.md
Due: none

Refactor display_name property in BudgetLineItem class to use f-string for improved readability
  backend/models/cans.py
Due: nox-lint

refactor: :recycle: adds SC to all BLI table
  frontend/src/components/BudgetLineItems/AllBudgetLinesTable/AllBLIRow.js
  frontend/src/components/BudgetLineItems/AllBudgetLinesTable/AllBudgetLinesTable.constants.js
  frontend/src/pages/budgetLines/list/BudgetLineItemList.jsx
Due: eslint

feat: :sparkles: adds hard delete a BLI from BLI list
  frontend/src/components/BudgetLineItems/AllBudgetLinesTable/AllBLIRow.jsx
  frontend/src/components/BudgetLineItems/AllBudgetLinesTable/AllBudgetLinesTable.hooks.js
  frontend/src/components/BudgetLineItems/AllBudgetLinesTable/AllBudgetLinesTable.jsx
  frontend/src/components/BudgetLineItems/BLIReviewTable/BLIReviewRow.jsx
  frontend/src/components/BudgetLineItems/BLIReviewTable/BLIReviewTable.jsx
  frontend/src/components/BudgetLineItems/BudgetLinesTable/BLIRow.jsx
  frontend/src/components/BudgetLineItems/ChangeIcons/ChangeIcons.jsx
  frontend/src/components/BudgetLineItems/CreateBLIsAndSCs/CreateBLIsAndSCs.jsx
  frontend/src/components/BudgetLineItems/CreateBLIsAndSCs/createBLIsAndSCs.hooks.js
Due: eslint

Path conditions:
  nox-lint: any of: \.py$
  eslint: any of: \.(js|mjs|cjs)$, \.jsx$, \.css$, \.(html|htm|xhtml)$
