Repository HHS/OPRE-OPS: changes, and which pre-commit hooks are due for each by the changed paths.
All: nox-lint, eslint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: detect-aws-credentials
      - id: detect-private-key
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-json
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict

  ## Used to find secrets throughout the repository.
  -   repo: https://github.com/ibm/detect-secrets
      rev: 0.13.1+ibm.54.dss # https://github.com/Yelp/detect-secrets/releases
      hooks:
      -   id: detect-secrets
          args: ['--baseline', '.secrets.baseline']
          exclude: Pipfile.lock
  - repo: https://github.com/hadolint/hadolint
    rev: v2.10.0
    hooks:
      - id: hadolint
  # We're running black, but doing it via nox session instead - see below
  # - repo: https://github.com/psf/black
  #   rev: 22.6.0
  #   hooks:
  #   -   id: black
  - repo: https://github.com/pre-commit/mirrors-isort
    rev: v5.10.1
    hooks:
      - id: isort
  - repo: local
    hooks:
      - id: nox-lint
        name: nox-lint
        entry: bash -c 'cd ./backend_flask/ops_api && pipenv run nox -s lint'
        language: system
        types:
         - python
        pass_filenames: false
      - id: eslint
        name: eslint
        entry: bash -c 'cd ./frontend/ && yarn lint'
        language: system
        types_or:
          - javascript
          - jsx
          - css
          - html
        pass_filenames: false

WIP - kinda working
  frontend/src/pages/budgetLines/CreateBudgetLine.jsx
  frontend/src/pages/budgetLines/ProjectSelect.jsx
Due: eslint

minor adr cleanup
  docs/adr/017-use-flask-for-back-end-web-framework.md
  docs/adr/deprecated/005-use-django-for-back-end-web-framework.md
Due: none

Update index.md
  docs/Security-Compliance/Security-Controls/cm-02/index.md
Due: none

Update index.md
  docs/Security-Compliance/Security-Controls/cm-02-2/index.md
Due: none

Update index.md
  docs/Security-Compliance/Security-Controls/cm-02-3/index.md
Due: none

Update index.md
  docs/Security-Compliance/Security-Controls/cm-03-2/index.md
Due: none

Update index.md
  docs/Security-Compliance/Security-Controls/cm-04/index.md
Due: none

Update index.md
  docs/Security-Compliance/Security-Controls/cm-04-2/index.md
Due: none

Update index.md
  docs/Security-Compliance/Security-Controls/cm-05/index.md
Due: none

Update index.md
  docs/Security-Compliance/Security-Controls/cm-07-1/index.md
Due: none

Update index.md
  docs/Security-Compliance/Security-Controls/cm-07-2/index.md
Due: none

initial remove flask-sqlalchemy; replace 404 functions and a few SQLAlchemy v1 API queries
  .secrets.baseline
  backend/ops_api/Pipfile
  backend/ops_api/Pipfile.lock
  backend/ops_api/ops/__init__.py
  backend/ops_api/ops/base_views.py
  backend/ops_api/ops/db.py
  backend/ops_api/ops/environment/local/localhost.py
  backend/ops_api/ops/resources/agreements.py
  backend/ops_api/ops/resources/can_funding_summary.py
  backend/ops_api/ops/resources/portfolio_calculate_funding.py
  backend/ops_api/ops/resources/portfolio_funding_summary.py
  backend/ops_api/ops/resources/portfolios.py
  backend/ops_api/ops/resources/research_projects.py
  backend/ops_api/ops/resources/users.py
  backend/ops_api/ops/utils/auth.py
  backend/ops_api/ops/utils/portfolios.py
  backend/ops_api/ops/utils/research_project_helper.py
  backend/ops_api/ops/utils/user.py
  backend/ops_api/tests/ops/agreement/test_agreement.py
  backend/ops_api/tests/ops/can/test_budget_line_item.py
  backend/ops_api/tests/ops/can/test_can.py
  backend/ops_api/tests/ops/can/test_can_fiscal_year.py
  backend/ops_api/tests/ops/can/test_can_fiscal_year_carry_over.py
  backend/ops_api/tests/ops/can/test_funding_partner.py
  backend/ops_api/tests/ops/can/test_funding_source.py
  backend/ops_api/tests/ops/conftest.py
  backend/ops_api/tests/ops/funding_summary/test_can_funding_summary.py
  backend/ops_api/tests/ops/funding_summary/test_research_project_funding_summary.py
  backend/ops_api/tests/ops/portfolio/test_division.py
  backend/ops_api/tests/ops/portfolio/test_portfolio.py
  backend/ops_api/tests/ops/portfolio/test_portfolio_url.py
  backend/ops_api/tests/ops/research_project/test_research_project.py
  backend/ops_api/tests/ops/users/test_users.py
Due: nox-lint

initial remove flask-sqlalchemy; replace 404 functions and a few SQLAlchemy v1 API queries
  backend/models/__init__.py
Due: nox-lint

pre-load data
  frontend/package.json
  frontend/src/App.jsx
  frontend/src/helpers/preFetchData.js
  frontend/src/pages/budgetLines/CreateBudgetLine.jsx
  frontend/src/pages/budgetLines/DynamicSelect.jsx
  frontend/src/pages/budgetLines/ProjectSelect.jsx
  frontend/yarn.lock
Due: eslint

bug:remove ref to invalid public key
  backend/ops_api/ops/environment/local/e2e.py
  docker-compose.e2e.yml
Due: nox-lint

fix password being echoed to log
  backend/data_tools/src/import_static_data/import_data.py
  backend/data_tools/src/import_static_data/load_db.py
Due: nox-lint

getAllAgreements
  frontend/src/api/getAgreements.js
Due: eslint

add back e2e key (didn't understand what it was doing before I read the README)
  backend/ops_api/ops/environment/local/e2e.py
  docker-compose.e2e.yml
Due: nox-lint

bug:dup adding headers to response
  backend/ops_api/ops/resources/users.py
Due: nox-lint

add close db session when request completes
  backend/ops_api/ops/__init__.py
Due: nox-lint

adds agreements
  .secrets.baseline
  openapi.yml
Due: none

cleanup
  frontend/src/pages/budgetLines/CreateBudgetLine.jsx
Due: eslint

updates button layout
  frontend/src/pages/budgetLines/CreateBudgetLine.jsx
Due: eslint

from working meeting on 2023-03-22
  docs/Security-Compliance/Security-Controls/README.md
  docs/Security-Compliance/Security-Controls/cm-03-2/index.md
  docs/Security-Compliance/Security-Controls/cm-04/index.md
  docs/Security-Compliance/Security-Controls/cm-05/index.md
  docs/Security-Compliance/Security-Controls/cm-07-2/index.md
  docs/Security-Compliance/Security-Controls/cm-08-1/index.md
  docs/Security-Compliance/Security-Controls/cm-08-3/index.md
  docs/Security-Compliance/Security-Controls/cm-08/index.md
  docs/Security-Compliance/Security-Controls/cm-09/index.md
  docs/Security-Compliance/Security-Controls/cm-10/index.md
  docs/Security-Compliance/Security-Controls/cm-11/index.md
  docs/Security-Compliance/Security-Controls/cm-12-1/index.md
  docs/Security-Compliance/Security-Controls/cm-12/index.md
Due: none

updated manifest, doesn't need username
  manifest.docker.yml
Due: none

fixed a typo
  backend/data_tools/scripts/import_data.sh
Due: none

created tmp Dockerfile
  frontend/Dockerfile.cg-frontend
Due: none

updated openapi
  .secrets.baseline
  openapi.yml
Due: none

better redux state on selected
  frontend/src/pages/budgetLines/ProjectSelect.jsx
Due: eslint

updates layout for side by side dropdown and card
  frontend/src/pages/budgetLines/ProjectSelect.jsx
Due: eslint

added data-tools readme
  .secrets.baseline
  backend/data_tools/README.md
Due: none

updated temp configs
  backend/Dockerfile.cg-data-tools
  frontend/Dockerfile.cg-frontend
  manifest.docker.yml
Due: none

updates label colors
  frontend/src/components/CANs/CanCard/CanCard.jsx
  frontend/src/components/Portfolios/PortfolioFundingByBudgetStatus/PortfolioFundingByBudgetStatus.jsx
  frontend/src/components/Portfolios/ResearchProjects/ProjectsAndAgreements.jsx
  frontend/src/components/UI/CurrencySummaryCard/CurrencySummaryCard.jsx
Due: eslint

cleanup
  frontend/src/components/UI/RoundedBox/RoundedBox.jsx
Due: eslint

adds summary card
  frontend/src/pages/budgetLines/ProjectSelect.jsx
Due: eslint

styles container
  frontend/src/pages/budgetLines/ProjectSelect.jsx
Due: eslint

cleanup
  frontend/src/pages/budgetLines/ProjectSelect.jsx
Due: eslint
