Repository HHS/OPRE-OPS: changes, and which pre-commit hooks are due for each by the changed paths.
All: nox-lint, eslint

nox-lint:
  name: nox-lint
  entry: bash -c 'cd ./backend/ops_api && pipenv run nox -s lint'
  language: system
  pass_filenames: false

eslint:
  name: eslint
  entry: bash -c 'cd ./frontend/ && bun lint'
  language: system
  pass_filenames: false

cleanup
  backend/ops_api/ops/resources/procurement_steps.py
Due: nox-lint

remove stale files
  backend/migration/Pipfile
  backend/migration/Pipfile.lock
  backend/migration/docker-compose.yml
Due: none

fix: webserver route issues
  frontend/index.js
Due: eslint

feat: :sparkles: adds ServicesComponentAccordion
  frontend/src/components/UI/WizardSteps/StepCreateBLIsAndSCs/StepCreateBLIsAndSCs.jsx
  frontend/src/components/UI/WizardSteps/StepCreateBLIsAndSCs/context.js
  frontend/src/components/UI/WizardSteps/StepCreateBLIsAndSCs/useCreateBLIsAndSCs.hooks.js
  frontend/src/pages/servicesComponents/ServicesComponentAccordion/ServicesComponentAccordion.jsx
  frontend/src/pages/servicesComponents/ServicesComponentAccordion/index.js
Due: eslint

Ops 1960/agreement patch bug (#2004)
  frontend/cypress/e2e/agreementDetails.cy.js
  frontend/src/components/Agreements/AgreementEditor/AgreementEditForm.jsx
  frontend/src/components/Agreements/DetailsTabs/DetailsTabs.jsx
  frontend/src/hooks/useHasStateChanged.hooks.js
  frontend/src/hooks/useHasStateChanged.test.js
  frontend/src/pages/agreements/details/Agreement.jsx
  frontend/src/pages/agreements/details/AgreementDetails.jsx
  frontend/src/pages/agreements/details/AgreementDetailsEdit.jsx
  frontend/src/pages/servicesComponents/DebugCode/DebugCode.js
  frontend/src/pages/servicesComponents/DebugCode/DebugCode.jsx
Due: eslint

chore: testing action
  .github/workflows/dev_fe_build_and_deploy.yml
Due: none

chore: Added terraform code
  terraform/eastus/ops/dev/modules/container-app/main.tf
  terraform/eastus/ops/dev/modules/container-app/outputs.tf
  terraform/eastus/ops/dev/modules/container-app/variables.tf
  terraform/eastus/ops/dev/modules/pg-schema/main.tf
  terraform/eastus/ops/dev/modules/pg-schema/outputs.tf
  terraform/eastus/ops/dev/modules/pg-schema/provider.tf
  terraform/eastus/ops/dev/modules/pg-schema/variables.tf
  terraform/eastus/ops/dev/stacks/backend/.terraform.lock.hcl
  terraform/eastus/ops/dev/stacks/backend/backend.tf
  terraform/eastus/ops/dev/stacks/backend/main.tf
  terraform/eastus/ops/dev/stacks/backend/outputs.tf
  terraform/eastus/ops/dev/stacks/backend/provider.tf
  terraform/eastus/ops/dev/stacks/backend/variables.tf
  terraform/eastus/ops/dev/stacks/data-tools/.terraform.lock.hcl
  terraform/eastus/ops/dev/stacks/data-tools/backend.tf
  terraform/eastus/ops/dev/stacks/data-tools/main.tf
  terraform/eastus/ops/dev/stacks/data-tools/outputs.tf
  terraform/eastus/ops/dev/stacks/data-tools/provider.tf
  terraform/eastus/ops/dev/stacks/data-tools/variables.tf
  terraform/eastus/ops/dev/stacks/frontend/.terraform.lock.hcl
  terraform/eastus/ops/dev/stacks/frontend/backend.tf
  terraform/eastus/ops/dev/stacks/frontend/main.tf
  terraform/eastus/ops/dev/stacks/frontend/outputs.tf
  terraform/eastus/ops/dev/stacks/frontend/provider.tf
  terraform/eastus/ops/dev/stacks/frontend/variables.tf
Due: none

chore: testing action
  .github/workflows/dev_be_build_and_deploy.yml
Due: none

refactor: :recycle: Adds helper function to group and sort BLIs by Service Component id
  frontend/src/components/UI/WizardSteps/StepCreateBLIsAndSCs/StepCreateBLIsAndSCs.jsx
  frontend/src/components/UI/WizardSteps/StepCreateBLIsAndSCs/useCreateBLIsAndSCs.hooks.js
  frontend/src/pages/agreements/CreateEditAgreement.jsx
Due: eslint

style: :wastebasket: removes unneeded DOM element
  frontend/src/components/UI/WizardSteps/StepCreateBLIsAndSCs/StepCreateBLIsAndSCs.jsx
Due: eslint

reworking to use schemas better and prep for generic endpoints
  backend/ops_api/ops/resources/procurement_steps.py
  backend/ops_api/ops/schemas/procurement_steps.py
  backend/ops_api/tests/ops/workflows/test_procurement_steps.py
Due: nox-lint

generic step list endpoint with query by agreement_id
  backend/ops_api/ops/resources/procurement_steps.py
  backend/ops_api/ops/urls.py
  backend/ops_api/ops/views.py
  backend/ops_api/tests/ops/workflows/test_procurement_steps.py
Due: nox-lint

feat: :sparkles: adds Summary cards to Step 3
  frontend/src/components/Agreements/AgreementBLIAccordion/AgreementBLIAccordion.js
  frontend/src/components/Agreements/AgreementDetailsCards/AgreementTotalCard/AgreementTotalCard.jsx
  frontend/src/components/UI/WizardSteps/StepCreateBLIsAndSCs/StepCreateBLIsAndSCs.jsx
  frontend/src/components/UI/WizardSteps/StepCreateBLIsAndSCs/useCreateBLIsAndSCs.hooks.js
  frontend/src/pages/agreements/details/AgreementBudgetLines.jsx
Due: eslint

WIP: added extra_check authorization to PATCH
  backend/ops_api/ops/resources/procurement_steps.py
  backend/ops_api/tests/ops/workflows/test_procurement_steps.py
Due: nox-lint

renamed awarded step
  backend/data_tools/data/workflow_data.json5
Due: none

feat: :sparkles: adds ServicesComponentAccordion (#2016)
  frontend/src/components/UI/WizardSteps/StepCreateBLIsAndSCs/StepCreateBLIsAndSCs.jsx
  frontend/src/components/UI/WizardSteps/StepCreateBLIsAndSCs/context.js
  frontend/src/components/UI/WizardSteps/StepCreateBLIsAndSCs/useCreateBLIsAndSCs.hooks.js
  frontend/src/pages/agreements/CreateEditAgreement.jsx
  frontend/src/pages/servicesComponents/ServicesComponentAccordion/ServicesComponentAccordion.jsx
  frontend/src/pages/servicesComponents/ServicesComponentAccordion/index.js
Due: eslint

feat: :sparkles: adds Summary Cards to Step 3 (#2021)
  frontend/src/components/Agreements/AgreementBLIAccordion/AgreementBLIAccordion.js
  frontend/src/components/Agreements/AgreementDetailsCards/AgreementTotalCard/AgreementTotalCard.jsx
  frontend/src/components/UI/WizardSteps/StepCreateBLIsAndSCs/StepCreateBLIsAndSCs.jsx
  frontend/src/components/UI/WizardSteps/StepCreateBLIsAndSCs/useCreateBLIsAndSCs.hooks.js
  frontend/src/pages/agreements/details/AgreementBudgetLines.jsx
Due: eslint

chore: testing action
  .github/actions/tf-apply/action.yaml
  .github/workflows/dev_be_build_and_deploy.yml
Due: none

use fixtures for test steps that clean up
  backend/ops_api/tests/ops/workflows/test_procurement_steps.py
Due: nox-lint

change step template naming, Awarded -> Award
  backend/data_tools/data/workflow_data.json5
Due: none

chore: testing action
  .github/actions/tf-apply/action.yaml
  .github/workflows/dev_fe_build_and_deploy.yml
Due: none

chore: testing action
  .github/actions/tf-apply/action.yaml
Due: none

remove unused code - a different approach to creation from the workflow side will be used later
  backend/ops_api/ops/utils/procurement_workflow_helper.py
Due: nox-lint

remove commented-out code
  backend/models/workflows.py
Due: nox-lint

fix another name typo
  backend/data_tools/data/workflow_data.json5
Due: none

initial add alembic support
  backend/models/base.py
  backend/models/cans.py
  backend/models/events.py
  backend/models/history.py
  backend/models/notifications.py
  backend/models/portfolios.py
  backend/models/procurement_shops.py
  backend/models/projects.py
  backend/models/users.py
  backend/models/vendors.py
  backend/models/workflows.py
Due: nox-lint

initial add alembic support
  backend/alembic.ini
  backend/alembic/README
  backend/alembic/env.py
  backend/alembic/script.py.mako
Due: nox-lint

initial add alembic support
  backend/data_tools/Pipfile
  backend/data_tools/Pipfile.lock
  backend/ops_api/Pipfile
  backend/ops_api/Pipfile.lock
Due: none

initial add alembic support
  backend/ops_api/tests/ops/conftest.py
Due: nox-lint

initial add alembic support
  backend/ops_api/tests/docker-compose.yml
  docker-compose.debug.yml
  docker-compose.e2e.yml
  docker-compose.yml
Due: none

initial initial migration file
  backend/alembic/versions/2024_02_28_1514-f515d8d67b78_initial_db.py
Due: nox-lint

Path conditions:
  nox-lint: any of: \.py$
  eslint: any of: \.(js|mjs|cjs)$, \.jsx$, \.css$, \.(html|htm|xhtml)$
