Repository HHS/OPRE-OPS: changes, and which pre-commit hooks are due for each by the changed paths.
All: nox-lint, eslint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: detect-aws-credentials
      - id: detect-private-key
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-json
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict

  - repo: https://github.com/hadolint/hadolint
    rev: v2.10.0
    hooks:
      - id: hadolint
  # We're running black, but doing it via nox session instead - see below
  # - repo: https://github.com/psf/black
  #   rev: 22.6.0
  #   hooks:
  #   -   id: black
  - repo: https://github.com/pre-commit/mirrors-isort
    rev: v5.10.1
    hooks:
      - id: isort
        args: ["--profile", "black", "--filter-files"]
  - repo: https://github.com/antonbabenko/pre-commit-terraform
    rev: v1.76.0
    hooks:
      - id: terraform_fmt
      - id: terraform_tflint
  - repo: local
    hooks:
      - id: nox-lint
        name: nox-lint
        entry: bash -c 'cd ./backend/ops_api && pipenv run nox -s lint'
        language: system
        types:
          - python
        pass_filenames: false
      - id: eslint
        name: eslint
        entry: bash -c 'cd ./frontend/ && bun lint'
        language: system
        types_or:
          - javascript
          - jsx
          - css
          - html
        pass_filenames: false

Simple fake commit to enable mobbing.
  backend/ops_api/ops/resources/cans.py
Due: nox-lint

Squashing work from mob session between Frank Pigeon and Reed Johnson
  backend/ops_api/ops/schemas/cans.py
Due: nox-lint

Finishing initial, untested pass of CAN schema. Added portfolio schema to support this. Updated openapi with portfolio schema.
  backend/openapi.yml
  backend/ops_api/ops/schemas/cans.py
  backend/ops_api/ops/schemas/portfolios.py
Due: nox-lint

style: UX feedback updates
  frontend/src/components/CANs/CANFundingBar/CANFundingBar.jsx
  frontend/src/components/CANs/CANFundingCard/CANFundingCard.jsx
  frontend/src/components/UI/RoundedBox/styles.module.css
Due: eslint

remove Projects from CANs
  backend/data_tools/data/can_data.json5
  backend/models/budget_line_items.py
  backend/models/cans.py
  backend/models/projects.py
  backend/ops_api/tests/ops/funding_summary/test_can_funding_summary.py
Due: nox-lint

test: fix busted tests
  frontend/src/components/Agreements/AgreementCANReviewAccordion/AgreementCANReviewAccordion.test.jsx
  frontend/src/components/CANs/CANFundingCard/CanFundingCard.test.jsx
Due: eslint

test: fix more busted tests
  frontend/cypress/e2e/reviewAgreement.cy.js
Due: eslint

Updating openapi doc to match refactored API endpoint.
  backend/openapi.yml
Due: none

Created new tests for 401 codes.
  frontend/src/components/Auth/auth.test.js
  frontend/src/errorMiddleware.js
  frontend/src/errorMiddleware.test.js
Due: eslint

Squashed commit of the following:
  backend/ops_api/ops/resources/cans.py
  backend/ops_api/ops/schemas/cans.py
  backend/ops_api/ops/schemas/portfolios.py
Due: nox-lint

Adjusting projects to be a list of projects, FundingDetails to be a single field instead of a list, and renaming the schema for Project to ProjectSchema. Keeping yml file up to date with changes.
  backend/openapi.yml
  backend/ops_api/ops/schemas/agreements.py
  backend/ops_api/ops/schemas/cans.py
  backend/ops_api/ops/schemas/projects.py
Due: nox-lint

Finished cleaning up some required statuses, also fixed some issues in the openapi.yml file as well as adding tags to every endpoint to improve readability in the generated swagger document.
  backend/openapi.yml
  backend/ops_api/ops/schemas/cans.py
Due: nox-lint

Initial commit work for creation of /cans/<id> POST endpoint.
  backend/ops_api/ops/resources/cans.py
  backend/ops_api/ops/schemas/cans.py
  backend/ops_api/tests/ops/can/test_can.py
Due: nox-lint

remove dead code;add documentation for generating keys
  README.md
  backend/ops_api/ops/environment/local/e2e.py
  backend/ops_api/ops/static/test-public-key.pem
  frontend/cypress.config.js
  frontend/cypress/support/e2e.js
Due: nox-lint, eslint

remove dead code;add documentation for generating keys
  README.md
Due: none

added instructions to prune docker and added pipenv run prefix to pytest
  README.md
Due: none

fixes logic for displaying requestor name
  backend/data_tools/data/agreements_and_blin_data.json5
  frontend/src/components/ChangeRequests/StatusChangeReviewCard/StatusChangeReviewCard.jsx
Due: eslint

test: 🧪adds tests
  frontend/cypress/e2e/statusChangeRequest.cy.js
  frontend/src/components/ChangeRequests/StatusChangeReviewCard/StatusChangeReviewCard.test.jsx
Due: eslint

fix: only shows link for team mebers
  frontend/src/pages/agreements/details/AgreementBudgetLines.jsx
Due: eslint

feat: adds hacker check
  frontend/src/pages/agreements/review/ReviewAgreement.jsx
Due: eslint

test: adds e2e tests
  frontend/cypress/e2e/reviewAgreement.cy.js
Due: eslint

fix: removes unneeded main tag
  frontend/src/pages/ErrorPage.jsx
Due: eslint

test: updates test to check for Error page
  frontend/cypress/e2e/editAgreementAsBasicUser.cy.js
Due: eslint

test: refactor test
  frontend/cypress/e2e/reviewAgreement.cy.js
Due: eslint

fix: Created a fixture that converts local time to UTC
  backend/ops_api/tests/conftest.py
  backend/ops_api/tests/ops/agreement/test_agreement_history.py
Due: nox-lint

fix: only shows link for team members (#2794)
  frontend/cypress/e2e/editAgreementAsBasicUser.cy.js
  frontend/cypress/e2e/reviewAgreement.cy.js
  frontend/src/pages/ErrorPage.jsx
  frontend/src/pages/agreements/details/AgreementBudgetLines.jsx
  frontend/src/pages/agreements/review/ReviewAgreement.jsx
Due: eslint

fix: fixes logic for displaying requestor name (#2788)
  backend/data_tools/data/agreements_and_blin_data.json5
  frontend/cypress/e2e/statusChangeRequest.cy.js
  frontend/src/components/ChangeRequests/StatusChangeReviewCard/StatusChangeReviewCard.jsx
  frontend/src/components/ChangeRequests/StatusChangeReviewCard/StatusChangeReviewCard.test.jsx
Due: eslint

refactor: starts CANs list
  frontend/src/index.jsx
  frontend/src/pages/cans/list/CanList.jsx
  frontend/src/pages/cans/list/CanTabs.jsx
Due: eslint

feat: adds CANTable and friends
  frontend/src/components/CANs/CANTable/CANTable.constants.js
  frontend/src/components/CANs/CANTable/CANTable.jsx
  frontend/src/components/CANs/CANTable/CANTableRow.jsx
  frontend/src/components/CANs/CANTable/index.js
  frontend/src/pages/cans/list/CanList.jsx
Due: eslint

refactor: conditionally render button
  frontend/src/components/Layouts/TablePageLayout/TablePageLayout.jsx
Due: eslint

feat: adds mycans bool
  frontend/src/pages/cans/list/CanList.jsx
Due: eslint

feat: adds method_of_transfer to cans data
  backend/data_tools/data/can_data.json5
Due: none

refactor: use ENUM over string
  backend/ops_api/ops/schemas/cans.py
Due: nox-lint

test: starts tests for CANs list page
  frontend/src/pages/cans/list/CansList.test.jsx
  frontend/src/tests/data.js
  frontend/src/tests/mocks.js
Due: eslint

feat: adds method_of_transfer helper
  frontend/src/helpers/utils.js
Due: eslint

refactor: replaces with RTK Query
  frontend/src/pages/cans/list/CanList.jsx
Due: eslint

feat: adds available funds to table row
  frontend/src/components/CANs/CANTable/CANTable.jsx
  frontend/src/components/CANs/CANTable/CANTableRow.jsx
Due: eslint

chore: remove unneeded modules
  frontend/src/pages/cans/list/CanList.jsx
  frontend/src/pages/cans/list/CansList.test.jsx
  frontend/src/pages/cans/list/canListSlice.js
  frontend/src/pages/cans/list/getCanList.js
  frontend/src/pages/cans/list/getCanList.test.js
  frontend/src/store.js
Due: eslint

Working on patch method for CANs. Added obligate_by date to the CAN schema.
  backend/ops_api/ops/resources/cans.py
  backend/ops_api/ops/schemas/cans.py
  backend/ops_api/ops/services/cans.py
  backend/ops_api/tests/conftest.py
  backend/ops_api/tests/ops/can/test_can.py
Due: nox-lint
