Repository HHS/OPRE-OPS: changes, and which pre-commit hooks are due for each by the changed paths.
All: nox-lint, eslint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: detect-aws-credentials
      - id: detect-private-key
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-json
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict

  ## Used to find secrets throughout the repository.
  -   repo: https://github.com/ibm/detect-secrets
      rev: 0.13.1+ibm.54.dss # https://github.com/Yelp/detect-secrets/releases
      hooks:
      -   id: detect-secrets
          args: ['--baseline', '.secrets.baseline']
          exclude: Pipfile.lock
  - repo: https://github.com/hadolint/hadolint
    rev: v2.10.0
    hooks:
      - id: hadolint
  # We're running black, but doing it via nox session instead - see below
  # - repo: https://github.com/psf/black
  #   rev: 22.6.0
  #   hooks:
  #   -   id: black
  - repo: https://github.com/pre-commit/mirrors-isort
    rev: v5.10.1
    hooks:
      - id: isort
  - repo: local
    hooks:
      - id: nox-lint
        name: nox-lint
        entry: bash -c 'cd ./backend_flask/ops_api && pipenv run nox -s lint'
        language: system
        types:
         - python
        pass_filenames: false
      - id: eslint
        name: eslint
        entry: bash -c 'cd ./frontend/ && yarn lint'
        language: system
        types_or:
          - javascript
          - jsx
          - css
          - html
        pass_filenames: false

in rem
  frontend/src/pages/budgetLines/PreviewTable.jsx
Due: eslint

use flask.make_response to clean up some of the type hints
  backend/ops_api/ops/base_views.py
  backend/ops_api/ops/resources/agreements.py
  backend/ops_api/ops/resources/users.py
Due: nox-lint

style overrides
  frontend/src/pages/budgetLines/PreviewTable.jsx
  frontend/src/pages/budgetLines/PreviewTable.scss
Due: eslint

WIP
  frontend/Dockerfile.cg-frontend
Due: none

WIP
  frontend/nginx.conf
Due: none

option one for duplicate
  frontend/src/pages/budgetLines/PreviewTable.jsx
  frontend/src/pages/budgetLines/createBudgetLineSlice.js
Due: eslint

option 2 for duplicate
  frontend/src/pages/budgetLines/createBudgetLineSlice.js
Due: eslint

adds cancel option when editing
  frontend/src/pages/budgetLines/CreateBudgetLine.jsx
  frontend/src/pages/budgetLines/createBudgetLineSlice.js
Due: eslint

resets state if you go back
  frontend/src/pages/budgetLines/CreateBudgetLine.jsx
  frontend/src/pages/budgetLines/createBudgetLineSlice.js
Due: eslint

better button text
  frontend/src/pages/budgetLines/CreateBudgetLine.jsx
Due: eslint

adds tooltips
  frontend/src/pages/budgetLines/PreviewTable.jsx
Due: eslint

use CurrencyFormater
  frontend/src/pages/budgetLines/CreateBudgetLine.jsx
  frontend/src/pages/budgetLines/PreviewTable.jsx
Due: eslint

fixes CAN edit bug
  frontend/src/pages/budgetLines/createBudgetLineSlice.js
Due: eslint

Task-747 table preview (#800)
  frontend/src/pages/Home.jsx
  frontend/src/pages/budgetLines/AgreementSelect.jsx
  frontend/src/pages/budgetLines/CanSelect.jsx
  frontend/src/pages/budgetLines/CreateBudgetLine.jsx
  frontend/src/pages/budgetLines/DesiredAwardDate.jsx
  frontend/src/pages/budgetLines/PreviewTable.jsx
  frontend/src/pages/budgetLines/PreviewTable.scss
  frontend/src/pages/budgetLines/ProcurementShopSelect.jsx
  frontend/src/pages/budgetLines/ProjectSelect.jsx
  frontend/src/pages/budgetLines/createBudgetLineSlice.js
Due: eslint

More adjustments to make backend connect to front end.
  frontend/src/pages/budgetLines/ProcurementShopSelect.jsx
  frontend/src/pages/budgetLines/getProcurementShopList.js
Due: eslint

Trying to to stuff.
  frontend/src/pages/budgetLines/CreateBudgetLine.jsx
  frontend/src/pages/budgetLines/ProcurementShopSelect.jsx
  frontend/src/pages/budgetLines/createBudgetLineSlice.js
  frontend/src/pages/budgetLines/getProcurementShopList.js
Due: eslint

update BudgetLineItem.line_description to required field
  backend/models/cans.py
Due: nox-lint

initial add POST support to /budget-line-items
  backend/ops_api/ops/resources/budget_line_items.py
  backend/ops_api/tests/ops/can/test_budget_line_item.py
Due: nox-lint

updated proc-shop useEffect
  frontend/src/pages/budgetLines/CreateBudgetLine.jsx
  frontend/src/pages/budgetLines/getProcurementShopList.js
Due: eslint

added await to api
  frontend/src/pages/budgetLines/getProcurementShopList.js
Due: eslint

improve logging
  backend/ops_api/ops/resources/budget_line_items.py
Due: nox-lint

Refactoring, round 1.
  frontend/src/pages/budgetLines/CreateBudgetLine.jsx
  frontend/src/pages/budgetLines/getProcurementShopList.js
Due: eslint

Refactoring, round 2
  frontend/src/api/getProcurementShopList.js
Due: eslint

removes unneeded console logs
  frontend/src/pages/budgetLines/createBudgetLineSlice.js
Due: eslint

Ops 674 bl front end ps hookup (#820)
  frontend/src/api/getProcurementShopList.js
  frontend/src/pages/budgetLines/CreateBudgetLine.jsx
  frontend/src/pages/budgetLines/ProcurementShopSelect.jsx
Due: eslint

comment for style sheet
  frontend/src/pages/budgetLines/PreviewTable.scss
Due: none

no longer needed
  frontend/src/pages/budgetLines/data.js
Due: eslint

better msg
  frontend/src/pages/budgetLines/CreateBudgetLine.jsx
Due: eslint

update button text for update
  frontend/src/pages/budgetLines/CreateBudgetLine.jsx
Due: eslint

add check for if session is closed/rolled back;load meta event in separate session
  backend/ops_api/ops/utils/events.py
  backend/ops_api/tests/ops/auth/test_oidc_controller.py
  backend/ops_api/tests/ops/utils/test_events.py
Due: nox-lint

add CREATE_NEW_BLI event type
  backend/models/events.py
Due: nox-lint

add BLI line_description to test data setup (now required)
  backend/ops_api/tests/ops/funding_summary/test_research_project_funding_summary.py
  backend/ops_api/tests/ops/portfolio/test_portfolio.py
Due: nox-lint

handle new event OpsEventType.CREATE_NEW_BLI
  backend/ops_api/ops/resources/budget_line_items.py
Due: nox-lint

add date_needed to BLI to_dict()
  backend/models/cans.py
Due: nox-lint

Created Contract and supporting objects
  backend/models/cans.py
Due: nox-lint

added additional Annotated columns
  backend/models/base.py
Due: nox-lint

updated data-import to support "contract"
  backend/data_tools/src/import_static_data/import_data.py
Due: nox-lint

added contract sample data, updated agreement data
  backend/data_tools/data/agreements_and_blin_data.json5
Due: none

add OpenAPI spec for /budget-line-items
  .secrets.baseline
  openapi.yml
Due: none

update date_needed to use ISO formatted date
  backend/ops_api/ops/resources/budget_line_items.py
  backend/ops_api/tests/ops/can/test_budget_line_item.py
Due: nox-lint
